.about-intro-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 270px;
    padding-right: 270px;
    margin-top: 40px;
}

.about-intro-image{
    display: block;
    width: 378px;
    height: 378px;
    margin-top: 100px;
}

.about-intro-column{
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-bottom: 100px;
}

.about-intro-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 70px;
}

.about-intro-subtitle{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 30px/38px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}


.about-intro-text, .about-rest-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/38px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
}

.toggle-about-more{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.about-main-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 40px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    max-width: 1198px;
    margin-bottom: 96px;
    margin-top: 90px;
}

.about-main-row{
    display: flex;
    flex-direction: row;
}


.about-hr{
    background: var(--black);
    height: 1px;
    margin: auto;
    width: 90%;
    max-width: 1640px;
}

.about-section-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.about-section-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 40px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 24px;
    text-align: left;
}

.about-section-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 140px;
}

// padding-left: 270px;
// padding-right: 270px;

.about-section-column{
    display: flex;
    flex-direction: column;
}

.about-section-column.padded{
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 270px;
    padding-right: 270px;
}


.about-section-column.grey{
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

.about-section-column.margin-left{
    margin-left: 115px;
}

.about-something-row{
    display: flex;
    flex-direction: row;
}

.about-section-main-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 50px;
}

.about-bamboo-text-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 30px/38px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
}

.about-bamboo-text-title.margin-something{
    margin-bottom: 40px;
}

.about-main-image{
    display: block;
    width: 570px;
    height: auto;
}

.about-bamboo-text-desc{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/38px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
}

.about-section-images{
    display: block;
    position: relative;
    width: auto;
    width: 389px;
    height: 389px;
    margin-left: 146px;
    margin-top: auto;
    margin-bottom: auto;
}

.about-section-row-sustainability{
    display: flex;
    flex-direction: row;
}

.about-section-column.sustainability{
    max-width: 837px;
}

.about-section-row-sustainability.margin-top{
    margin-top: 120px;
}

.about-section-row-sustainability.padded{
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 270px;
    padding-right: 270px;
}

.about-section-images > .image-1, .about-section-images > .image-2{
    // width: 389px;
    // height: 389px;
}

.about-section-images > .image-1{
    position: relative;
    width: 343px;
    height: 346px;
}

.about-section-images > .image-2{
    width: 278px;
    height: 312px;
    position: absolute;
    right: 0;
    top: -200px;
}