.page-header-container{
    height: 300px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header-container.howitworks{
    background: transparent url("/customer_page_images/body/Green-Purple.png") 0% 0% no-repeat padding-box;
}

.page-header-container.about{
    background: transparent url("/customer_page_images/body/Jade-Salmon.png") 0% 0% no-repeat padding-box;
}

.page-header-container.news{
    background: transparent url('/customer_page_images/body/Jade-Salmon.png') 0% 0% no-repeat padding-box;
}

.page-header-container.servicesupport{
    background: transparent url('/customer_page_images/body/Technical-Blue-Purple.png') 0% 0% no-repeat padding-box;
}

.page-header-container.sitemap, .page-header-container.privacypolicy{
    background: transparent url('/customer_page_images/body/Technical-Blue-Purple.png') 0% 0% no-repeat padding-box;
}

.page-header-container.contact{
    background: transparent url('/customer_page_images/body/Green-mustard.png') 0% 0% no-repeat padding-box;
}

.page-header-container.whysell{
    background: transparent url('/customer_page_images/body/Sell-Orange.png') 0% 0% no-repeat padding-box;
}

.page-header-container.yourdetails, .page-header-container.basket{
    background: transparent url('/images/basket_orange.svg') 0% 0% no-repeat padding-box;
}

.page-header-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000066;
    opacity: 1;
}


@media (max-width: 496px){
    .page-header-container{
        height: 138px;
    }
    .page-header-text{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: center;
        font: normal normal normal 30px/38px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 0px 3px 6px #00000066;
        opacity: 1;
    }
}