
.howitworks-container.how-row{
    display: flex;
    flex-direction: row;
    padding: 0 140px;
}

.howitworks-container.how-column{
    display: flex;
    flex-direction: column;
}

.howitworks-col-text{
    max-width: 720px;
}

.howitworks-title{
    // width: 588px;
    // height: 166px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 63px/80px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 63px/80px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 38px;
    margin-left: 0;
}

.howitworks-description{
    // width: 720px;
    // height: 385px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.howitworks-video-container{
    // top: 633px;
    // left: 960px;
    width: 812px;
    height: 457px;
    background: var(--technical-–-violet) 0% 0% no-repeat padding-box;
    background: #A375BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    position: relative;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 90px;
    cursor: pointer;
}

.howitworks-video-container:hover > img{
    transform: scale(1.1);
}

.howitworks-video-container > img {
    width: 150px;
    height: 150px;
    display:block;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s linear;
}

.howitworks-top-element{
    margin-bottom: 100px;
    margin-top: 88px;
}


.howitworks-toggle-sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.howitworks-toggle-element{
    display: flex;
    flex-direction: row;
    padding-top: 62px;
    padding-bottom: 62px;
}

.howitworks-toggle-element.selling{
    //background: var(--celebrate-–-mustard) 0% 0% no-repeat padding-box;
    //background: #FCC44C 0% 0% no-repeat padding-box;
    //opacity: 0.15;
    background: #fff6e4;
}

.howitworks-toggle-element > p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 45px/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--sell-–-orange);
    text-align: center;
    font: normal normal normal 45px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #F28E33;
    opacity: 1;
    height: 62px;
    margin: 0;
}

.howitworks-toggle-element > img {
    display: block;
    width: 53px;
    height: 53px;
}

.rotate-90-deg{
    transform: rotateZ(90deg);
}

.howitworks-selling-sections{
    display: flex;
    flex-direction: column;
}

.selling-section-item{
    background: #fff6e4;
    // padding-bottom: 50px;
    padding-bottom: 100px !important;
    padding-top: 50px;
}

.howitworks-selling-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 40px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 24px;
}

.howitworks-selling-desc{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.howitworks-selling-image{
    display: block;
    width: 287px;
    height: 287px;
    margin-left: 100px;
}

.howitworks-selling-image.post-pack{
    width: 315px;
    // height: auto;
    height: 332px;
    margin-left: 70px;
}

.howitworks-container.how-column.text-description{
    width: 100%;
    max-width: 853px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px){
    .howitworks-top-element{
        margin-top: 40px;
    }
    .howitworks-container.how-row{
        flex-direction: column !important;
    }

    .howitworks-container.how-row{
        padding: 20px;
    }

    .howitworks-title{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-60)/75px var(--unnamed-font-family-sharp-sans-no1-bold) !important;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 60px/75px Sharp Sans No1 Bold !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .howitworks-description{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-medium) !important;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 20px/27px Sharp Sans No1 Medium !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-bottom: 80px;
    }

    .howitworks-video-container{
        width: 100% !important;
        max-width: 465px;
        height: 262px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .howitworks-toggle-element > p {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/30px var(--unnamed-font-family-sharp-sans-no1-bold) !important;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--sell-–-orange);
        text-align: center;
        font: normal normal normal 22px/30px Sharp Sans No1 Bold !important;
        letter-spacing: 0px;
        color: #F28E33;
        opacity: 1;
    }

    .howitworks-selling-image{
        width: 232px;
        height: 232px;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .howitworks-selling-title{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 40px/48px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .howitworks-selling-desc{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-medium);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 20px/27px Sharp Sans No1 Medium;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .howitworks-selling-image.post-pack{
        width: 260px;
        height: 260px;
    }

    .howitworks-container.how-column.text-description{
        width: 100%;
        // max-width: 452px;
        margin: auto;
        margin-bottom: 49px;
    }
}