.news-title-container{
    background: url('/customer_page_images/body/Jade-Salmon.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-title-container > .center-title-container > p{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
}

.news-page-container{
    padding: 140px;
    padding-bottom: 0;
}

.news-main-row{
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: center;
    max-height: 676px;
}

.news-main-item{
    display: block;
    position: relative;
    // height: 100%;
    height: auto;
}

.news-main-item, .news-secondary-item, .all-blog-item, .all-blogs-item, .all-news-item, .all-howto-item{
    overflow: hidden;
    border-radius: 10px;
}

.news-primary{
    // width: 66%;
    width: 100%;
    margin-right: 16px;
    // max-width: 1088px;
    max-width: 1020px;
}

.news-main-item{
    //max-width: 1088px;
    height: auto;
    // max-height: 857px;
    max-height: 857px;
}

.news-secondary{
    // width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: start;
}

.news-secondary-item{
    display: block;
    position: relative;
    // height: 48%;
    // height: auto;
    // max-height: 250px;
    width: 100%;
    max-width: 604px;
}

.news-secondary-item.first{
    height: auto;
    max-height: 538px;
}

.news-secondary-item.second{
    // width: 100%;
    // max-width: 536px;
    height: auto;
    max-height: 270px;
    margin-top: 10px;
    // overflow: initial;
    max-height: 331px;
}

.news-image, .news-image .main{
    // height: 100%;
    // width: 100%;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
    vertical-align: top;
    // max-width: 100%;
    width: 100%;
}

.news-image.zoomed{
    //transform: scale(1.05);
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    border-radius: 10px;
}

.news-content-container{
    position: absolute;
    bottom: 0;
    // padding: 30px;
    padding: 30px 40px;
    width: 100%;
}

.news-content-container.bottom-centered{
    //bottom: -0.9rem;
}

.news-content-container.smaller-pad{
    padding: 30px 25px;
}

.news-tag, .blog-tag, .how-to-tag{
    width: fit-content;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.news-tag{
    background: #A3D147;
}
.blog-tag{
    background: #FCC44C;
}
.how-to-tag{
    background: #59DDC1;
}

.news-tag > p, .blog-tag > p, .how-to-tag > p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 24px/26px var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 24px/26px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    line-height: 1;
}

.news-title{
    
}

.news-title > p{
    // font-family: Sharp Sans No1 Bold;
    // font-size: 1.4rem;
    // color: white;
    // max-height: 30px;
    // overflow-y: hidden;
    // overflow-x: hidden;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    margin: 0;
    height: auto;
    max-height: 126px;
    margin-bottom: 20px;
}

.news-smaller-title > p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 30px/38px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    height: auto;
    max-height: 119px;
    margin-bottom: 20px;
}

.news-author-row, .news-created-at-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.author-p, .created-at-p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: auto;
    line-height: 1;
    margin-left: 16px;
}

.author-smaller-p, .created-at-smaller-p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #FFFFFF;
    // margin: auto;
    margin: 0;
    line-height: 1;
    margin-left: 7px;
}

.news-user-icon, .news-created-icon{
    width: 30px;
    height: 28px;
}

.news-user-smaller-icon, .news-created-smaller-icon{
    width: 25px;
    height: 23px;
}


.latest-news, .latest-blogs, .latest-howto{
    display: flex;
    // flex-direction: row;
    flex-direction: column;
}

.latest-blogs{
    margin-top: 181px;
    background: var(--celebrate-–-mustard) 0% 0% no-repeat padding-box;
    background: #FCC44C 0% 0% no-repeat padding-box;
    padding: 126px 140px 220px 140px;
}

.latest-news{
    margin-top: 181px;
    padding: 0 140px;
}

.latest-news > div.title, .latest-blogs > div.title, .latest-howto > div.title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    //max-height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.latest-blogs > div.title, .latest-news > div.title{
    margin-bottom: 20px;
}

.latest-news > div.news-row, .latest-blogs > div.blogs-row, .latest-howto > div.howto-row{
    display: flex;
    flex-direction: row;
}

.all-news-item, .all-blogs-item, .all-howto-item{
    position: relative;
    display: block;
    // width: 23%;
    // height: 250px;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 385px;
    margin: 0 6px;
}

.all-news-item > img, .all-blogs-item > img, .all-howto-item > img {
    //height: 250px;
    height: 100%;
}

.howto-top-two{
    background: #59DDC1;
    left: 0;
    width: 100%;
    height: 618px;
}

.howto-transparent{
    height: 400px;
    background-color: #eefcf9;
}

.howto-top-two > p{
    // color: black;
    // text-align: center;
    // margin-top: 150px;
    // font-family: Sharp Sans No1 Semibold;
    // font-size: 2rem;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: 150px;
}

.latest-howto-bottom{
    display: flex;
    flex-direction: column;
    padding: 0 140px;
    background: #eefcf9;
    padding-bottom: 180px;
}

.latest-howto-bottom > div.title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 20px;
}


.howto-row{
    display: flex;
    flex-direction: row;
}





.main-howto-row{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    justify-content: center;
}

.main-howto-item{
    position: relative;
    display: block;
    // width: 50%;
    width: auto;
    max-width: 813px;
    height: auto;
    max-height: 457px;
    // margin: 1%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 8px;
}

.main-howto-item > .news-image.main{
    //max-height: 300px;
}

.container.view-blog{
    width: 50%;
}

.view-blog-tag{
    width: fit-content;
    padding: 4px 0;
    text-align: center;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
}

.view-blog-tag.news{
    background: #A3D147;
    width: 59px;
}
.view-blog-tag.blog{
    background: #FCC44C;
    width: 59px;
}

.view-blog-tag.howto{
    background: #59DDC1;
    width: 145px;
}

.view-blog-tag > p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 24px/26px var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 24px/26px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.view-blog-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 49px;
}

.info-row-view-blog{
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
}

.view-blog-author, .view-blog-date{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: auto;
    line-height: 1;
    margin-left: 11px;
}

.sharelinks{
    display: flex;
    flex-direction: row;
    width: 166px;
    justify-content: space-around;
    margin-left: auto;
}

.sharelinks > img {
    display: block;
    width: 26px;
    height: 21px;
    cursor: pointer;
}

.article-image{
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.view-blog-paragraph{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/35px var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/35px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
}

.view-blog-paragraph.bold{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/35px Sharp Sans No1 Semibold;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/35px Sharp Sans No1 Semibold;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 50px;
}

.blog-horizontal-line{
    height: 1px;
    background: black;
    width: 80%;
    margin: auto;
}

.blog-horizontal-line.latest{
    margin-top: 108px;
    margin-bottom: 35px;
}

.blog-read-more, .view-blog-howto {
    width: 80%;
}

.readmore-view-blog{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.mobile-author-tag{
    display: none;
    position: absolute;
    bottom: 200px;
    left: 20px;
}


// image breakpoint
@media (max-width: 1510px){
    .news-main-row{
        flex-direction: column;
        max-height: 100%;
    }

    .news-primary{
        max-width: initial;
    }

    .news-main-item{
        max-height: 668px;
        margin-bottom: 20px;
    }

    .news-secondary{
        flex-direction: row;
    }

    .news-secondary-item{
        margin-top: 0 !important;
        max-height: initial !important;
    }

    // .news-secondary-item.second{
    //     margin-left: 20px;
    // }
}

// image breakpoint 2
@media (max-width: 1300px){
    .news-main-row{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .news-primary{
        width: 100%;
        margin-bottom: 3%;
    }
    .news-secondary{
        flex-direction: column;
        width: 100%;
    }
    .news-secondary-item.first{
        height: 100%;
        margin-bottom: 3%;
    }

    .news-main-item, .news-secondary-item, .main-howto-item{
        width: auto;
        max-width: 600px;
        margin: auto;
    }

    .main-howto-item{
        margin-bottom: 3%;
    }

    .latest-news > div.news-row, .latest-blogs > div.blogs-row, .latest-howto > div.howto-row {
        flex-direction: column;
    }
    .all-news-item, .all-blog-item, .all-blogs-item{
        width: auto;
        margin: auto;
        max-width: 600px;
    }
    .main-howto-row{
        flex-direction: column;
    }
    .main-howto-item{
        width: 100%;
    }
    .latest-howto > div.title{
        margin-top: 25%;
        min-height: 72px;
    }
    .all-howto-item{
        width: auto;
        max-width: 600px;
        margin: auto;
        background: transparent;
        margin-bottom: 3%;
    }

    .latest-news > div.title, .latest-blogs > div.title, .latest-howto > div.title {
        text-align: center;
    }

    .news-title > p , .news-smaller-title > p{
        overflow-y: hidden;
    }
}

.transparent-bg{
    background: transparent !important;
    //padding: 0 !important;
}

// general
@media (max-width: 1130px){
    .container.view-blog{
        width: 90%;
        margin: auto;
    }

    .all-news-item > img, .all-blogs-item > img, .all-howto-item > img{
        height: auto;
    }

    .all-news-item, .all-blogs-item, .all-howto-item{
        margin-bottom: 25px;
    }
}


@media (max-width: 768px){
    .mobile-hidden{
        display: none;
    }
    .mobile-author-tag{
        display: block;
    }
    .news-page-container{
        padding: 0;
        margin-top: 40px;
    }

    .news-content-container, .news-content-container.smaller-pad{
        padding: 15px 20px;
    }

    .latest-news, .latest-blogs, .latest-howto-bottom{
        padding: 0 20px;
    }

    .latest-blogs{
        margin-top: 40px;
    }

    .latest-blogs > div.title{
        padding-top: 80px;
        text-align: left;
    }

    .howto-row{
        flex-direction: column;
    }

    .howto-top-two{
        height: 100%;
    }

    .latest-howto-bottom{
        margin-top: 0;
    }

    .howto-transparent{
        display: none;
    }

    .latest-howto-bottom > div.title{
        padding-top: 60px;
        margin-bottom: 40px;
    }

    .news-main-item > .news-content-container, .news-secondary-item > .news-content-container{
        position: relative;
    }

    .news-main-item > .news-content-container > .news-title > p, .news-secondary-item > .news-content-container > .news-smaller-title > p {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 40px/48px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .news-image.main, .news-main-item{
        border-radius: 0;
    }

    .news-title > p{
        overflow-y: initial;
        max-height: 118px;
    }

    .news-smaller-title > p {
        overflow-y: initial;
        max-height: 118px;
    }

    .howto-top-two > p{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-60)/var(--unnamed-line-spacing-65) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 60px/65px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-top: 50px;
    }

    .main-howto-row{
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .author-smaller-p, .created-at-smaller-p{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/20px var(--unnamed-font-family-sharp-sans-no1-book);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal normal 15px/20px Sharp Sans No1 Book;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }






    .blog-read-more{
        width: 100%;
    }

    .container.view-blog{
        width: 100%;
        padding: 0;
        max-width: 100%;
    }

    .view-blog-title, .info-row-view-blog, .view-blog-paragraph{
        padding: 0 22px;
    }

    .view-blog-tag{
        margin-left: 22px;
    }

    .article-image{
        border-radius: 0;
    }

    .readmore-view-blog{
        margin-left: 20px !important;
    }
}


// tablets - large
@media (max-width: 990px){

}

// text breakpoint
@media (max-width: 770px){

}

// tablets - breakpoint
@media (max-width: 890px){
}


// tablets - regular
@media (max-width: 625px){

}

// mobile
@media (max-width: 560px){

}

// breakpoint
@media (max-width: 525px){
    .info-row-view-blog{
        flex-direction: column;
    }
    .sharelinks{
        margin-left: 0;
        margin-top: 20px;
    }
}

// mobile - small
@media (max-width: 380px){

    
}