.support-subtitle{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 55px;
}

.support-subtitle-info{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: auto;
    margin-bottom: 55px;
}

.search-field-wrapper-support{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //width: 700px;
    width: 888px;
    margin: 0 auto;
}

.support-search-form{
    position: relative;
}

.search-wrapper-support{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.support-search-results-wrapper{
    position: absolute;
    top: 72px;
    min-height: 100vh;
    //height: 100%;
    width: 100%;
    background: rgba(#000000, 0.6);
}

.support-search-results{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    // width: 700px;
    width: 888px;
    margin: auto;
    padding: 15px;
}

.support-search-related-searches-title{
    font-family: Sharp Sans No1 Book;
    font-size: 14px;
    padding: 10px;
    margin-left: 0;
}

.support-search-result{
    margin-left: 0;
    margin-left: 0;
    padding-left: 10px;
    font-size: 16px;
}

.support-search-result:hover{
    color: #F28E33;
}

.support-search{
    padding: 0;
    margin: 0;
    height: 72px;
    width: 100%;
    text-align: left;
    padding-left: 31px;
    background: #F2F2F2;
    border: none;
    // border-top-left-radius: 4px;
    // border-bottom-left-radius: 4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: Sharp Sans No1 Book;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.support-search:focus{
    outline: none;
}

.support-search-btn{
    margin-bottom: 0 !important;
    cursor: pointer;
    background: #A375BC;
    // border-top-right-radius: 4px;
    // border-bottom-right-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.support-search-btn > img {
    display: block;
    position: relative;
    width: 87px;
    height: 72px;
    padding: 18px;
}

.support-search-element{
    padding: 50px 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 120px;
}

.support-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #A375BC;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.support-btn{
    color: white;
    border-radius: 10px;
    transition: 0.2s linear;
    //max-width: 1000px;
    height: 127px;
    min-width: 402px;
    max-width: 1640px;
    margin: 0;
    cursor: pointer;
}

.support-btn:hover{
    background: white !important;
    color: black !important;
}

.support-btn.orange{
    background: #F28E33;
    border: 1px solid #F28E33;
}

.support-btn.orange:hover p{
    color: #F28E33;
}


.support-btn.purple{
    background: #A375BC;
    border: 1px solid #A375BC;
}

.support-btn.purple:hover p{
    color: #A375BC;
}


.support-btn.green{
    background: #A3D147;
    border: 1px solid #A3D147;
    max-width: 402px;
}

.support-btn.green:hover p{
    color: #A3D147;
}


.support-btn-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 30px/38px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 42px;
}

.support-top-row{
    display: flex;
    justify-content: space-between;

}

.support-top-row a{
    flex: 1 0 48%;
    height: 100%;
    padding: 0 10px;
}

.support-top-row a>div{
    width: 100%;
    //height: 100%;
    display: flex;
    align-items: center;
    // font-size: 22px;
}

.support-middle-row{
    display: flex;
    justify-content: space-between;

}

.support-middle-row a{
    flex: 1 0 100%;
    height: 100%;
    padding: 0 10px;
}

.support-middle-row a>div{
    width: 100%;
    //height: 100%;
    display: flex;
    align-items: center;
    //font-size: 22px;
}

.support-middle-row a>div>p{
    //font-size: 20px;
}

.support-bottom-row{
    display: flex;
    justify-content: space-between;

}

.support-bottom-row a{
    flex: 1 0 21%;
    height: 100%;
    padding: 0 10px;
}

.support-bottom-row a>div{
    width: 100%;
    //height: 100%;
    display: flex;
    align-items: center;
    //font-size: 22px;
}

.support-bottom-row a>div>p{
    //font-size: 20px;
    text-align: center;
}

.support-faq{
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: 150px;
}

.support-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.support-column{
    display: flex;
    flex-direction: column;
}

.support-titles-container{
    margin-bottom: 120px;
}












.faq-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 30px;
}

.faq-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 30px;
}

.faq-title p{
    font-size: 28px;
    margin-bottom: 40px;
}

.faq-question{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.faq-left, .faq-right{
    max-width: 771px;
    margin-left: 35px;
    margin-right: 35px;
}

.faq-question a{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
}

.faq-question-text p{
    font-size: 18px;
    font-family: Sharp Sans No1 Medium;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 6px;
}

.support-questions-row{
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    // max-width: 1100px;
}

.support-questions-column.margin-right{
    margin-right: 38px;
}

.support-questions-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 673px;
}

.support-question{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(#000000, 0.16);
    width: 100%;
    // max-width: 673px;
    margin-bottom: 8px;
    justify-content: space-between;
}

.support-question-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 10px;
}

.answer-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.support-question-toggle-icon{
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
}

#support-question-answers-container{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-top: 2rem;
    //padding: 0 40px;
    margin: auto;
    margin-top: 120px;
}

.toggle-collapse-answer{
    // color: #F28E33;
    // font-size: 18px;
    // width: 100%;
    // text-align: left;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--sell-–-orange);
    text-align: left;
    font: normal normal normal 30px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #F28E33;
    opacity: 1;
    margin: 0;
}

.toggle-collapse-answer:focus{
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.toggle-collapse-answer:hover{
    outline: none;
    text-decoration: none;
    color: #F28E33;
}

.answer-separate{
    height: 1px;
    width: 100%;
    background: rgba(#000000, 0.16);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.height-100{
    height: 150px !important;
    min-height: 150px !important;
}