// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//AutoComplete
@import 'node_modules/easy-autocomplete/src/sass/easy-autocomplete.scss';

// fonts
@import './standard/fonts.scss';

//customer pages
@import './customer.scss';
@import './standard/userprofile.scss';
@import './standard/saleitem.scss';
@import './standard/support.scss';

// standard css (header, footer, body)
@import './standard/header.scss';
@import './standard/footer.scss';
@import './standard/body.scss';
@import './portal/portal.scss';
@import './shopping.scss';
@import './selling.scss';
@import './portal.scss';
@import './portal/payment.scss';
@import './standard/news.scss';
@import './standard/partials.scss';

@import './typography.scss';

//auth css
@import './auth/login.scss';
@import './auth/register.scss';

@import './pages/general.scss';
@import './pages/howitworks.scss';

// disable dragging images
img{
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    // user-drag: none;
}

// prevent scrolling of element
.noscroll{
    height: 100vh;
    overflow-y: hidden;
}
