body{
    overflow-x: hidden;
}

main{
    position: relative;
    min-height: 100vh;
    // margin-top: 200px;
    margin-top: 180px;
}

main.selling-margin{
    margin-top: 260px;
}

main p, a, span{
    color: #000;
}

.home-element{
    padding: 60px 150px;
}

.large-page-title{
    font-size: 4rem !important;
    //color: #fff;
    font-family: Sharp Sans No1 Semibold !important;
    text-shadow: 0px 3px 6px rgb(0 0 0 / 40%) !important;
}

.home-title-container{
    background: url("../../public/customer_page_images/body/Bamboo_header2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //height: 770px;
    height: 810px;
}

.home-title-container .left-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    // height: 400px;
}

.home-title-container .left-container .title-container p{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgba(0,0,0,0.25);
}

.back-to-home-footer{
    // width: 90%;
    width: 100%;
    display: flex;
    justify-content: start;
    margin: auto;
    // max-width: 1150px;
    //max-width: 1600px;
}

.back-to-home-footer.padded{
    padding: 0 140px;
}

@media (max-width: 496px){
    .back-to-home-footer.padded{
        padding: 0 20px;
    }

    .back-home-text{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-sharp-sans-no1-medium);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 18px/24px Sharp Sans No1 Medium !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding-top: 2px;
    }
}

.back-home-text{
    // font-size: 18px;
    // font-family: Sharp Sans No1 Book;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    display: inline-flex;
}

.back-home-icon{
    display: block;
    // width: 40px;
    // height: 40px;
    width: 30px;
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 24px !important;
}

.start-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    //width: 350px;
}

.start-buttons-container > div.image-button{
    position: relative;
}

.how-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-title-container p{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: Sharp Sans No1 Bold;
}

// .slavery-title-container-large p{
//     font-size: 34px !important;
//     font-weight: 600;
//     text-align: center;
//     color: #744D26;
// }

// .slavery-title-container-small p{
//     font-size: 28px !important;
//     font-weight: 600;
//     text-align: left;
//     color: #744D26;
// }

.terms-condition-title{
    font-size: 22px !important;
}

.howitworks-container-top{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: auto;
}

// breakpoint
@media screen and(max-width: 1260px){
    .howitworks-container-top{
        justify-content: center;
        flex-direction: column;
    }
    .max-450{
        max-width: 100% !important;
    }
}

.max-450{
    max-width: 450px;
}

.howitworks-element-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3rem;
}

.howVideoToggle{
    background: #A375BC;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 15px 1px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 15px 1px rgba(204,204,204,1);
    box-shadow: 1px 1px 15px 1px rgba(204,204,204,1);
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.howVideoToggle > p {
    font-family: Sharp Sans No1 Bold;
    font-size: 45px !important;
    color: white;
}

.howVideoToggle > img {
    cursor: pointer;
    transition: all 0.3s linear;
}

.modal-title.howitworks{
    color: white;
    font-size: 40px;
    margin-bottom: 45px;
}

.modal-content.howitworksvideo{
    background: transparent;
    border: none;
}

#howvideoid{
    border-radius: 10px;
}

.dismiss-howitworks{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    cursor: pointer;
}

.how-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 30px;
}

.how-button-container p{
    border-bottom: 2px solid;
    padding-bottom: 4px;
    font-size: 32px;
    font-weight: 600;

    cursor: pointer;
}

.how-button-container{
    opacity: 0.5;
}

.active{
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    transition: 0.2s linear;
}

#shopping-btn p{
    color: #23AAF7;
}

#selling-btn p{
    color: #F28E33;
}

.shopping-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    width: 0;
    height: 0;
}


.selling-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    width: 0;
    height: 0;
}

.selling-content-container-mobile{
    display: none;
}

.grading-container{
    background: #A375BC;
    padding-bottom: 0;
    display: none;
}

.center-grading-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    padding-bottom: 0;
}

.grading-text-container p{
    font-size: 16px;
    text-align: center;
}

.grading-video-container{
    width: 815px;
    height: 473px;
    background: #fff;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.grading-video-container:hover > div.howVideoToggle > img{
    transform: scale(1.2);
}

.grading-video-container a{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FCC44C;

    display: flex;
    justify-content: center;
    align-items: center;
}


.play-container .fa{
    font-size: 70px !important;
    color: #fff;
    opacity: 1;
    width: 70%;
    height: 70%;
    border-radius: 15px;
}

.grading-show-more-container{
    margin-top: 20px;
}

.grading-show-more-btn{
    width: 160px;
    height: 50px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.grading-show-more-btn p{
    font-size: 16px;
    font-weight: 600;
}

.trustpilot-container{
    background: #FCC44C;
    display: none;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    height: 70px;
}

.trustpilot-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trustpilot-element p{
    font-size: 18px;
}

.green-box{
    background: #00B67A;
    width: 34px;
    height: 34px;
    margin-left: 3px;
    margin-right: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box .fa{
    color: #fff;
    opacity: 1;
    font-size: 18px !important;
}

.assurance-container{
    background: #EFEFEF;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 50px 80px 50px 80px;

}

.assurance-element{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.assurance-element img{
    width: 150px;
    height: 150px;
}

.assurance-element p{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 80%;
    font-family: Sharp Sans No1 Semibold !important;
}

.devices-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    //width: 1300px;
    margin-top: 50px;
}

.popular-devices{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px;
}

.device-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.device-container img{
    width: 250px;
}

.category-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-container .category-title{
    font-size: 18px;
    font-weight: 600;
}

.device-container .model-title{
    padding-top: .725rem;
    font-size: 20px;
    font-weight: 300;
}

.about-container{
    background: linear-gradient(#A3D147, #59DDC1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-element-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.about-bamboo-text{
    font-size: 18px;
}

.about-element-container .grading-show-more-container{
    padding: 0 !important;
    padding-top: 50px !important;
}

.about-image{
    display: block;
    width: 200px;
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 100%;
    height: 100%;
}

.about-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sustainability-element-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-images{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-images-container{
    position: relative;
    top: 100px;
}

#top-image {
    position: relative;
}

#bottom-image {
    position: absolute;
    bottom: 150px;
    left: 150px;
}

.home-links-container{

    display: flex;
    justify-content: space-between;
}

.home-links-element{
    width: 30%;
    height: 300px;
}

.home-link-container{
    height: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: 0.2s linear;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.home-link-container p{
    margin: 0 !important;
    font-weight: 600;
    font-size: 40px;
    font-family: Sharp Sans No1 Bold;
}

.home-link-container img{
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-left: auto;
}

.home-link-container:hover{
    border: 2px solid #000;
    transition: 0.2s linear;
}

.home-links-element #news{
    background: #59DDC1;
}

.home-links-element #service{
    background: #A375BC;
}

.home-links-element #contact{
    background: #A3D147;
}

.text-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center-container p{
    font-size: 18px;
    text-transform: uppercase;
    font-family: Sharp Sans No1 Bold;
}

.email-submit{
    width: 180px;
    height: 56px;
    color: #000 !important;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background: transparent !important;
    border: 2px solid #000;
}


//How it works
.how-title-container{
    background: url('/customer_page_images/body/Green-Purple.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-title-container .center-title-container p{
    color: #fff !important;
}

.how-first-element{
    padding: 50px;
}

.how-first-element p{
    font-size: 18px;
}

.how-first-element .grading-video-container{
    margin-top: 0;
    max-width: 600px;
    height: 400px;
}

.grading-video-container > video {
    border-radius: 10px;
}

.toggle-elements-btn{
    display: flex;
    flex-direction: row;
}

.toggle-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.shopping-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.shopping-element-text{
    width: 70%;
    margin-bottom: auto;
    margin-top: 0;
}

.shopping-element-text p{
    // font-size: 12pt;
}

.left-title-text{
    //font-size: 14pt;
    font-size: 24px;
    font-family: Sharp Sans No1 Bold;
    margin: 0;
}

.how-text-desc{
    font-size: 16px;
    margin-top: 16px;
    font-family: Sharp Sans No1 Semibold;
}

.how-image{
    width: auto;
    max-width: 250px;
}

.toggle-element {
    opacity: 0;
    height: 0;
    padding: 0;
}

.shopping-toggle {
    background: rgba(35,170,247,0.05) !important;
}

.selling-toggle{
    // background: rgba(252, 196, 76, 0.05) !important;
    background: #fff6e4;
}

.container{
    background: transparent !important;
}

.toggle-element-btn{
    width: 50% !important;
    height: 100px !important;
    display: flex;
    align-items: center;
}

#shopping-image.rotate{
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform .3s linear;
}

#selling-image.rotate{
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform .3s linear;
}

#shopping-image.unrotate{
    -webkit-transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .3s linear;
}

#selling-image.unrotate{
    -webkit-transform: rotate(0);
    -webkit-transition: -webkit-transform .3s linear;
}

.toggle-element-btn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Sharp Sans No1 Semibold !important;
}

.toggle-element-btn p{
    font-size: 14pt;
    font-weight: 600;
    // opacity: 0.5;
    opacity: 1;
    font-family: Sharp Sans No1 Semibold !important;
}

.how-sustainability{
    background: #59DDC1;
    height: 650px;
    padding: 150px;
}

//about
// .about-title-container{
//     background: url('/customer_page_images/body/Jade-Salmon.png');
//     height: 250px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .about-title-container .center-title-container p{
//     color: #fff !important;
// }

// .about-first-element{
//     padding: 20px;
//     text-align: center;
//     border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
//     width: 70%;
//     margin: 0 auto;
//     padding-bottom: 50px;
//     max-width: 1150px;
// }

// .about-first-element p{
//     padding: 20px;
// }

.about-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    max-width: 1600px;
    margin: auto;
}

.about-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.about-element a{
    margin: 0;
}

.about-element-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding-right: 40px;
    //padding: 30px 30px 0 0;
}

.about-element-text a{
    width: 200px;
    height: 42px;
}

.about-element-text a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-element-text a>div>p{
    font-size: 16px;
}

.about-image-container{    
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    height: 100%;
}

.about-rounded-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.about-sustainability-images{
    display: block;
    position: relative;
    width: auto;
    max-width: 400px;
    margin-top: 150px;
    margin-bottom: auto;
}

.about-sustainability-images > .image-1, .about-sustainability-images > .image-2{
    display: block;
    width: 200px;
    height: 200px;
}

.about-sustainability-images > .image-1{
    position: relative;
}

.about-sustainability-images > .image-2{
    position: absolute;
    right: -55px;
    top: -105px;
}

#second-about-image{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
}
#second-round-image{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
}
#third-about-image{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}
#third-round-image{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
    transform: matrix(-0.87, -0.5, 0.5, -0.87, 0, 0);
}

.about-sustainability{
    background: var(--entertain-–-jade) 0% 0% no-repeat padding-box;
    background: #59DDC1 0% 0% no-repeat padding-box;

    display: flex;
    justify-content: space-between;
    padding: 150px 50px;
    height: 600px;
}

.about-head-text{
    font-size: 40px;
    font-family: Sharp Sans No1 Bold;
}

.about-title-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 28px;
    margin-bottom: 15px;
}

.about-regular-text{
    font-size: 16px;
    font-family: Sharp Sans No1 Medium;
}

.about-title-text.text-left{
    text-align: left;
    margin-left: 0;
}

.sell-about-category-subtitle{
    font-family: Sharp Sans No1 Medium;
    font-size: 30px;
    text-align: center;
}

// news


// profile

.profile-container{
    padding: 50px;
}

.profile-element{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.profile-element-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-element-one span{
    color: #000;
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.profile-element-one i{
    color: #000;
    opacity: 1;
    font-size: 60px !important;
}

.profile-element-two-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    width: 40%;
}

.profile-element-two-btns {
    display: flex;
    justify-content: space-evenly;
}

.profile-element-two-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-element-two-left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.profile-element-two-right-balance p{
    font-size: 48px;
}

.profile-element-three-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.profile-element-three-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
}

.element-three-top-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.element-three-top{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.profile-element-container{
    width: 50%;
}

.profile-small{
    font-size: 12pt;
    opacity: 0.5;
}

.profile-large{
    font-size: 14pt;
}

.element-three-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.profile-element-four{
    flex-direction: column !important;
}

.order-row-border-black{
    border-bottom: 1px solid #000;
}

//support css



// .support-title-container{
//     background: url('/customer_page_images/body/Technical-Blue-Purple.png');
//     height: 250px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.no-text-shadow{
    text-shadow: none !important;
}

// .support-title-container .center-title-container p{
//     color: #fff !important;
// }











.enviroment-title-container{
    background: url("/customer_page_images/body/Environmental-Green.png");
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.enviroment-title-container p{
    color: #fff;
}

.slavery-title-container{
    background: url("../../public/customer_page_images/body/blue_purple_cover.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slavery-title-container p{
    font-size: 4rem !important;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
}

.footer-text-title {
    color: #A3D147 !important;
    // font-family: Sharp Sans No1 Semibold;
    // font-size: 20px !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--bamboo-green);
    text-align: left;
    font: normal normal normal 30px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #A3D147;
    opacity: 1;
    margin: 0;
}

.footer-text-small, .footer-text-small li {
    // font-size: 16px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.footer-text-small.hyperlink{
    color: #A3D147 !important;
    font-family:  Sharp Sans No1 Bold;
}

.environment-first-element{
    padding: 50px 150px;
}

.border-bottom{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.p50-0{
    padding: 50px 0px 25px 0px;
}

.p50-150{
    padding: 50px 150px;
}

.p20{
    padding: 20px;
}

//news page

#news-main{
    background: red;
}

#label-trade-in-modal{
    min-height: 600px;
}

#tradein-iframe{
    width: 100%;
    min-height: 800px;
}

.easy-autocomplete{
    width: 100% !important;
}

.hovercart{
    z-index: 100;
    position: absolute;
    border: 1px solid #000;
    top: 100px;
    background: #fff;
    padding: 2rem;
    
}

.hovercart p{
    color: #23AAF7 !important;
}

.hovercart-hide{
    display: none;
}







// sitemap
.sitemap-container{
    padding: 0 140px;
}

.sitemap-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) Sharp Sans No1 Semibold;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/27px Sharp Sans No1 Semibold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 20px;
}

.sitemap-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.sitemap-section-title{
    font-family: Sharp Sans No1 Bold;
    font-size: 26px;
}

.map-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.map-col{
    min-width: 220px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}





// image breakpoint
@media (max-width: 1420px){
    .home-title-container{
        background-position: -150px;
    }
}

// image breakpoint 2
@media (max-width: 1300px){
    .home-title-container > div.left-container{
        width: 45%;
    }
}

// general
@media (max-width: 1130px){
    .home-title-container > div.left-container{
        width: 50%;
    }
    .home-element{
        //padding: 20px;
        padding-left: 15%;
    }
    .home-title-container{
        background-position: -180px;
    }
}

// tablets - large
@media (max-width: 990px){
    .home-title-container .left-container {
        width: 70% !important;
    }
   
    .home-title-container{
        background-position: -230px;
    }

    .contact-forms-container{
        padding: 20px;
    }
}

// text breakpoint
@media (max-width: 770px){
    .home-title-container .left-container {
        width: 70% !important;
    }

    .home-element{
        padding: 40px;
    }

    .home-title-container{
        background-position: -250px;
    }

    .faq-right{
        margin-top: 80px;
    }

    .back-home-text.support{
        margin-left: auto;
        margin-right: auto;
    }
}

// tablets - breakpoint
@media (max-width: 890px){
    .search-field-wrapper-support{
        width: 90%;
        margin: 0 auto;
    }

    .support-search-results{
        width: 90%;
        margin: 0 auto;
    }

    .support-question{
        width: 100%;
        min-width: 100%;
    }
}


// tablets - regular
@media (max-width: 625px){
    .home-element{
        padding: 30px;
    }
    .home-title-container{
        background-position: -430px;
    }
}

// mobile
@media (max-width: 560px){
    .home-title-container .left-container {
        width: 90% !important;
    }
    .image-button{
        margin-top: 10%;
    }
    .contact-form-message-row{
        flex-direction: column;
        margin-bottom: 0;
    }
}

// mobile - text breakpoint
@media (max-width: 380px){
    .home-title-container > div.left-container {
        padding: 0;
    } 
}

// mobile - small
@media (max-width: 380px){
    .home-title-container{
        background-position: -580px;
    }
    
}