body{
    overflow-x: hidden;
}

main{
    position: relative;
    min-height: 100vh;
    margin-top: 200px;
}

main p, a, span{
    color: #000;
}

.home-element{
    padding: 60px 150px;
}

.home-title-container{
    background: url("../../public/customer_page_images/body/Bamboo_header2.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-title-container .left-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    height: 400px;
}

.home-title-container .left-container .title-container p{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.start-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    width: 350px;
}

.how-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-title-container p{
    font-size: 40px !important;
    font-weight: 600;
    text-align: center;
}

.how-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 30px;
}

.how-button-container p{
    border-bottom: 2px solid;
    padding-bottom: 4px;
    font-size: 32px;
    font-weight: 600;

    cursor: pointer;
}

.how-button-container{
    opacity: 0.5;
}

.active{
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    transition: 0.2s linear;
}

#shopping-btn p{
    color: #23AAF7;
}

#selling-btn p{
    color: #F28E33;
}

.shopping-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    width: 0;
    height: 0;
}

.how-first-text-container{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.how-text-title-container p{
    font-size: 16px;
    font-weight: 600;
}

.how-second-text-container{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how-images-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.how-image-container img{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-line-container{
    position: absolute;
    border: 1px solid;
    height: 400px;
    z-index: -50;
}

.selling-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    width: 0;
    height: 0;
}

.grading-container{
    background: #A375BC;
    padding-bottom: 0;
}

.center-grading-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    padding-bottom: 0;
}

.grading-text-container p{
    font-size: 16px;
    text-align: center;
}

.grading-video-container{
    width: 815px;
    height: 473px;
    background: #fff;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.grading-video-container a{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FCC44C;

    display: flex;
    justify-content: center;
    align-items: center;
}


.play-container .fa{
    font-size: 70px !important;
    color: #fff;
    opacity: 1;
    width: 70%;
    height: 70%;
    border-radius: 15px;
}

.grading-show-more-container{
    margin-top: 20px;
}

.grading-show-more-btn{
    width: 160px;
    height: 50px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grading-show-more-btn p{
    font-size: 16px;
    font-weight: 600;
}

.trustpilot-container{
    background: #FCC44C;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    height: 70px;
}

.trustpilot-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trustpilot-element p{
    font-size: 18px;
}

.green-box{
    background: #00B67A;
    width: 34px;
    height: 34px;
    margin-left: 3px;
    margin-right: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box .fa{
    color: #fff;
    opacity: 1;
    font-size: 18px !important;
}

.assurance-container{
    background: #EFEFEF;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 50px 80px 50px 80px;

}

.assurance-element{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.assurance-element img{
    width: 150px;
    height: 150px;
}

.assurance-element p{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 80%;
}

.devices-container{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 1300px;
    margin-top: 50px;
}

.popular-devices{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.device-container img{
    width: 250px;
}

.category-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-container .category-title{
    font-size: 18px;
    font-weight: 600;
}

.device-container .model-title{
    font-size: 14px;
    font-weight: 300;
}

.about-container{
    background: linear-gradient(#A3D147, #59DDC1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;

}

.about-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-element-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.about-bamboo-text{
    font-size: 18px;
}

.about-element-container .grading-show-more-container{
    padding: 0 !important;
    padding-top: 50px !important;
}

.about-image{
    width: 450px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.about-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sustainability-element-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-images{
    width: 280px;
    height: 280px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-images-container{
    position: relative;
    top: 100px;
}

#top-image {
    position: relative;
}

#bottom-image {
    position: absolute;
    bottom: 150px;
    left: 150px;
}

.home-links-container{

    display: flex;
    justify-content: space-between;
}

.home-links-element{
    width: 30%;
    height: 200px;
}

.home-link-container{
    height: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: 0.2s linear;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home-link-container p{
    margin: 0 !important;
    font-size: 18px;
    font-weight: 600;
}

.home-link-container img{
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-left: auto;
}

.home-link-container:hover{
    border: 2px solid #000;
    transition: 0.2s linear;
}

.home-links-element #news{
    background: #59DDC1;
}

.home-links-element #service{
    background: #A375BC;
}

.home-links-element #contact{
    background: #A3D147;
}

.sign-up{
    width: 100vw;
    background: #FCC44C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center-container p{
    font-size: 18px;
    text-transform: uppercase;
}

.sign-up form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    width: 80%;
}

.email-input{
    border: 1px solid #000;
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    
}

.email-input::placeholder{
    color: #000;
    opacity: 0.3;
}

.email-submit{
    width: 180px;
    height: 56px;
    background: #A375BC;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

//Contact page

.contact-title-container{
    background: url('/customer_page_images/body/Green-mustard.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title-container .center-title-container p{
    color: #fff !important;
}

.contact-ways-container{
    padding: 50px;
}

.ways-element{
    width: 40%;
    height: 300px;
}

.ways-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.ways-element a{
    width: 100%;
    height: 100%;
    display: flex;
}

.contact-div{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.2s linear;
}

.contact-div:hover{
    border: 1px solid #000;
    transition: 0.2s linear;
}

.contact-div img{
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-left: auto;
}

.contact-div .center-title-container p{
    font-size: 24px;
}

#contact-message{
    background: #59DDC1;
}

#contact-live{
    background: #A375BC;
}

#contact-telephone{
    background: #A3D147;
}

#contact-whatsapp{
    background: #FCC44C;
}

.contact-flex-row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-forms-container{
    background: #F4F4F4;
}

.contact-form-container span{
    color: #000 !important;
    font-weight: 600;
}

.contact-form-container{
    height: 0;
    opacity: 0;
    display: none;
}

.contact-div-hidden{
    opacity: 0.5;
}


.contact-form-container-active{
    padding: 100px 250px;
    height: auto;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.form-group{
    width: 100%;
}

#message-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#yourmessage{
    height: 90%;
}

#telephone-form-container{
    justify-content: space-between;
}

.telephone-contact-container span{
    color: #A3D147 !important;
    font-size: 32px;
}

.worktime-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.workdays-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.hours-time{
    color: #A3D147 !important;
}

.contact-footer-image{
    width: 150px;
    height: 150px;
    min-width: 150px;
}

.contact-footer-image img{
    width: 100%;
    height: 100%;
}

.contact-footer-text {
    width: 70%;
}

.contact-footer{
    background: #A375BC;
    margin-top: 150px;
    display: flex;
    padding: 25px 250px;
    align-items: center;
    justify-content: space-between;
}

.service-header-1{
    font-size: 40px;
    font-weight: 600;
}
.service-header-2{
    font-size: 32px;
}

//How it works
.how-title-container{
    background: url('/customer_page_images/body/Green-Purple.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-title-container .center-title-container p{
    color: #fff !important;
}

.how-first-element{
    padding: 50px;
}

.how-first-element p{
    font-size: 18px;
}

.how-first-element .grading-video-container{
    margin-top: 0;
    background-color: #A375BC;
    width: 600px;
    height: 300px;
}

.toggle-elements-btn{
    display: flex;
    flex-direction: row;
}

.toggle-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.shopping-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-between;
}

.shopping-element-text{
    width: 70%;
}

.shopping-element-text p{
    font-size: 12pt;
}

.left-title-text{
    font-size: 14pt;
    font-weight: 600;
    margin: 0;
}

.toggle-element {
    opacity: 0;
    height: 0;
}

.shopping-toggle {
    background: rgba(35,170,247,0.05);
}

.selling-toggle{
    background: rgba(252, 196, 76, 0.05);
}

.toggle-element-btn{
    width: 50% !important;
    height: 100px !important;
    display: flex;
    align-items: center;
}

.toggle-element-btn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-element-btn p{
    font-size: 14pt;
    font-weight: 600;
    opacity: 0.5;
}

.how-sustainability{
    background: #59DDC1;
    height: 650px;
    padding: 150px;
}

//about
.about-title-container{
    background: url('/customer_page_images/body/Jade-Salmon.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title-container .center-title-container p{
    color: #fff !important;
}

.about-first-element{
    padding: 150px;
    text-align: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about-first-element p{
    padding: 50px;
}

.about-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.about-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.about-element a{
    margin: 0;
}

.about-element-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 30px 30px 0 0;
}

.about-element-text a{
    width: 200px;
    height: 42px;
}

.about-element-text a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-element-text a>div>p{
    font-size: 16px;
}

.about-image-container{
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-rounded-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#first-about-image{
    background: transparent linear-gradient(180deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
}
#first-round-image{
    background: transparent linear-gradient(180deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
}
#second-about-image{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
}
#second-round-image{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
}
#third-about-image{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}
#third-round-image{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
    transform: matrix(-0.87, -0.5, 0.5, -0.87, 0, 0);
}

.about-sustainability{
    background: var(--entertain-–-jade) 0% 0% no-repeat padding-box;
    background: #59DDC1 0% 0% no-repeat padding-box;

    display: flex;
    justify-content: space-between;
    padding: 150px 50px;
    height: 600px;
}

//profile

.profile-container{
    padding: 50px;
}

.profile-element{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.profile-element-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-element-one span{
    color: #000;
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.profile-element-one i{
    color: #000;
    opacity: 1;
    font-size: 60px !important;
}

.profile-element-two-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    width: 40%;
}

.profile-element-two-btns {
    display: flex;
    justify-content: space-evenly;
}

.profile-element-two-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-element-two-left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.profile-element-two-right-balance p{
    font-size: 48px;
}

.profile-element-three-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.profile-element-three-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
}

.element-three-top-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.element-three-top{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.profile-element-container{
    width: 50%;
}

.profile-small{
    font-size: 12pt;
    opacity: 0.5;
}

.profile-large{
    font-size: 14pt;
}

.element-three-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

//support css
.support-title-container{
    background: url('/customer_page_images/body/Technical-Blue-Purple.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-title-container .center-title-container p{
    color: #fff !important;
}

.support-search-element{
    padding: 50px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.support-search-form{
    width: 70%;
    display: flex;
    align-items: center;
}

.support-search-form input{
    height: 72px;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 20pt;
}

.support-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #A375BC;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.support-search-help p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;

}

.support-top-row{
    display: flex;
    justify-content: space-between;

}

.support-top-row a{
    flex: 1 0 48%;
    height: 100%;
    padding: 0 10px;
}

.support-top-row a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.support-top-row a>div>p{
    font-size: 20px;
}

.support-middle-row{
    display: flex;
    justify-content: space-between;

}

.support-middle-row a{
    flex: 1 0 100%;
    height: 100%;
    padding: 0 10px;
}

.support-middle-row a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.support-middle-row a>div>p{
    font-size: 20px;
}

.support-bottom-row{
    display: flex;
    justify-content: space-between;

}

.support-bottom-row a{
    flex: 1 0 21%;
    height: 100%;
    padding: 0 10px;
}

.support-bottom-row a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.support-bottom-row a>div>p{
    font-size: 20px;
}

.support-faq{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 150px;
}

.faq-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 30px;
}

.faq-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 30px;
}

.faq-title p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.faq-question{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.faq-question a{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
}

.faq-question-text p{
    font-size: 18px;
}

.enviroment-title-container{
    background: url("/customer_page_images/body/Environmental-Green.png");
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enviroment-title-container p{
    color: #fff;
}

.environment-first-element{
    padding: 50px 150px;
}

.border-bottom{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.p50-0{
    padding: 50px 0px 25px 0px;
}

.p50-150{
    padding: 50px 150px;
}

.p20{
    padding: 20px;
}

//news page

#news-main{
    background: red;
}