body{
    overflow-x: hidden;
}

main{
    position: relative;
    min-height: 100vh;
    // margin-top: 200px;
    margin-top: 180px;
}

main p, a, span{
    color: #000;
}

.home-element{
    padding: 60px 150px;
}

.large-page-title{
    font-size: 4rem !important;
    //color: #fff;
    font-family: Sharp Sans No1 Semibold !important;
    text-shadow: 0px 3px 20px rgb(0 0 0 / 20%) !important;
}

.customer-sections-title{
    font-size: 48px !important;
    text-align: left !important;
    font-family: Sharp Sans No1 Bold !important;
    margin-left: 0;
}

.customer-sections-title.center{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.home-title-container{
    background: url("../../public/customer_page_images/body/Bamboo_header2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //height: 770px;
    height: 810px;
}

.home-title-container .left-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    // height: 400px;
}

.home-title-container .left-container .title-container p{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgba(0,0,0,0.20);
}

.back-to-home-footer{
    width: 90%;
    display: flex;
    justify-content: start;
    margin: auto;
}

.back-home-text{
    font-size: 18px;
    font-family: Sharp Sans No1 Book;
    margin: 0;
}

.back-home-icon{
    width: 40px;
    height: 40px;
}

.start-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    //width: 350px;
}

.start-buttons-container > div.image-button{
    position: relative;
}

.how-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-title-container p{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: Sharp Sans No1 Bold;
}

.slavery-title-container-large p{
    font-size: 34px !important;
    font-weight: 600;
    text-align: center;
    color: #744D26;
}

.slavery-title-container-small p{
    font-size: 28px !important;
    font-weight: 600;
    text-align: left;
    color: #744D26;
}

.howitworks-container-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.max-450{
    max-width: 450px;
}

.howitworks-element-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3rem;
}

.how-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 30px;
}

.how-button-container p{
    border-bottom: 2px solid;
    padding-bottom: 4px;
    font-size: 32px;
    font-weight: 600;

    cursor: pointer;
}

.how-button-container{
    opacity: 0.5;
}

.active{
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    transition: 0.2s linear;
}

#shopping-btn p{
    color: #23AAF7;
}

#selling-btn p{
    color: #F28E33;
}

.shopping-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    width: 0;
    height: 0;
}


.selling-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    width: 0;
    height: 0;
}

.selling-content-container-mobile{
    display: none;
}

.grading-container{
    background: #A375BC;
    padding-bottom: 0;
    display: none;
}

.center-grading-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    padding-bottom: 0;
}

.grading-text-container p{
    font-size: 16px;
    text-align: center;
}

.grading-video-container{
    width: 815px;
    height: 473px;
    background: #fff;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.grading-video-container a{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FCC44C;

    display: flex;
    justify-content: center;
    align-items: center;
}


.play-container .fa{
    font-size: 70px !important;
    color: #fff;
    opacity: 1;
    width: 70%;
    height: 70%;
    border-radius: 15px;
}

.grading-show-more-container{
    margin-top: 20px;
}

.grading-show-more-btn{
    width: 160px;
    height: 50px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.grading-show-more-btn p{
    font-size: 16px;
    font-weight: 600;
}

.trustpilot-container{
    background: #FCC44C;
    display: none;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    height: 70px;
}

.trustpilot-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trustpilot-element p{
    font-size: 18px;
}

.green-box{
    background: #00B67A;
    width: 34px;
    height: 34px;
    margin-left: 3px;
    margin-right: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box .fa{
    color: #fff;
    opacity: 1;
    font-size: 18px !important;
}

.assurance-container{
    background: #EFEFEF;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 50px 80px 50px 80px;

}

.assurance-element{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.assurance-element img{
    width: 150px;
    height: 150px;
}

.assurance-element p{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 80%;
    font-family: Sharp Sans No1 Semibold !important;
}

.devices-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    //width: 1300px;
    margin-top: 50px;
}

.popular-devices{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px;
}

.device-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.device-container img{
    width: 250px;
}

.category-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-container .category-title{
    font-size: 18px;
    font-weight: 600;
}

.device-container .model-title{
    padding-top: .725rem;
    font-size: 20px;
    font-weight: 300;
}

.about-container{
    background: linear-gradient(#A3D147, #59DDC1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-element-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.about-bamboo-text{
    font-size: 18px;
}

.about-element-container .grading-show-more-container{
    padding: 0 !important;
    padding-top: 50px !important;
}

.about-image{
    display: block;
    width: 200px;
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 100%;
    height: 100%;
}

.about-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sustainability-element-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-images{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-images-container{
    position: relative;
    top: 100px;
}

#top-image {
    position: relative;
}

#bottom-image {
    position: absolute;
    bottom: 150px;
    left: 150px;
}

.home-links-container{

    display: flex;
    justify-content: space-between;
}

.home-links-element{
    width: 30%;
    height: 300px;
}

.home-link-container{
    height: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: 0.2s linear;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.home-link-container p{
    margin: 0 !important;
    font-weight: 600;
    font-size: 40px;
    font-family: Sharp Sans No1 Bold;
}

.home-link-container img{
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-left: auto;
}

.home-link-container:hover{
    border: 2px solid #000;
    transition: 0.2s linear;
}

.home-links-element #news{
    background: #59DDC1;
}

.home-links-element #service{
    background: #A375BC;
}

.home-links-element #contact{
    background: #A3D147;
}

.sign-up{
    //width: 100vw;
    width: 100%;
    background: #FCC44C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center-container p{
    font-size: 18px;
    text-transform: uppercase;
    font-family: Sharp Sans No1 Bold;
}

.sign-up form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    width: 80%;
}

.sign-up .terms-container{
    width: auto;
}

.email-input{
    border: 2px solid #000;
    padding: 15px;
    border-radius: 8px;
    
}

.email-input::placeholder{
    color: #000;
    opacity: 0.3;
}

#age_range {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url('/images/svg.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
    cursor: pointer;
}

.terms-container input[type="checkbox"] {
	display:none;
}

.terms-container input + label {
	display: inline-block;	
	cursor: pointer;	
	background-image: url('/images/front-end-icons/black_circle.svg');
    background-repeat: no-repeat;
    background-position-y: center;
}

.terms-container input[type="checkbox"]:checked + label {
	background-image: url('/images/front-end-icons/black_tick_selected.svg')
}

.email-submit{
    width: 180px;
    height: 56px;
    color: #000 !important;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background: transparent !important;
    border: 2px solid #000;
}

//Contact page

.contact-title-container{
    background: url('/customer_page_images/body/Green-mustard.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title-container .center-title-container p{
    color: #fff !important;
}

.contact-ways-container{
    padding: 50px;
}

.ways-element{
    // width: 40%;
    // height: 300px;
    width: 400px;
    height: 350px;
    margin: 10px;
}

.ways-container{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.ways-element a{
    width: 100%;
    height: 100%;
    display: flex;
}

.contact-div{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.2s linear;
}

.contact-div:hover{
    border: 1px solid #000;
    transition: 0.2s linear;
}

.contact-div img{
    width: 200px;
    height: 150px;
    margin-right: 0;
    margin-left: auto;
}

.contact-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 50px;
    text-align: left;
    line-height: 1.1;
}

.contact-div .center-title-container p{
    font-size: 24px;
}

#contact-message{
    background: #59DDC1;
}

#contact-live{
    background: #A375BC;
}

#contact-telephone{
    background: #A3D147;
}

#contact-whatsapp{
    background: #FCC44C;
}

.contact-flex-row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-forms-container{
    background: #F4F4F4;
    padding: 100px 250px;
}

.contact-form-container span{
    color: #000 !important;
    font-weight: 600;
}

.contact-form-container{
    height: 0;
    opacity: 0;
    display: none;
    max-width: 1080px;
    margin: auto;
}

.contact-div-hidden{
    opacity: 0.5;
}

.contact-form-header{
    font-family: Bebas Neue;
    font-size: 37px;
    margin-left: 0;
}

.contact-form-desc{
    font-family: Sharp Sans No1 Book;
    font-size: 20px;
    margin-left: 0;
}

.contact-message-label{
    font-family: Sharp Sans No1 Book;
    font-size: 16px;
    margin-left: 0;
}

.contact-message-input{
    // width: 311px;
}

.contact-form-message-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.contact-form-message-column{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 100%;
    //max-width: 311px;
}

.contact-form-title-wrapper{
    display: flex;
    flex-direction: row;
}

.contact-form-title-wrapper > select {
    max-width: 80px;
    margin-left: 100px;
}

#message-submit{
    color: white;
    display: block;
    margin-left: auto;
    width: 100%;
    max-width: 300px;
}


.contact-form-container-active{
    //padding: 100px 250px;
    height: auto;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group{
    width: 100%;
}

#message-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    width: auto;
}

#yourmessage{
    height: 90%;
}

#telephone-form-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.telephone-contact-container span{
    color: #A3D147 !important;
    // font-size: 32px;
    font-size: 62px;
    font-family: Sharp Sans No1 Bold;
    line-height: 1;
}

.contact-form-desc.telephone{
    width: 100%;
    max-width: 480px;
}

.worktime-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.worktime-text{
    font-family: Sharp Sans No1 Medium;
    font-size: 16px;
}

.workdays-container {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.hours-time{
    color: #A3D147 !important;
}

.contact-footer-image{
    // width: 150px;
    // height: 150px;
    // min-width: 150px;
    margin-right: 80px;
}

.contact-footer-image img{
    // width: 100%;
    // height: 100%;
    display: block;
    width: 200px;
    height: 200px;
}

.contact-footer-arrow > img{
    width: 100px;
    height: 100px;
}

.contact-footer-text {
    //width: 70%;
    margin-right: 80px;
}

.contact-footer{
    background: #A375BC;
    //margin-top: 150px;
    display: flex;
    //padding: 25px 250px;
    align-items: center;
    // justify-content: space-between;
    justify-content: center;
    height: 340px;
}

.service-header-1{
    font-size: 40px;
    font-family: Sharp Sans No1 Bold;
    width: auto;
    max-width: 600px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 14px;
}
.service-header-2{
    font-size: 32px;
    font-family: Sharp Sans No1 Book;
    width: auto;
    max-width: 600px;
    text-align: left;
    margin-left: 0;
}

//How it works
.how-title-container{
    background: url('/customer_page_images/body/Green-Purple.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-title-container .center-title-container p{
    color: #fff !important;
}

.how-first-element{
    padding: 50px;
}

.how-first-element p{
    font-size: 18px;
}

.how-first-element .grading-video-container{
    margin-top: 0;
    max-width: 600px;
    height: 400px;
}

.grading-video-container > video {
    border-radius: 10px;
}

.toggle-elements-btn{
    display: flex;
    flex-direction: row;
}

.toggle-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.shopping-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.shopping-element-text{
    width: 70%;
    margin-bottom: auto;
    margin-top: 0;
}

.shopping-element-text p{
    // font-size: 12pt;
}

.left-title-text{
    //font-size: 14pt;
    font-size: 24px;
    font-family: Sharp Sans No1 Bold;
    margin: 0;
}

.how-text-desc{
    font-size: 16px;
    margin-top: 16px;
}

.how-image{
    width: auto;
    max-width: 250px;
}

.toggle-element {
    opacity: 0;
    height: 0;
    padding: 0;
}

.shopping-toggle {
    background: rgba(35,170,247,0.05) !important;
}

.selling-toggle{
    background: rgba(252, 196, 76, 0.05) !important;
}

.container{
    background: transparent !important;
}

.toggle-element-btn{
    width: 50% !important;
    height: 100px !important;
    display: flex;
    align-items: center;
}

#shopping-image.rotate{
    -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform .3s linear;
}

#selling-image.rotate{
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform .3s linear;
}

#shopping-image.unrotate{
    -webkit-transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .3s linear;
}

#selling-image.unrotate{
    -webkit-transform: rotate(0);
    -webkit-transition: -webkit-transform .3s linear;
}

.toggle-element-btn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Sharp Sans No1 Semibold !important;
}

.toggle-element-btn p{
    font-size: 14pt;
    font-weight: 600;
    // opacity: 0.5;
    opacity: 1;
    font-family: Sharp Sans No1 Semibold !important;
}

.how-sustainability{
    background: #59DDC1;
    height: 650px;
    padding: 150px;
}

//about
.about-title-container{
    background: url('/customer_page_images/body/Jade-Salmon.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title-container .center-title-container p{
    color: #fff !important;
}

.about-first-element{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about-first-element p{
    padding: 20px;
}

.about-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.about-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.about-element a{
    margin: 0;
}

.about-element-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding-right: 40px;
    //padding: 30px 30px 0 0;
}

.about-element-text a{
    width: 200px;
    height: 42px;
}

.about-element-text a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-element-text a>div>p{
    font-size: 16px;
}

.about-image-container{    
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    height: 260px;
}

.about-rounded-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#first-about-image{
    background: transparent linear-gradient(180deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
}
#first-round-image{
    background: transparent linear-gradient(180deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
}
#second-about-image{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
}
#second-round-image{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
    transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
}
#third-about-image{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}
#third-round-image{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
    transform: matrix(-0.87, -0.5, 0.5, -0.87, 0, 0);
}

.about-sustainability{
    background: var(--entertain-–-jade) 0% 0% no-repeat padding-box;
    background: #59DDC1 0% 0% no-repeat padding-box;

    display: flex;
    justify-content: space-between;
    padding: 150px 50px;
    height: 600px;
}

.about-head-text{
    font-size: 40px;
    font-family: Sharp Sans No1 Bold;
}

.about-title-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 28px;
    margin-bottom: 15px;
}

.about-regular-text{
    font-size: 16px;
    font-family: Sharp Sans No1 Medium;
}

.about-title-text.text-left{
    text-align: left;
    margin-left: 0;
}

.sell-about-category-subtitle{
    font-family: Sharp Sans No1 Medium;
    font-size: 30px;
    text-align: center;
}

// news


// profile

.profile-container{
    padding: 50px;
}

.profile-element{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.profile-element-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-element-one span{
    color: #000;
    display: flex;
    width: 240px;
    justify-content: space-between;
}

.profile-element-one i{
    color: #000;
    opacity: 1;
    font-size: 60px !important;
}

.profile-element-two-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    width: 40%;
}

.profile-element-two-btns {
    display: flex;
    justify-content: space-evenly;
}

.profile-element-two-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-element-two-left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.profile-element-two-right-balance p{
    font-size: 48px;
}

.profile-element-three-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.profile-element-three-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
}

.element-three-top-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.element-three-top{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.profile-element-container{
    width: 50%;
}

.profile-small{
    font-size: 12pt;
    opacity: 0.5;
}

.profile-large{
    font-size: 14pt;
}

.element-three-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.profile-element-four{
    flex-direction: column !important;
}

.order-row-border-black{
    border-bottom: 1px solid #000;
}

//support css

.support-questions-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
}

.support-question{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(#000000, 0.16);
    width: 450px;
    min-width: 450px;
    margin-bottom: 8px;
}

.support-question-title{
    margin-left: 0;
    font-family: Sharp Sans No1 Medium;
    font-size: 18px;
}

.answer-text{
    font-family: Sharp Sans No1 Book;
    font-size: 16px;
}

.support-question-toggle-icon{
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 2px;
    cursor: pointer;
}

#support-question-answers-container{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-top: 2rem;
    padding: 0 40px;
}

.toggle-collapse-answer{
    color: #F28E33;
    font-size: 18px;
    width: 100%;
    text-align: left;
}

.toggle-collapse-answer:focus{
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.toggle-collapse-answer:hover{
    outline: none;
    text-decoration: none;
    color: #F28E33;
}

.answer-separate{
    height: 1px;
    width: 100%;
    background: rgba(#000000, 0.16);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.height-100{
    height: 150px !important;
    min-height: 150px !important;
}

.support-title-container{
    background: url('/customer_page_images/body/Technical-Blue-Purple.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-text-shadow{
    text-shadow: none !important;
}

.support-title-container .center-title-container p{
    color: #fff !important;
}

.support-subtitle{
    font-size: 4rem;
    font-weight: 600;
    font-family: Sharp Sans No1 Bold;
}

.support-subtitle-info{
    font-size: 28px;
    margin: 35px 0;
}

.search-field-wrapper-support{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 700px;
    margin: 0 auto;
}

.support-search-form{
    position: relative;
}

.search-wrapper-support{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.support-search-results-wrapper{
    position: absolute;
    top: 72px;
    min-height: 100vh;
    //height: 100%;
    width: 100%;
    background: rgba(#000000, 0.6);
}

.support-search-results{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    width: 700px;
    margin: auto;
    padding: 15px;
}

.support-search-related-searches-title{
    font-family: Sharp Sans No1 Book;
    font-size: 14px;
    padding: 10px;
    margin-left: 0;
}

.support-search-result{
    margin-left: 0;
    margin-left: 0;
    padding-left: 10px;
    font-size: 16px;
}

.support-search-result:hover{
    color: #F28E33;
}

.support-search{
    padding: 0;
    margin: 0;
    height: 72px;
    width: 100%;
    text-align: left;
    padding-left: 25px;
    background: #F2F2F2;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: Sharp Sans No1 Book;
}

.support-search:focus{
    outline: none;
}

.support-search-btn{
    margin-bottom: 0 !important;
    cursor: pointer;
    background: #A375BC;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.support-search-btn > img {
    display: block;
    position: relative;
    width: 87px;
    height: 72px;
    padding: 18px;
}

.support-search-element{
    padding: 50px 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.support-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #A375BC;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.support-btn{
    color: white;
    border-radius: 10px;
    transition: 0.2s linear;
    //max-width: 1000px;
}

.support-btn:hover{
    background: white !important;
    color: black !important;
}

.support-btn.orange{
    background: #F28E33;
    border: 1px solid #F28E33;
}

.support-btn.orange:hover p{
    color: #F28E33;
}


.support-btn.purple{
    background: #A375BC;
    border: 1px solid #A375BC;
}

.support-btn.purple:hover p{
    color: #A375BC;
}


.support-btn.green{
    background: #A3D147;
    border: 1px solid #A3D147;
}

.support-btn.green:hover p{
    color: #A3D147;
}


.support-btn-text{
    font-family: Sharp Sans No1 Bold;
    color: white;
}

.support-top-row{
    display: flex;
    justify-content: space-between;

}

.support-top-row a{
    flex: 1 0 48%;
    height: 100%;
    padding: 0 10px;
}

.support-top-row a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.support-top-row a>div>p{
    font-size: 20px;
}

.support-middle-row{
    display: flex;
    justify-content: space-between;

}

.support-middle-row a{
    flex: 1 0 100%;
    height: 100%;
    padding: 0 10px;
}

.support-middle-row a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.support-middle-row a>div>p{
    font-size: 20px;
}

.support-bottom-row{
    display: flex;
    justify-content: space-between;

}

.support-bottom-row a{
    flex: 1 0 21%;
    height: 100%;
    padding: 0 10px;
}

.support-bottom-row a>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.support-bottom-row a>div>p{
    font-size: 20px;
    text-align: center;
}

.support-faq{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 150px;
}

.faq-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 30px;
}

.faq-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 30px;
}

.faq-title p{
    font-size: 28px;
    margin-bottom: 40px;
}

.faq-question{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.faq-question a{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
}

.faq-question-text p{
    font-size: 18px;
    font-family: Sharp Sans No1 Medium;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 6px;
}













.enviroment-title-container{
    background: url("/customer_page_images/body/Environmental-Green.png");
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.enviroment-title-container p{
    color: #fff;
}

.slavery-title-container{
    background: url("../../public/customer_page_images/body/blue_purple_cover.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slavery-title-container p{
    font-size: 4rem !important;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
}

.footer-text-title {
    color: #A3D147 !important;
    font-family: Sharp Sans No1 Semibold;
    font-size: 20px !important;
}

.footer-text-small, .footer-text-small li {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.environment-first-element{
    padding: 50px 150px;
}

.border-bottom{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.p50-0{
    padding: 50px 0px 25px 0px;
}

.p50-150{
    padding: 50px 150px;
}

.p20{
    padding: 20px;
}

//news page

#news-main{
    background: red;
}

.cart-product{
    border-top: 1px solid #000;
    padding: 20px;
}

#label-trade-in-modal{
    min-height: 600px;
}

#tradein-iframe{
    width: 100%;
    min-height: 800px;
}

.easy-autocomplete{
    width: 100% !important;
}

.hovercart{
    z-index: 100;
    position: absolute;
    border: 1px solid #000;
    top: 100px;
    background: #fff;
    padding: 2rem;
    
}

.hovercart p{
    color: #23AAF7 !important;
}

.hovercart-hide{
    display: none;
}

.sitemap-title{
    font-family: Sharp Sans No1 Semibold;
}

.sitemap-text{
    font-family: Sharp Sans No1 Book;
}

.sitemap-title, .sitemap-text{
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.sitemap-section-title{
    font-family: Sharp Sans No1 Bold;
    font-size: 26px;
}

.map-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.map-col{
    min-width: 220px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}





// image breakpoint
@media (max-width: 1420px){
    .home-title-container{
        background-position: -150px;
    }
}

// image breakpoint 2
@media (max-width: 1300px){
    .home-title-container > div.left-container{
        width: 45%;
    }
}

// general
@media (max-width: 1130px){
    .home-title-container > div.left-container{
        width: 50%;
    }
    .home-element{
        //padding: 20px;
        padding-left: 15%;
    }
    .home-title-container{
        background-position: -180px;
    }
}

// tablets - large
@media (max-width: 990px){
    .home-title-container .left-container {
        width: 70% !important;
    }
   
    .home-title-container{
        background-position: -230px;
    }

    .contact-forms-container{
        padding: 20px;
    }
}

// text breakpoint
@media (max-width: 770px){
    .home-title-container .left-container {
        width: 70% !important;
    }

    .home-element{
        padding: 40px;
    }

    .home-title-container{
        background-position: -250px;
    }

    .faq-right{
        margin-top: 80px;
    }

    .back-home-text.support{
        margin-left: auto;
        margin-right: auto;
    }
}

// tablets - breakpoint
@media (max-width: 890px){
    .search-field-wrapper-support{
        width: 90%;
        margin: 0 auto;
    }

    .support-search-results{
        width: 90%;
        margin: 0 auto;
    }

    .support-question{
        width: 100%;
        min-width: 100%;
    }
}


// tablets - regular
@media (max-width: 625px){
    .home-element{
        padding: 30px;
    }
    .home-title-container{
        background-position: -430px;
    }
}

// mobile
@media (max-width: 560px){
    .home-title-container .left-container {
        width: 90% !important;
    }
    .image-button{
        margin-top: 10%;
    }
    .contact-form-message-row{
        flex-direction: column;
        margin-bottom: 0;
    }
}

// mobile - text breakpoint
@media (max-width: 380px){
    .home-title-container > div.left-container {
        padding: 0;
    } 
}

// mobile - small
@media (max-width: 380px){
    .home-title-container{
        background-position: -580px;
    }
    
}