.sell-top-container{
    background: #F28E33;
    
}

.top-upper-elements-container{
    display: flex;
    // justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    height: 80px;
    min-height: 80px;
    padding: 0 150px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.16);
}

.top-upper-elements-container a{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width: 240px;
    // width: 280px;
}

.top-down-elements-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 150px;
}

.hover-element{
    background: #fff;
    min-width: 400.75px;
    position: absolute;
    top: 0px;
    display: none;

    z-index: 100000;
}

.sell-search-form{
    width: 70%;
    display: flex;
    align-items: center;
}

.sell-search-form input{
    height: 72px;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 20pt;

    background: #F2F2F2 0% 0% no-repeat padding-box;
}

.sell-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #F28E33;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.smaller-title p{
    font-size: 24px;
    font-weight: 600;
}

.mt-50{
    margin-top: 50px;
    align-items: center;
}

.mt-50 p{
    font-size: 18px;
}

.mt-50 img{
    height: 32px;
    margin-left: 25px;
}

.smaller-a{
    width: 350px;
    max-width: 350px;
}

.w-1000{
    max-width: 1100px;
    width: 1100px;
    margin: auto;
}

.selling-info-container{
    height: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

.selling-info-element{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.selling-info-element img{
    margin-bottom: 40px;
}

.selling-info-element p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.selling-service-container-image{
    width: 150px;
    height: 150px;
    min-width: 150px;
}

.selling-service-container img{
    width: 100%;
    height: 100%;
}

.selling-service-container-text {
    width: 70%;
}

.selling-service-container{
    background: #23AAF7;
    display: flex;
    padding: 25px 250px;
    align-items: center;
    justify-content: space-between;
}

// .back-results-selling{
//     margin-top: 20px;
// }

// .back-results-sell{
//     display: flex;
//     flex-direction: row;
//     width: 120px;
//     cursor: pointer;
// }

.results-back{
    font-family: Sharp Sans No1 Semibold;
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
    //padding-top: 4px;
}

.results-upper{
    font-family: Sharp Sans No1 Semibold;
    font-size: 24px;
    text-transform: uppercase;
}

.results-found{
    font-family: Sharp Sans No1 Semibold;
    font-size: 30px;
}

.results-info{
    font-size: 16px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
}

.product{
    display: flex;
    padding: 20px;
    // width: 250px;
    // height: 350px;
    // background-color: #fff;
    // border: 1px solid #ccc;
    text-align: center;

    flex-grow: 1;
    transition: transform .2s;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products a{
    // margin: 10px 0 0 1%;
    flex: 1 0 21%;
}

.product:hover{
    transform: scale(1.1);
}

.selling-product-image-container{
    width: 100%;
    max-width: 300px;
    height: auto;
    // height: 250px;
}

.selling-product-image-container img{
    width: 100%;
    height: 100%;
}

.next-icon-results, .back-icon-results{
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.next-icon-results{
    margin: auto;
}

.page-number-active{
    color: #fff;
    background: #F28E33;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14pt;
    font-weight: 600;
}

.see-more-sell-devices{
    cursor: pointer;
    width: 160px;
    margin: auto;
    margin-top: 32px;
}

.see-more-sell-devices > div {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.see-more-sell-devices:hover > div{
    color: black;
    text-decoration: underline;
}

.page-number{
    width: 5px;
    height: 50px;
    color:#F28E33;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    font-size: 12pt;
}

.page-number:hover{
    font-size: 14pt;
}

.sidebar-element{
    border-bottom: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

#search-parameters{
    display: none;
}




.sell-item{
    position: absolute;
    top: 30px;
}

.product-data{
    width: 50%;
    margin-top: 100px;
    // max-width: 900px;
    max-width: 1100px;
}

.sell-item-back{
    width: 50%;
    position: absolute;
    //top: 80px;
    top: 0;
}

.results-back.selling{
    font-family: Sharp Sans No1 Semibold;
    padding-top: 0;
}

.product-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 40px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.product-selected{
    // padding-top: 15px;
    // padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.single-product-container{
    display: flex;
    flex-direction: row;
    //padding: 50px 140px 140px 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
    //flex-wrap: wrap;
    // max-width: 1400px;
    margin: auto;
    margin-bottom: 108px;
}

.product-image-container{
    //-width: 200px;
    // max-width: 670px;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: auto;
    margin-left: 220px;
    margin-top: 100px;
    margin-right: 140px;
}

.product-image-container img{
    //height: 500px;
    // position: relative;
    // display: block;
    // width: auto;
    // height: auto;
    // max-height: 500px;
    // margin-right: 40px;
    position: relative;
    display: block;
    width: 100%;
    // max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.select-shopping-option-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 10px;
}

.grades-info-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.modal-header.grades{
    position: relative;
    background: white !important;
}

.grades-info-header-text{
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-family:Sharp Sans No1 Bold;
}

.close-grades-box{
    position: absolute;
    right: -20px;
    bottom: 20px;
    // background-color: #F28E33;
    width: 72px;
    height: 72px;
}

.close-grades-modal-button{
    opacity: 1;
}

.grades-toggle-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.toggle-grade-section{
    // font-family:Sharp Sans No1 Bold;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;

    min-height: 45px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #d4fff6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.toggle-grade-section.selected-grade{
    background-color: #A375BC;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 20px/27px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.close-grades-img{
    width: 50px;
    height: 50px;
}

.grade-section-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #A375BC;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 75px;
}

.grade-desc-column{
    display: flex;
    flex-direction: column;
}

.grade-desc-item{
    margin: 15px;
    max-width: 380px;
    height: auto;
    display: flex;
    flex-direction: row;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/27px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 30px;
}

.grade-desc-tick{
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-right: 20px;
}

#selected-grade, #selected-network, #selected-gb{
    // font-size: 14px;
    // margin-left: 6px;
    // font-family:Sharp Sans No1 Bold;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

#product-price{
    // font-size: 32pt;
    // color: #F28E33;
    // font-weight: 600;
    // font-family:Sharp Sans No1 Bold;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 67px/var(--unnamed-line-spacing-90) Sharp Sans No1 Semibold;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--sell-–-orange);
    text-align: left;
    font: normal normal normal 67px/90px Sharp Sans No1 Semibold;
    letter-spacing: 0px;
    color: #F28E33;
    opacity: 1;
    margin: 0;
    height: 90px;
}

.networks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 350px;
}

.network-container{
    // width: 80px;
    // height: 80px;
    width: 122px;
    height: 112px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-container-disabled{
    opacity: 0.5;
}

.network-container img{
    // max-height: 50px;
    max-height: 60px;
}

.memory-container{
    width: 120px;    
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 69px;
    //font-size: 12pt;
}

.memory-container-deselected{
    opacity: 0.5;
}

.network-container-selected{
    // border: 2px solid #F28E33 !important;
    border: 4px solid #F28E33 !important;
    background: #e8e8e8;
    color: #F28E33 !important;
    transform: scale(1.05);
    transition: 0.2s linear;
    font-size: 16px !important;
    font: normal normal normal 25px/34px Sharp Sans No1 Bold !important;
}

.memory-container-selected{
    // border: 2px solid #F28E33 !important;
    border: 4px solid #F28E33 !important;
    background: #e8e8e8;
    color: #F28E33 !important;
    transform: scale(1.05);
    transition: 0.2s linear;
    font: normal normal normal 25px/34px Sharp Sans No1 Bold !important; 
    //font-size: 16px !important;
}

.elem-grade-container-selected{
    // border: 2px solid #F28E33 !important;
    border: 4px solid #F28E33 !important;
    background: #e8e8e8;
    color: #F28E33 !important;
    transform: scale(1.05);
    transition: 0.2s linear;
    font: normal normal normal 25px/34px Sharp Sans No1 Bold !important;
    //font-size: 16px !important;
}

.infotext-sell-item{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.infotext-sell-item.bold{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/27px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.infotext-sell-item.border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    max-width: 110px;
}

.link-small{
    width: 110px;
}

.selling-item-grade-container{
    flex-wrap: wrap;
}

.grade-options-container{
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    // max-width: 501px;
    // min-width: 350px;
}

.elem-grade-container{
    width: auto;
    min-width: 150px;
    max-width: 285px;    
    height: 62px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: 12pt;
    font-size: 14px;
    margin-bottom: 10px;
}

.elem-grade-container, .device-memory > label, .network-container > div > label{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.elem-grade-container-deselected{
    opacity: 0.5;
}

.elem-grade-container:hover{
    cursor: pointer;
}

.memory-container:hover{
    cursor: pointer;
}

.network-container:hover{
    cursor: pointer;
}

.sell-email-input{
    height: 60px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/30px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 22px/30px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border-radius: 5px;
}

.pleaseSelect{
    text-align: center;
    transition: all 0.3s linear;
    height: 35px;
    padding: 0;
    overflow-y: hidden;
    width: auto;
    max-width: 700px;
}

.pleaseSelect > p {
    color: black;
    font-size: 14px;
    margin-top: 5px;
}

.pleaseSelect.invisible{
    height: 0;
}

.green-success{
    color: #57D591;
    font-size: 18px;
}

.pass-info-requirements{
    font-size: 12px;
}

.welcome-user-container{
    background: #FCC44C;
    padding: 25px 45px;
}

.welcome-basket-details{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 63px/80px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 63px/80px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 33px;
}

.welcome-bold{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 73px;
    margin-bottom: 56px;
}

.cartdetails-user-info-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 87px;
}

.welcome-small{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 30px/38px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome-img{
    display: block;
    width: 183px;
    height: 128px;
    margin-right: 40px;
}

.bank-account-details{
    background-color: #ffefcc;
    padding: 25px 45px;
}

.bank-details-large{
    font-family:Sharp Sans No1 Bold;
    font-size: 28px;
}

.bank-details-small{
    font-size: 18px;
}

.width-60px{
    width: 60px;
}

.checkbox-input{
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.selling-disclaimer-cart{
    margin-top: 95px;
    margin-bottom: 95px;
    margin-left: 0;
}

.newsletter-small-sell{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.small-input{
    max-width: 260px;
}

.delivery-details-basket > h3{
    padding: 20px 35px 20px 35px;
}

.delivery-details-basket > p {
    padding-left: 35px;
    padding-right: 35px;
}

.delivery-address-container{
    padding-left: 35px;
    padding-right: 35px;
}

.delivery-address-lookup{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 20px;
}

#manual_address_error{
    padding: 0;
    margin: 0;
    transition: all 0.3s linear;
    overflow-y: hidden;
    height: 30px;
}

#manual_address_error.invisible{
    height: 0;
}

#manual_address_error > p{
    margin-top: 4px;
    margin-bottom: 4px;
}

.search-button-basket-delivery{
    background: #F28E33;
    width: 57px;
    height: 47px;
    text-align: center;
    border-radius: 5px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
}

.search-button-basket-delivery > img{
    display: block;
    width: 23px;
    height: 23px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.lookup-delivery-basket{
    height: 47px;
    border: 0 !important;
    box-shadow: none;
    margin: 0;
}

.enter-manually-basket {
    font-family:Sharp Sans No1 Semibold;
    color: #F28E33;
    cursor: pointer;
    user-select: none;
}

input.lookup-delivery-basket::placeholder{
    background-color: transparent !important;
}

.single-product-container input[type=radio] { display: none }

// #gradesModal>.modal-dialog{
//     background: #A375BC;
// }

// #gradesModal>.modal-dialog>.modal-content{
//     background: #A375BC;
// }

// #gradesModal>.modal-dialog>.modal-content>.modal-header{
//     background: #A375BC;
// }

// #gradesModal>.modal-dialog>.modal-content>.modal-body{
//     background: #A375BC;
// }

// #gradesModal ul{
//     padding: 0 !important;
// }

// #gradesModal>.modal-dialog{
//     max-width: 1200px !important;
//     width: 1200px !important;
// }

.samsung-note-alert{
    font-size: 16px;
    font-family: Sharp Sans No1 Bold;
}
































// new styles
.sell-title, .sell-subtitle{
    text-align: center;
}

.sell-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 55px;
}

.sell-subtitle{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.sell-subtitle-regular{
    font-size: 18px;
    font-family: Sharp Sans No1 Book;
    text-align: center;
}

.sell-icon-covered{
    width: 40px;
    height: 40px;
}

.search-column-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    //max-width: 800px;
    position: relative;
}

.sell-searchfield{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    margin-bottom: 0 !important;
    margin-left: auto;
    margin-right: auto;
}

.search-sell-input{
    padding: 0;
    margin: 0;
    height: 72px;
    width: 100%;
    text-align: left;
    padding-left: 31px;
    background: #F2F2F2;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.search-sell-input:focus{
    outline: none;
}

.search-sell-btn{
    margin-bottom: 0 !important;
    cursor: pointer;
    background: #F28E33;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-sell-btn > img {
    display: block;
    position: relative;
    width: 87px;
    height: 72px;
    padding: 18px;
}

#selling-search-results-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    //max-height: 405px;
    height: 100vh;
    //z-index: 1000;
    z-index: 48;
    position: absolute;
    top: 72px;
    background-color: rgba(0, 0, 0, 0.7);
}

#selling-search-results-wrapper.invisible{
    display: none;
}

#selling-search-results{
    //max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 712px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    //max-height: 405px;
    position: relative;
    background: white;
    // overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 43px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#selling-search-results.nomatches{
    //height: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}

.loader.invisible{
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.selling-single-result{
    margin-bottom: 2px;
    cursor: pointer;
    padding-left: 20px;
}

.selling-single-result > p{
    transition: color 0.2s ease;
}

.selling-single-result > p:hover{
    color: #F28E33;
}

.selling-single-result > p{
    margin: 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/35px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/35px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-left: 20px;
    padding-top: 5px;
}

#no-results-sorry{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#no-results-sorry.invisible{
    display: none;
}

.sorry-result-img{
    width: 100px;
    height: auto;
    margin: 1.5rem;
    margin-left: 2.5rem;
}

.sorry-result-text{
    height: auto;
    margin: auto;
    font-size: 15px;
    max-width: 480px;
}

.sorry-result-text > a{
    font-size: 15px;
    color: #F28E33 !important;
}




.sell-categories-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
}

.sell-categories-container.about-page{
    margin-top: 100px;
    margin-bottom: 140px;
}

.sell-category-wrapper{
    position: relative;
}

.sell-category-device-image{
    position: absolute;
    right: auto;
    width: auto;
    height: auto;
    // max-width: 300px;
    max-width: 402px;
    transition: all 0.3s ease;
}

.sell-category-device-image.enlarged{
    transform: scale(1.1);
}

.sell-category-device-image.mobile{
    // top: -75px;
    // left: 45px;
    top: -80px;
    left: 0;
}

.sell-category-device-image.tablet{
    // top: 10px;
    // left: 50px;
    top: 0;
    left: -10px;
    max-width: 430px;
}

.sell-category-device-image.watch{
    // top: -25px;
    // left: 65px;
    // max-width: 260px;
    top: -30px;
    left: 15px;
}

// about us page sell categories
.sell-category-device-image.about.mobile{
    // left: 0;
    // top: -75px;
}
.sell-category-device-image.about.tablet{
    // top: 10px;
    // left: 0;
}
.sell-category-device-image.about.watch{
    // top: -25px;
    // left: 20px;
    // max-width: 260px;
}

// breakpoint about us page
@media only screen and (max-width: 625px){
    .sell-category-device-image.about.mobile{
        left: 40px;
        top: -55px;
    }
    .sell-category-device-image.about.tablet{
        top: 10px;
        left: 40px;
    }
    .sell-category-device-image.about.watch{
        top: -17px;
        left: 45px;
        //max-width: 210px;
    }
}

.device-shadow{
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    filter: blur(2px);
    transition: all 0.3s ease;
}

.device-shadow.mobile{
    width: 100px;
}

.device-shadow.zoomed{
    transform: scale(1.5);
}


.sell-category-device-background{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    // width: 260px;
    // height: 260px;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.sell-category-device-background.small{
    // transform: scale(0.8);
    transform: scale(0.75);
    // width: 200px;
    // height: 200px;
}


#rounded-mobile{
    background: transparent linear-gradient(151deg, #FD7F8E 0%, #569CCE 100%) 0% 0% no-repeat padding-box;
}

#rounded-tablets{
    background: transparent linear-gradient(151deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}

#rounded-watches{
    background: transparent linear-gradient(151deg, #57D591 0%, #A670AF 100%) 0% 0% no-repeat padding-box;
}

#rounded-accesories{
    background: transparent linear-gradient(151deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
}


.single-sell-category{
    width: 400px;
    cursor: pointer;
    transition: all 0.3s linear;
    filter: opacity(1);
}

.single-sell-category.about{
    width: 400px;
}

.single-sell-category.faded{
    filter: opacity(0.5);
}

.single-sell-category > .rounded-background-image{
    margin: auto;
    margin-top: 30px;
}

.single-sell-category:hover > .rounded-background-image > img{
    transition: all 0.5s ease-out;
}

.single-sell-category:hover > .rounded-background-image > img{
    transform: scale(1.5);
}

.sell-category-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 40px/48px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}


.selected-category{
    display: none;
    flex-direction: column;
    // margin-top: 40px;
    margin-top: 11px;
}

.selected-category > p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.selected-category-img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

.device-makes-container{
    margin: auto;
    margin-bottom: 110px;
}

.device-brands-row{
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
}

.device-brand{
    flex: 1 0 21%;
    margin: 5px;
    border: 2px solid #707070;
    border-radius: 10px;
    cursor: pointer;
    height: 115px;
    max-width: 264px;
    transition: all 0.3s linear;
}

.device-brand.selected{
    border: 5px solid #A375BC;
    // border-color: #A375BC;
    // border-radius: 10px;
}

.device-brand > img {
    // width: 100px;
    // height: 100px;
    // display: block;
    // margin: auto;
    width: 100px;
    max-height: 50px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

#device-makes-results{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.device-make-result{
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-top: 0;
}

.device-make-result > p{
    //font-size: 14px;
}

.device-make-result-image{
    width: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.device-make-result-name{
    font-family: Sharp Sans No1 Bold;
    font-size: 22px !important;
    text-align: center;
    width: 240px;
    height: 75px;
    overflow-y: hidden;
    margin-top: 34px;
}

.select-make-result-device{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 0 !important;
    cursor: pointer;
}

.select-make-result{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: 7px;
}

.selling-info-items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}


.selling-info-item{
    // width: 250px;
    width: 350px;
    // height: 200px;
    height: auto;
    text-align: center;
}

.selling-info-img{
    // width: 120px;
    // height: 120px;
    width: 173px;
    height: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selling-info-bold-text{
    // font-family: Bebas Neue;
    // font-size: 1.5em;
    // line-height: 1;
    // margin-top: auto;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.no-network{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


// sell cart
.basket-summary{
    width: 100%;
    max-width: 469px;
}

.basket-title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.basket-summary-icon{
    display: block;
    width: 120px;
    height: 113px;
}

.basket-summary-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 63px/80px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 63px/80px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 46px;
    margin-top: 13px;
}

.no-cart-items-sell{
    font-size: 14px;
    margin-left: 6px;
    font-family:Sharp Sans No1 Bold;
}

.cart-breadcrumbs{
    display: flex;
    flex-direction: row;
    padding-left: 140px;
    padding-top: 24px;
}

.cart-breadcrumbs.yourdetails{
    padding: initial;
}

.basket-details-container{
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 70px;
    margin-top: 140px;
}

.basket-device-details{
    margin-right: 91px;
    width: 100%;
    max-width: 1200px;
}

.cart-product{
    border-top: 1px solid #000;
    padding: 35px 0px;
    justify-content: space-between;
}

.cart-productname-column{
    width: 100%;
    min-width: 240px;
    max-width: 500px;
}

.cart-price-column{
    width: 100%;
    min-width: 116px;
    max-width: 116px;
}

.cart-quantity-column{
    width: 100%;
    min-width: 98px;
    max-width: 170px;
}

.cart-itemprice-column{
    width: 100%;
    min-width: 112px;
    max-width: 170px;
    margin-right: auto;
}

.remove-cart-space{
    width: 100%;
    min-width: 240px;
    max-width: 500px;
}

.remove-hr{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 44px;
}

.black-cart-info-text{
    // color: black;
    // font-size: 18px;
    // font-family:Sharp Sans No1 Semibold;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    user-select: none;
}

.grey-cart-info-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #AAAAAA;
    user-select: none;
}

.order-summary-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-summary-cart.margin-top{
    margin-top: 100px;
}

.order-summary-bold{
    // font-family:Sharp Sans No1 Bold;
    // font-size: 20px;
    // margin-left: 0;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 32px/43px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 32px/43px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.summary-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.summary-cart-text-total{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 28px/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 28px/38px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 33px;
}

.summary-cart-text-bold-total{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 28px/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 28px/38px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 16px;
}

.summary-cart-text, .summary-cart-text-bold{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.summary-cart-text-bold-large{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/41px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 30px/41px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.summary-cart-text-bold-quantity-price{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/27px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.summary-cart-text-bold{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/35px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/35px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    padding-top: 4px;
}

.summary-regular-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

//.bold-cart-info-text, .summary-cart-text-bold, .cart-text-bold{
    // font-family:Sharp Sans No1 Bold;
//}

.cartdetails-container{
    justify-content: center;
}

.cartdetails-summary{
    min-width: 460px;
    max-width: 460px;
    margin-top: 100px;
}

.summary-cart-details-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 28px/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 28px/38px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 33px;
}







.trade-pack-type{
    // background-color: #ffefcc;
    // background: #FCC44C 0% 0% no-repeat padding-box;
    background: #fff9ed;
}

.title-trade-pack-type-large{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 32px/43px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 32px/43px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 10px;
}

.title-trade-pack-type{
    // font-size: 14px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 70px;
}

.title-trade-pack-type.pack-instructions{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 250px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 44px;
}

.select-pack-type{
    display: flex;
    flex-direction: row;
}

.order-label-wrapper{
    width: 291px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.order-label-print-type{
    // width: 200px;
    width: 291px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    -webkit-filter: opacity(0.3);
    filter: opacity(0.3);
}

.order-label-print-type.selected{
    border: 3px solid #f28e33;
    border-radius: 4px;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

.order-label-print-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order-label-print-text{
    // font-family: Sharp Sans No1 Bold;
    // font-size: 18px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 26px/36px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 26px/36px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-top: 12px;
}

.order-label-select-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    margin-top: 10px;
}

.confirmation-info-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.confirmation-woohoo-img{
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
}

.confirmation-info-text-bold-large{
    // font-family: Sharp Sans No1 Bold;
    // font-size: 52px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 63px/80px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 63px/80px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.confirmation-info-text-bold-medium-large{
    // font-family: Sharp Sans No1 Bold;
    // font-size: 46px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.confirmation-info-text-bold-medium-large.on-top{
    margin-bottom: 86px;
    margin-top: 41px;
}

.confirmation-info-text-bold-smaller{
    // font-family: Sharp Sans No1 Bold;
    // font-size: 20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 30px/38px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.confirmation-info-text-bold-smaller.fixed-height{
    height: 76px;
}

.confirmation-info-text-bold-smaller.fixed-height.centered-vertically{
    height: 76px;
    line-height: 76px;
}

.confirmation-info-text-smaller{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.confirmation-info-text-bold-small{
    font-family: Sharp Sans No1 Bold;
    font-size: 16px;
}

.confirmation-info-text-bold{
    font-family: Sharp Sans No1 Bold;
    font-size: 22px;
}

.confirmation-info-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.confirmation-info-text.description{
    height: 210px;
}

.confirmation-info-text.padded{
    padding: 0 40px !important;
}

.confirmation-grey{
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.confirmation-info-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    justify-content: center;
}

.single-box-confirmation{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: 40px;
    margin-left: 40px;
}

.confirmation-image-wrapper{
    height: 200px;
}

.confirmation-info-img{
    display: block;
    width: 180px;
    height: auto;
    // height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.confirmation-speed-up{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.border-gray{
    width: 100%;
    height: 1px;
    background: grey;
}



.create-account-yourdetails{
    background-color: #fff9ed;
    padding: 57px 64px;
}

.basket-signup-label{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 8px;
}

.create-account-container > h2{
    font-family: Sharp Sans No1 Bold;
}

.create-account-yourdetails > p.create-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 32px/43px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 32px/43px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    margin-bottom: 44px;
}

.password-input{
    position: relative;
    width: 200px;
}

.toggle-pass-visibility{
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 12px;
}

.newsletter-singup-row{
    display: flex;
    flex-direction: row;
}

.newsletter-tick-black{
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: auto;
    margin-right: 24px;
    margin-left: 14px;
}






// general
@media (max-width: 1130px){
    
}

// tablets - large
@media (max-width: 990px){
    .selling-info-item{
        height: 250px;
    }
    .single-product-container{
        flex-direction: column;
    }
    .product-data{
        width: auto;
        margin: auto;
    }

    .back-results-sell{
        margin-left: 20px !important;
    }

    .basket-details-container{
        flex-direction: column;
    }

    .basket-summary, .basket-device-details{
        width: 100% !important;
    }
    .cart-breadcrumbs{
        justify-content: center;
        margin-left: auto !important;
        flex-wrap: wrap;
    }

    .cart-product{
        flex-wrap: wrap;
    }

    .cart-product-single-column{
        width: auto !important;
        margin-bottom: 20px;
    }

    .remove-from-cart-tohide{
        display: none;
    }

    .left-title-container > img{
        min-width: 100px;
        height: auto;
    }
    .left-title-container > p{
        font-size: 20px !important;
    }

    .cartdetails-container{
        flex-wrap: wrap;
        margin-left: auto !important;
    }

    .cartdetails-type, .cartdetails-type-subcontainer, .cartdetails-summary{
        width: 100% !important;
    }

    .cartdetails-summary{
        margin-top: 20px;
        margin-left: 0 !important;
        padding: 15px;
        min-width: 100% !important;
    }

    .select-pack-type{
        flex-wrap: wrap;
        justify-content: center;
    }

    .create-account-container{
        width: 100% !important;
    }

    .welcome-user-container, .bank-account-details{
        width: 100% !important;
    }
}

// tablets - breakpoint
@media (max-width: 890px){
    .top-upper-elements-container{
        height: 50px;
        min-height: 50px;
    }
    .top-upper-elements-container a {
        //min-width: 200px;
        //width: 150px;
    }
    .top-element-container p {
        font-size: 12pt;
    }
    .products a {
        flex: 1 0 30%;
    }

    .selllinks-sublink{
        top: 50px;
    }
}

// tablets - breakpoint
@media only screen and (max-width: 740px){
    .products a {
        flex: 1 0 50%;
    }
    .product-data-container > h5 {
        color: black;
    }
}

// tablets - breakpoint
@media (max-width: 690px){
    // .sell-item{

    // }
}

// tablets - regular
@media only screen and (max-width: 625px){
    .header-selling-links{
        overflow-x: scroll;
        padding: 0 30px;
    }
    .device-brands-row{
        padding: 0 15px;
    }
    .device-brand{
        flex: 1 0 45%;
    }
    .top-upper-elements-container{
        padding: 0;
        overflow-x: scroll;
        display: inline-flex;
        box-shadow: none;
        // overflow-y: hidden;
    }

    .top-element-container{
        min-width: 200px;
    }
    .top-element-container.on-page > a > p {
        padding: 0;
    }

    .top-element-container a {
        padding: 0;
    }

    .top-upper-elements-container a {
        // width: 125px !important;
        // min-width: 125px !important; 
        text-align: center;
    }

    .top-upper-elements-container p {
        // font-size: 10pt !important;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) Sharp Sans No1 Semibold;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal normal 20px/27px Sharp Sans No1 Semibold;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .products a {
        flex: 1 0 100%;
    }
    .selllinks-sublink{
        display: none !important;
    }

    .sell-title, .sell-subtitle{
        padding: 0 60px;
    }

    .sell-searchfield{
        padding: 0 40px;
    }

    #selling-search-results{
        right: 0;
    }

    .search-sell-input{
        font-size: 14px;
    }

    .single-sell-category{
        width: 250px;
    }

    .sell-category-device-background{
        width: 200px;
        height: 200px;
        margin-top: 40px;
    }

    .sell-category-device-image{
        max-width: 220px;
    }

    .sell-category-device-image.mobile {
        top: -40px;
        left: 18px;
    }

    .sell-category-device-image.tablet {
        top: 7px;
        left: 14px;
        max-width: 220px;
    }

    .sell-category-device-image.watch {
        top: -25px;
        left: 14px;
        max-width: 220px;
    }

    .selected-category{
        margin-top: 20px;
    }

    .device-make-result-image{
        max-width: 150px;
    }

    .cartdetails-container, .create-account-container, .create-account-yourdetails{
        padding: 0 !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .create-account-container > h2{
        padding-left: 25px;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .complete-registration-form{
        padding: 20px;
    }

    .create-title{
        padding: 20px;
        padding-bottom: 0;
    }

    .single-sell-category{
        margin-bottom: 46px;
    }
}

// mobile
// only screen and
@media (max-width: 496px){
    .device-brand {
        flex: 1 0 40%;
    }

    .sell-title{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-60)/var(--unnamed-line-spacing-65) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 60px/65px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .sell-subtitle{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 30px/40px Bebas Neue;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .search-sell-input{
        height: 60px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 25px/34px Sharp Sans No1 Medium;
        letter-spacing: 0px;
    }

    .search-sell-btn > img {
        width: 60px;
        height: 60px;
        padding: 13px;
    }

    .sell-category-title{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/var(--unnamed-line-spacing-27) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 22px/27px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .sell-categories-container{

    }
}

// mobile - small
@media (max-width: 380px){
    
}