.sell-top-container{
    background: #F28E33;
    
}

.top-upper-elements-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    min-height: 80px;
    padding: 0 150px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.16);
}

.top-upper-elements-container a{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width: 240px;
    // width: 280px;
}

.top-down-elements-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 150px;
}

.hover-element{
    background: #fff;
    min-width: 400.75px;
    position: absolute;
    top: 0px;
    display: none;

    z-index: 100000;
}


.top-element-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    cursor:pointer;
    position: relative;
}

.sell-links-item{ 
    color: white;   
}

.selllinks-sublink{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 80px;
    background: #F28E33;
    z-index: 60;
    width: 100%;
}

.sell-links-sublink-item > p{
    color: white;
}

.sell-links-sublink-item:hover > p{
    color: #F28E33;
}

.sell-links-sublink-item:hover{
    background: white;
}

.sell-links-sublink-item > p{
    color: white;
}

.top-element-container a{
    //color: #000;
    padding: 20px;
    transform: 0.2s linear;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.top-element-container a:hover{
    color: #F28E33;
    padding: 20px;
    transform: 0.2s linear;
}

.top-element-container:hover{
    background: #fff;
    transition: 0.2s linear;
}

.top-element-container:hover > .sell-links-item > p{
    color: #F28E33;
    transition: 0.2s linear;
}

.top-element-container p{
    font-family: Sharp Sans No1 Semibold;
    font-size: 14pt;
    transition: 0.2s linear;
}

.sell-links-item > p{
    color: #fff;
}

.sell-title-container{
    //padding: 50px;
}

.sell-title-container div{
    //margin-bottom: 2.5rem;
}

.sell-search-form{
    width: 70%;
    display: flex;
    align-items: center;
}

.sell-search-form input{
    height: 72px;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 20pt;

    background: #F2F2F2 0% 0% no-repeat padding-box;
}

.sell-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #F28E33;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.smaller-title p{
    font-size: 24px;
    font-weight: 600;
}

.mt-50{
    margin-top: 50px;
    align-items: center;
}

.mt-50 p{
    font-size: 18px;
}

.mt-50 img{
    height: 32px;
    margin-left: 25px;
}

.smaller-a{
    width: 350px;
    max-width: 350px;
}

.w-1000{
    max-width: 1100px;
    width: 1100px;
    margin: auto;
}

.selling-info-container{
    height: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

.selling-info-element{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.selling-info-element img{
    margin-bottom: 40px;
}

.selling-info-element p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.selling-service-container-image{
    width: 150px;
    height: 150px;
    min-width: 150px;
}

.selling-service-container img{
    width: 100%;
    height: 100%;
}

.selling-service-container-text {
    width: 70%;
}

.selling-service-container{
    background: #23AAF7;
    display: flex;
    padding: 25px 250px;
    align-items: center;
    justify-content: space-between;
}

.why-title-container{
    background: url("/customer_page_images/body/Sell-Orange.png");
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-title-container p{
    color: #fff;
}

.whysell-main-text{
    max-width: 650px;
}

.whysell-main-subtext{
    max-width: 700px;
}

.main-whysell-video-container{
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    margin: 20px;
}

.main-whysell-video-container:hover > div.mainWhySellVideoToggle > img{
    transform: scale(1.2);
}

.mainWhySellVideoToggle{
    background: #F28E33;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #cccccc;
    padding: 35px;
    cursor: pointer;
}

.mainWhySellVideoToggle > p {
    font-family: Sharp Sans No1 Bold;
    font-size: 45px !important;
    color: white;
}

.mainWhySellVideoToggle > img {
    transition: all 0.3s linear;
}

.selling-video-container{
    margin-top: 0;
    background-color: #fff;
    width: 600px;
    height: 300px;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.selling-video-container p{
    font-size: 32px;
    color: #BCBCBC;
    font-family: Sharp Sans No1 Bold;

}

.selling-video{
    width: 600px;
    height: 300px;
    border: none;
}

.selling-video:focus, .selling-video:hover{
    outline: none;
}

.border-down{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.selling-with-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling-with-container .center-title-container>p{
    color: #F28E33;
}

.selling-with-elements{
    //padding: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selling-with-element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
    padding: 25px;
}

.selling-with-element.selling-with-right{
    flex-wrap: wrap-reverse;
}

.selling-with-element.selling-with-left > .selling-img-container{
    margin-right: 100px;
}

.selling-with-element.selling-with-right > .selling-img-container{
    margin-left: 100px;
}

// specific text breakpoint
@media (max-width: 1176px){
    .selling-with-element.selling-with-left > .selling-img-container{
        margin-right: 0;
    }
    
    .selling-with-element.selling-with-right > .selling-img-container{
        margin-left: 0;
    }
}

.selling-img-container{
    //width: 45%;
}

.selling-text-container{
    width: 100%;
    max-width: 600px;
    margin: 30px;
    //width: 45%;
}

.selling-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selling-img-container img{
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
}

.selling-text-container p{
    font-size: 16px;
}

.title-orange{
    font-size: 32px !important;
    font-family: Bebas Neue, Helvetica, sans-serif;
    color: #F28E33;
    margin-bottom: 40px;
}

.back-results-selling{
    margin-top: 20px;
}

.back-results-sell{
    display: flex;
    flex-direction: row;
    width: 120px;
    cursor: pointer;
}

.results-back{
    font-family: Sharp Sans No1 Semibold;
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
    //padding-top: 4px;
}

.results-upper{
    font-family: Sharp Sans No1 Semibold;
    font-size: 24px;
    text-transform: uppercase;
}

.results-found{
    font-family: Sharp Sans No1 Semibold;
    font-size: 30px;
}

.results-info{
    font-size: 16px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
}

.product{
    display: flex;
    padding: 20px;
    // width: 250px;
    // height: 350px;
    // background-color: #fff;
    // border: 1px solid #ccc;
    text-align: center;

    flex-grow: 1;
    transition: transform .2s;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products a{
    // margin: 10px 0 0 1%;
    flex: 1 0 21%;
}

.product:hover{
    transform: scale(1.1);
}

.selling-product-image-container{
    width: 100%;
    max-width: 300px;
    height: auto;
    // height: 250px;
}

.selling-product-image-container img{
    width: 100%;
    height: 100%;
}

.next-icon-results, .back-icon-results{
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.next-icon-results{
    margin: auto;
}

.page-number-active{
    color: #fff;
    background: #F28E33;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14pt;
    font-weight: 600;
}

.see-more-sell-devices{
    cursor: pointer;
    width: 160px;
    margin: auto;
}

.see-more-sell-devices > a {
    font-size: 18px;
}

.see-more-sell-devices:hover > a{
    color: black;
    text-decoration: underline;
}

.page-number{
    width: 5px;
    height: 50px;
    color:#F28E33;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    font-size: 12pt;
}

.page-number:hover{
    font-size: 14pt;
}

.sidebar-element{
    border-bottom: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

#search-parameters{
    display: none;
}




.sell-item{
    position: absolute;
    top: 30px;
}

.sell-item-back{
    width: 50%;
    position: absolute;
    //top: 80px;
    top: 0;
}

.results-back.selling{
    font-family: Sharp Sans No1 Semibold;
    padding-top: 0;
}

.product-title{
    font-size: 24px;
    font-family: Sharp Sans No1 Bold;
}

.product-selected{
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-product-container{
    display: flex;
    flex-direction: row;
    padding: 50px 50px;
    //flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.product-image-container{
    min-width: 200px;
    height: auto;
    margin: auto;
}

.product-image-container img{
    //height: 500px;
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-height: 500px;
    margin-right: 40px;
}

.select-shopping-option-title{
    font-size: 14px;
    margin-bottom: 5px;
}

.grades-info-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.modal-header.grades{
    position: relative;
    background: white !important;
}

.grades-info-header-text{
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-family:Sharp Sans No1 Bold;
}

.close-grades-box{
    position: absolute;
    right: -20px;
    bottom: 20px;
    // background-color: #F28E33;
    width: 72px;
    height: 72px;
}

.close-grades-modal-button{
    opacity: 1;
}

.grades-toggle-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.toggle-grade-section{
    font-family:Sharp Sans No1 Bold;
    min-height: 45px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #d4fff6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.toggle-grade-section.selected-grade{
    background-color: #A375BC;
}

.close-grades-img{
    width: 50px;
    height: 50px;
}

.grade-section-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #A375BC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-wrap: wrap;
}

.grade-desc-column{
    display: flex;
    flex-direction: column;
}

.grade-desc-item{
    margin: 15px;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    font-family:Sharp Sans No1 Semibold;
}

.grade-desc-tick{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    // margin-top: 5px;
}

#selected-grade, #selected-network, #selected-gb{
    font-size: 14px;
    margin-left: 6px;
    font-family:Sharp Sans No1 Bold;
}

#product-price{
    font-size: 32pt;
    color: #F28E33;
    font-weight: 600;
    font-family:Sharp Sans No1 Bold;
}

.networks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 350px;
}

.network-container{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-container-disabled{
    opacity: 0.5;
}

.network-container img{
    max-height: 50px;
}

.memory-container{
    width: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}

.memory-container-deselected{
    opacity: 0.5;
}

.network-container-selected{
    border: 2px solid #F28E33 !important;
    color: #F28E33;
    transform: scale(1.05);
    transition: 0.2s linear;
    font-size: 16px !important;
}

.memory-container-selected{
    border: 2px solid #F28E33 !important;
    color: #F28E33;
    transform: scale(1.05);
    transition: 0.2s linear;
    font-size: 16px !important;
}

.elem-grade-container-selected{
    border: 2px solid #F28E33 !important;
    color: #F28E33;
    transform: scale(1.05);
    transition: 0.2s linear;
    font-size: 16px !important;
}

.selling-item-grade-container{
    flex-wrap: wrap;
}

.grade-options-container{
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    max-width: 501px;
    min-width: 350px;
}

.elem-grade-container{
    width: auto;
    min-width: 150px;
    max-width: 200px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: 12pt;
    font-size: 14px;
    margin-bottom: 10px;
}

.elem-grade-container, .device-memory > label, .network-container > div > label{
    font-family: Sharp Sans No1 Bold;
}

.elem-grade-container-deselected{
    opacity: 0.5;
}

.elem-grade-container:hover{
    cursor: pointer;
}

.memory-container:hover{
    cursor: pointer;
}

.network-container:hover{
    cursor: pointer;
}

.sell-email-input{
    max-height: 38px;
}

.pleaseSelect{
    text-align: center;
    transition: all 0.3s linear;
    height: 35px;
    padding: 0;
    overflow-y: hidden;
}

.pleaseSelect > p {
    color: black;
    font-size: 14px;
    margin-top: 5px;
}

.pleaseSelect.invisible{
    height: 0;
}

.green-success{
    color: #57D591;
    font-size: 18px;
}

.pass-info-requirements{
    font-size: 12px;
}

.welcome-user-container{
    background: #FCC44C;
    padding: 25px 45px;
}
.welcome-bold{
    font-size: 40px;
    font-family:Sharp Sans No1 Bold;
}
.welcome-small{
    font-size: 28px;
    margin-left: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome-img{
    display: block;
    width: 160px;
}

.bank-account-details{
    background-color: #ffefcc;
    padding: 25px 45px;
}

.bank-details-large{
    font-family:Sharp Sans No1 Bold;
    font-size: 28px;
}

.bank-details-small{
    font-size: 18px;
}

.width-60px{
    width: 60px;
}

.checkbox-input{
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.newsletter-small-sell{
    margin-top: auto;
    margin-bottom: auto;
}

.small-input{
    max-width: 260px;
}

.delivery-details-basket > h3{
    padding: 20px 35px 20px 35px;
}

.delivery-details-basket > p {
    padding-left: 35px;
    padding-right: 35px;
}

.delivery-address-container{
    padding-left: 35px;
    padding-right: 35px;
}

.delivery-address-lookup{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 20px;
}

.search-button-basket-delivery{
    background: #F28E33;
    width: 57px;
    height: 47px;
    text-align: center;
    border-radius: 5px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
}

.search-button-basket-delivery > img{
    display: block;
    width: 23px;
    height: 23px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.lookup-delivery-basket{
    height: 47px;
    border: 0 !important;
    box-shadow: none;
    margin: 0;
}

.enter-manually-basket {
    font-family:Sharp Sans No1 Semibold;
    color: #F28E33;
    cursor: pointer;
    user-select: none;
}

input.lookup-delivery-basket::placeholder{
    background-color: transparent !important;
}

.single-product-container input[type=radio] { display: none }

// #gradesModal>.modal-dialog{
//     background: #A375BC;
// }

// #gradesModal>.modal-dialog>.modal-content{
//     background: #A375BC;
// }

// #gradesModal>.modal-dialog>.modal-content>.modal-header{
//     background: #A375BC;
// }

// #gradesModal>.modal-dialog>.modal-content>.modal-body{
//     background: #A375BC;
// }

// #gradesModal ul{
//     padding: 0 !important;
// }

// #gradesModal>.modal-dialog{
//     max-width: 1200px !important;
//     width: 1200px !important;
// }

.samsung-note-alert{
    font-size: 16px;
    font-family: Sharp Sans No1 Bold;
}
































// new styles
.sell-title, .sell-subtitle{
    text-align: center;
}

.sell-title{
    font-family: Sharp Sans No1 Bold;
}

.sell-title{
    font-size: 60px;
}

.sell-subtitle{
    font-size: 24px;
    text-transform: uppercase;
    font-family: Bebas Neue;
}

.sell-subtitle-regular{
    font-size: 18px;
    font-family: Sharp Sans No1 Book;
    text-align: center;
}

.sell-icon-covered{
    width: 40px;
    height: 40px;
}

.search-column-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    //max-width: 800px;
    position: relative;
}

.sell-searchfield{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    margin-bottom: 0 !important;
    margin-left: auto;
    margin-right: auto;
}

.search-sell-input{
    padding: 0;
    margin: 0;
    height: 72px;
    width: 100%;
    text-align: left;
    padding-left: 25px;
    background: #F2F2F2;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: Sharp Sans No1 Book;
}

.search-sell-input:focus{
    outline: none;
}

.search-sell-btn{
    margin-bottom: 0 !important;
    cursor: pointer;
    background: #F28E33;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-sell-btn > img {
    display: block;
    position: relative;
    width: 87px;
    height: 72px;
    padding: 18px;
}

#selling-search-results-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    //max-height: 405px;
    height: 100vh;
    //z-index: 1000;
    z-index: 48;
    position: absolute;
    top: 72px;
    background-color: rgba(0, 0, 0, 0.7);
}

#selling-search-results-wrapper.invisible{
    display: none;
}

#selling-search-results{
    //max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 712px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    //max-height: 405px;
    position: relative;
    background: white;
    // overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 43px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#selling-search-results.nomatches{
    //height: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}

.loader.invisible{
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.selling-single-result{
    margin-bottom: 2px;
    cursor: pointer;
    padding-left: 20px;
}

.selling-single-result > p{
    transition: color 0.2s ease;
}

.selling-single-result > p:hover{
    color: #F28E33;
}

.selling-single-result > p{
    margin: 0;
    font-family: Sharp Sans No1 Bold;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

#no-results-sorry{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#no-results-sorry.invisible{
    display: none;
}

.sorry-result-img{
    width: 100px;
    height: auto;
    margin: 1.5rem;
    margin-left: 2.5rem;
}

.sorry-result-text{
    height: auto;
    margin: auto;
    font-size: 15px;
    max-width: 480px;
}

.sorry-result-text > a{
    font-size: 15px;
    color: #F28E33 !important;
}




.sell-categories-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
}

.sell-category-wrapper{
    position: relative;
}

.sell-category-device-image{
    position: absolute;
    right: auto;
    width: auto;
    height: auto;
    max-width: 300px;
    transition: all 0.3s ease;
}

.sell-category-device-image.enlarged{
    transform: scale(1.1);
}

.sell-category-device-image.mobile{
    top: -75px;
    left: 45px;
}

.sell-category-device-image.tablet{
    top: 10px;
    left: 50px;
}

.sell-category-device-image.watch{
    top: -25px;
    left: 65px;
    max-width: 260px;
}

// about us page sell categories
.sell-category-device-image.about.mobile{
    left: 0;
    top: -75px;
}
.sell-category-device-image.about.tablet{
    top: 10px;
    left: 0;
}
.sell-category-device-image.about.watch{
    top: -25px;
    left: 20px;
    max-width: 260px;
}

// breakpoint about us page
@media only screen and (max-width: 625px){
    .sell-category-device-image.about.mobile{
        left: 40px;
        top: -55px;
    }
    .sell-category-device-image.about.tablet{
        top: 10px;
        left: 40px;
    }
    .sell-category-device-image.about.watch{
        top: -17px;
        left: 45px;
        max-width: 210px;
    }
}

.device-shadow{
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    filter: blur(2px);
    transition: all 0.3s ease;
}

.device-shadow.mobile{
    width: 100px;
}

.device-shadow.zoomed{
    transform: scale(1.5);
}


.sell-category-device-background{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.sell-category-device-background.small{
    transform: scale(0.8);
    // width: 200px;
    // height: 200px;
}


#rounded-mobile{
    background: transparent linear-gradient(151deg, #FD7F8E 0%, #569CCE 100%) 0% 0% no-repeat padding-box;
}

#rounded-tablets{
    background: transparent linear-gradient(151deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}

#rounded-watches{
    background: transparent linear-gradient(151deg, #57D591 0%, #A670AF 100%) 0% 0% no-repeat padding-box;
}

#rounded-accesories{
    background: transparent linear-gradient(151deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
}


.single-sell-category{
    width: 400px;
    cursor: pointer;
    transition: all 0.3s linear;
    filter: opacity(1);
}

.single-sell-category.about{
    width: 300px;
}

.single-sell-category.faded{
    filter: opacity(0.5);
}

.single-sell-category > .rounded-background-image{
    margin: auto;
    margin-top: 30px;
}

.single-sell-category:hover > .rounded-background-image > img{
    transition: all 0.5s ease-out;
}

.single-sell-category:hover > .rounded-background-image > img{
    transform: scale(1.5);
}

.sell-category-title{
    font-family: Sharp Sans No1 Bold;
    font-size: 30px;
    text-align: center;
}


.selected-category{
    display: none;
    flex-direction: column;
    margin-top: 40px;
}

.selected-category-img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

.device-makes-container{
    margin: auto;
}

.device-brands-row{
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.device-brand{
    flex: 1 0 21%;
    margin: 5px;
    border: 2px solid #707070;
    border-radius: 8px;
    cursor: pointer;
}

.device-brand.selected{
    border-color: #A375BC;
}

.device-brand > img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

#device-makes-results{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.device-make-result{
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-top: 0;
}

.device-make-result > p{
    font-size: 14px;
}

.device-make-result-image{
    width: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.device-make-result-name{
    font-family: Sharp Sans No1 Bold;
    font-size: 22px !important;
    text-align: center;
    width: 240px;
    height: 75px;
}

.select-make-result-device{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 0 !important;
    cursor: pointer;
}

.selling-info-items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}


.selling-info-item{
    width: 250px;
    height: 200px;
    text-align: center;
}

.selling-info-img{
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selling-info-bold-text{
    font-family: Bebas Neue;
    font-size: 1.5em;
    line-height: 1;
    margin-top: auto;
}

.no-network{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


// sell cart

.no-cart-items-sell{
    font-size: 14px;
    margin-left: 6px;
    font-family:Sharp Sans No1 Bold;
}

.cart-breadcrumbs{
    display: flex;
    flex-direction: row;
}

.black-cart-info-text{
    color: black;
    font-size: 18px;
    font-family:Sharp Sans No1 Semibold;
    user-select: none;
}

.grey-cart-info-text{
    color: #AAAAAA;
    font-size: 18px;
    font-family:Sharp Sans No1 Semibold;
    user-select: none;
}

.order-summary-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-summary-bold{
    font-family:Sharp Sans No1 Bold;
    font-size: 20px;
    margin-left: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.sell-more-devices-ordersummary{
    color: white !important;
}

.summary-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.summary-cart-text, .summary-cart-text-bold{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.bold-cart-info-text, .summary-cart-text-bold, .cart-text-bold{
    font-family:Sharp Sans No1 Bold;
}

.cartdetails-container{
    justify-content: center;
}

.cartdetails-summary{
    min-width: 460px;
    max-width: 460px;
}







.trade-pack-type{
    background-color: #ffefcc;
}

.title-trade-pack-type-large{
    font-family:Sharp Sans No1 Bold;
    font-size: 16px;
}

.title-trade-pack-type{
    font-size: 14px;
}

.title-trade-pack-type.pack-instructions{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 250px;
}

.select-pack-type{
    display: flex;
    flex-direction: row;
}

.order-label-print-type{
    width: 200px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    -webkit-filter: opacity(0.3);
    filter: opacity(0.3);
}

.order-label-print-type.selected{
    border: 3px solid #f28e33;
    border-radius: 4px;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

.order-label-print-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order-label-print-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
    margin-top: 12px;
}

.order-label-select-svg{
    width: 25px;
    margin-top: 10px;
}

.confirmation-info-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.confirmation-woohoo-img{
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
}

.confirmation-info-text-bold-large{
    font-family: Sharp Sans No1 Bold;
    font-size: 52px;
}

.confirmation-info-text-bold-medium-large{
    font-family: Sharp Sans No1 Bold;
    font-size: 46px;
}

.confirmation-info-text-bold-smaller{
    font-family: Sharp Sans No1 Bold;
    font-size: 20px;
}

.confirmation-info-text-bold-small{
    font-family: Sharp Sans No1 Bold;
    font-size: 16px;
}

.confirmation-info-text-bold{
    font-family: Sharp Sans No1 Bold;
    font-size: 22px;
}

.confirmation-info-text{
    font-size: 14px;
}

.confirmation-info-text.padded{
    padding: 0 40px !important;
}

.confirmation-grey{
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.confirmation-info-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.single-box-confirmation{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.confirmation-info-img{
    width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirmation-speed-up{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.border-gray{
    width: 100%;
    height: 1px;
    background: grey;
}



.create-account-yourdetails{
    background-color: #ffefcc;
}

.create-account-container > h2{
    font-family: Sharp Sans No1 Bold;
}

.create-account-yourdetails > p.create-title{
    font-size: 20px;
    font-family: Sharp Sans No1 Bold;
}

.password-input{
    position: relative;
    width: 200px;
}

.toggle-pass-visibility{
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 12px;
}

.newsletter-singup-row{
    display: flex;
    flex-direction: row;
}

.newsletter-tick-black{
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: auto;
    margin-right: 24px;
    margin-left: 14px;
}

.order-summary-cart.margin-top{
    margin-top: 73px;
}




// general
@media (max-width: 1130px){
    
}

// tablets - large
@media (max-width: 990px){
    .selling-info-item{
        height: 250px;
    }
    .single-product-container{
        flex-direction: column;
    }
    .product-data{
        width: auto;
        margin: auto;
    }

    .back-results-sell{
        margin-left: 20px !important;
    }

    .basket-details-container{
        flex-direction: column;
    }

    .basket-summary, .basket-device-details{
        width: 100% !important;
    }
    .cart-breadcrumbs{
        justify-content: center;
        margin-left: auto !important;
        flex-wrap: wrap;
    }

    .cart-product{
        flex-wrap: wrap;
    }

    .cart-product-single-column{
        width: auto !important;
        margin-bottom: 20px;
    }

    .remove-from-cart-tohide{
        display: none;
    }

    .left-title-container > img{
        min-width: 100px;
        height: auto;
    }
    .left-title-container > p{
        font-size: 20px !important;
    }

    .cartdetails-container{
        flex-wrap: wrap;
        margin-left: auto !important;
    }

    .cartdetails-type, .cartdetails-type-subcontainer, .cartdetails-summary{
        width: 100% !important;
    }

    .cartdetails-summary{
        margin-top: 20px;
        margin-left: 0 !important;
        padding: 15px;
        min-width: 100% !important;
    }

    .select-pack-type{
        flex-wrap: wrap;
        justify-content: center;
    }

    .create-account-container{
        width: 100% !important;
    }

    .welcome-user-container, .bank-account-details{
        width: 100% !important;
    }
}

// tablets - breakpoint
@media (max-width: 890px){
    .top-upper-elements-container{
        height: 50px;
        min-height: 50px;
    }
    .top-upper-elements-container a {
        //min-width: 200px;
        //width: 150px;
    }
    .top-element-container p {
        font-size: 12pt;
    }
    .products a {
        flex: 1 0 30%;
    }

    .selllinks-sublink{
        top: 50px;
    }
}

// tablets - breakpoint
@media only screen and (max-width: 740px){
    .products a {
        flex: 1 0 50%;
    }
    .product-data-container > h5 {
        color: black;
    }
}

// tablets - breakpoint
@media (max-width: 690px){
    // .sell-item{

    // }
}

// tablets - regular
@media only screen and (max-width: 625px){
    .device-brands-row{
        padding: 0 15px;
    }
    .device-brand{
        flex: 1 0 45%;
    }
    .top-upper-elements-container{
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .top-upper-elements-container a {
        // width: 125px !important;
        // min-width: 125px !important; 
        text-align: center;
    }

    .top-upper-elements-container p {
        font-size: 10pt !important;
    }
    .products a {
        flex: 1 0 100%;
    }
    .selllinks-sublink{
        display: none !important;
    }

    .sell-title, .sell-subtitle{
        padding: 0 60px;
    }

    .sell-searchfield{
        padding: 0 40px;
    }

    #selling-search-results{
        right: 0;
    }

    .search-sell-input{
        font-size: 14px;
    }

    .single-sell-category{
        width: 250px;
    }

    .sell-category-device-background{
        width: 200px;
        height: 200px;
        margin-top: 40px;
    }

    .sell-category-device-image{
        max-width: 220px;
    }

    .sell-category-device-image.mobile {
        top: -40px;
        left: 18px;
    }

    .sell-category-device-image.tablet {
        top: 7px;
        left: 14px;
    }

    .sell-category-device-image.watch {
        top: -25px;
        left: 14px;
        max-width: 220px;
    }

    .selected-category{
        margin-top: 20px;
    }

    .device-make-result-image{
        max-width: 150px;
    }

    .cartdetails-container, .create-account-container, .create-account-yourdetails{
        padding: 0 !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .create-account-container > h2{
        padding-left: 25px;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .complete-registration-form{
        padding: 20px;
    }

    .create-title{
        padding: 20px;
        padding-bottom: 0;
    }
}

// mobile
@media only screen and  (max-width: 460px){
    .device-brand {
        flex: 1 0 40%;
    }
}

// mobile - small
@media (max-width: 380px){
    
}