.sell-top-container{
    background: #F28E33;
    
}

.top-upper-elements-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    min-height: 80px;
    padding: 0 150px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.16);
}

.top-upper-elements-container a{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    width: 280px;
}

.top-element-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.top-element-container:hover{
    background: #fff;
    transition: 0.2s linear;
}

.top-element-container:hover p{
    color: #F28E33;
    transition: 0.2s linear;
}

.top-element-container p{
    font-family: Sharp Sans No1 Semibold;
    font-size: 14pt;
    color: #fff;
    transition: 0.2s linear;
}

.sell-title-container{
    padding: 50px;
}

.sell-title-container div{
    //margin-bottom: 2.5rem;
}

.sell-search-form{
    width: 70%;
    display: flex;
    align-items: center;
}

.sell-search-form input{
    height: 72px;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 20pt;

    background: #F2F2F2 0% 0% no-repeat padding-box;
}

.sell-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #F28E33;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.smaller-title p{
    font-size: 24px;
    font-weight: 600;
}

.mt-50{
    margin-top: 50px;
    align-items: center;
}

.mt-50 p{
    font-size: 18px;
}

.mt-50 img{
    height: 32px;
    margin-left: 25px;
}

.smaller-a{
    width: 350px;
    max-width: 350px;
}

.w-1000{
    max-width: 1100px;
    width: 1100px;
    margin: auto;
}

.selling-info-container{
    height: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

.selling-info-element{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.selling-info-element img{
    margin-bottom: 40px;
}

.selling-info-element p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.selling-service-container-image{
    width: 150px;
    height: 150px;
    min-width: 150px;
}

.selling-service-container img{
    width: 100%;
    height: 100%;
}

.selling-service-container-text {
    width: 70%;
}

.selling-service-container{
    background: #23AAF7;
    display: flex;
    padding: 25px 250px;
    align-items: center;
    justify-content: space-between;
}

.why-title-container{
    background: url("/customer_page_images/body/Sell-Orange.png");
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-title-container p{
    color: #fff;
}

.selling-video-container{
    margin-top: 0;
    background-color: #F28E33;
    width: 600px;
    height: 300px;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.selling-video-container p{
    font-size: 32px;
    color: #fff;
}

.border-down{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.selling-with-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling-with-container .center-title-container>p{
    color: #F28E33;
}

.selling-with-elements{
    padding: 100px;
}

.selling-with-element{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.selling-img-container{
    width: 45%;
}

.selling-text-container{
    width: 45%;
}

.selling-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selling-img-container img{
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
}

.selling-text-container p{
    font-size: 16px;
}

.title-orange{
    font-size: 32px !important;
    font-family: Bebas Neue, Helvetica, sans-serif;
    color: #F28E33;
    margin-bottom: 40px;
}

.back-results-sell{
    display: flex;
    flex-direction: row;
    width: 120px;
    cursor: pointer;
}

.results-back{
    font-family: Sharp Sans No1 Bold;
    font-size: 22px;
    margin: 0;
    margin-left: 20px;
    padding-top: 4px;
}

.results-upper{
    font-family: Sharp Sans No1 Bold;
    font-size: 24px;
    text-transform: uppercase;
}

.results-found{
    font-family: Sharp Sans No1 Bold;
    font-size: 30px;
}

.results-info{
    font-size: 16px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
}

.product{
    display: flex;
    padding: 20px;
    // width: 250px;
    // height: 350px;
    // background-color: #fff;
    // border: 1px solid #ccc;
    text-align: center;

    flex-grow: 1;
    transition: transform .2s;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products a{
    // margin: 10px 0 0 1%;
    flex: 1 0 21%;
}

.product:hover{
    transform: scale(1.1);
}

.selling-product-image-container{
    width: 100%;
    max-width: 300px;
    height: auto;
    // height: 250px;
}

.selling-product-image-container img{
    width: 100%;
    height: 100%;
}

.next-icon-results, .back-icon-results{
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.next-icon-results{
    margin: auto;
}

.page-number-active{
    color: #fff;
    background: #F28E33;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14pt;
    font-weight: 600;
}

.see-more-sell-devices{
    cursor: pointer;
    width: 160px;
    margin: auto;
}

.see-more-sell-devices > a {
    font-size: 18px;
}

.see-more-sell-devices:hover > a{
    color: black;
    text-decoration: underline;
}

.page-number{
    width: 5px;
    height: 50px;
    color:#F28E33;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    font-size: 12pt;
}

.page-number:hover{
    font-size: 14pt;
}

.sidebar-element{
    border-bottom: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

#search-parameters{
    display: none;
}





.single-product-container{
    display: flex;
    padding: 50px 150px;
    max-width: 1400px;
    margin: auto;
}

#product-price{
    font-size: 32pt;
    color: #F28E33;
    font-weight: 600;
    font-family:Sharp Sans No1 Bold;
}

.network-container{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-container-disabled{
    opacity: 0.5;
}

.network-container img{
    max-height: 50px;
}

.memory-container{
    width: 80px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}

.memory-container-deselected{
    opacity: 0.5;
}

.selling-item-grade-container{
    flex-wrap: wrap;
}

.elem-grade-container{
    width: 100%;
    min-width: 260px;
    height: 62px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}

.elem-grade-container-deselected{
    opacity: 0.5;
}

.elem-grade-container:hover{
    cursor: pointer;
}

.memory-container:hover{
    cursor: pointer;
}

.network-container:hover{
    cursor: pointer;
}


.single-product-container input[type=radio] { display: none }

#gradesModal>.modal-dialog{
    background: #A375BC;
}

#gradesModal>.modal-dialog>.modal-content{
    background: #A375BC;
}

#gradesModal>.modal-dialog>.modal-content>.modal-header{
    background: #A375BC;
}

#gradesModal>.modal-dialog>.modal-content>.modal-body{
    background: #A375BC;
}

#gradesModal ul{
    padding: 0 !important;
}

#gradesModal>.modal-dialog{
    max-width: 1200px !important;
    width: 1200px !important;
}

.samsung-note-alert{
    font-size: 16px;
    font-family: Sharp Sans No1 Bold;
}
































// new styles
.sell-title, .sell-subtitle{
    font-family: Sharp Sans No1 Bold;
    text-align: center;
}

.sell-title{
    font-size: 60px;
}

.sell-subtitle{
    font-size: 20px;
    text-transform: uppercase;
}

.sell-subtitle-regular{
    font-size: 18px;
    font-family: Sharp Sans No1 Book;
    text-align: center;
}

.sell-icon-covered{
    width: 40px;
    height: 40px;
}

.search-column-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.sell-searchfield{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 0 !important;
}

.search-sell-input{
    padding: 0;
    margin: 0;
    height: 72px;
    width: 100%;
    text-align: left;
    padding-left: 25px;
    background: #F2F2F2;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: Sharp Sans No1 Book;
}

.search-sell-input:focus{
    outline: none;
}

.search-sell-btn{
    margin-bottom: 0 !important;
    cursor: pointer;
    background: #F28E33;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-sell-btn > img {
    display: block;
    position: relative;
    width: 87px;
    height: 72px;
    padding: 18px;
}

#selling-search-results{
    width: calc(100% - 87px);
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-height: 405px;
    position: absolute;
    top: 72px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

#selling-search-results.nomatches{
    height: 0;
}

.selling-single-result{
    margin-bottom: 2px;
    cursor: pointer;
}

.selling-single-result > p{
    transition: color 0.2s ease;
}

.selling-single-result > p:hover{
    color: #F28E33;
}

.selling-single-result > p{
    margin: 0;
    font-family: Sharp Sans No1 Bold;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

#no-results-sorry{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sorry-result-img{
    width: 100px;
    height: auto;
    margin: 1.5rem;
    margin-left: 2.5rem;
}

.sorry-result-text{
    height: auto;
    margin: auto;
    font-size: 15px;
    max-width: 480px;
}

.sorry-result-text > a{
    font-size: 15px;
    color: #F28E33 !important;
}




.sell-categories-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
}

.single-sell-category{
    width: 300px;
    cursor: pointer;
}

.single-sell-category > .rounded-background-image{
    margin: auto;
    margin-top: 30px;
}

.single-sell-category:hover > .rounded-background-image > img{
    transition: all 0.5s ease-out;
}

.single-sell-category:hover > .rounded-background-image > img{
    transform: scale(1.5);
}

.sell-category-title{
    font-family: Sharp Sans No1 Bold;
    font-size: 30px;
    text-align: center;
}


.selected-category{
    display: none;
    flex-direction: column;
    margin-top: 40px;
}

.selected-category-img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

.device-makes-container{
    margin: auto;
}

.device-brands-row{
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.device-brand{
    flex: 1 0 21%;
    margin: 5px;
    border: 2px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.device-brand.selected{
    border-color: #A375BC;
}

.device-brand > img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

#device-makes-results{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.device-make-result{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.device-make-result > p{
    font-size: 14px;
}

.device-make-result-image{
    width: auto;
    max-width: 300px;
}

.device-make-result-name{
    font-family: Sharp Sans No1 Bold;
    font-size: 22px !important;
    text-align: center;
}

.select-make-result-device{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.selling-info-items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}


.selling-info-item{
    width: 250px;
    height: 200px;
    text-align: center;
}

.selling-info-img{
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selling-info-bold-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 20px;
    margin-top: auto;
}









// general
@media (max-width: 1130px){
    
}

// tablets - large
@media (max-width: 990px){
    .selling-info-item{
        height: 250px;
    }
}

// tablets - breakpoint
@media (max-width: 890px){
    .top-upper-elements-container{
        height: 50px;
        min-height: 50px;
    }
    .top-upper-elements-container a {
        min-width: 150px;
        width: 150px;
    }
    .top-element-container p {
        font-size: 12pt;
    }
}


// tablets - regular
@media (max-width: 625px){
    .device-brand{
        flex: 1 0 30%;
    }
    .top-upper-elements-container{
        padding: 0;
    }

    .top-upper-elements-container a {
        width: 125px !important;
        min-width: 125px !important; 
    }

    .top-upper-elements-container p {
        font-size: 10pt !important;
    }
}

// mobile
@media (max-width: 460px){
    .device-brand {
        flex: 1 0 40%;
    }
}

// mobile - small
@media (max-width: 380px){
    
}