.shop-top-header{
    margin-bottom: 50px;
}

.shop-search-container{
    padding: 50px;
    background: #23AAF7;
}

.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-search-form{
    width: 70%;
    display: flex;
    align-items: center;
}

.shop-search-form input{
    height: 72px;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 20pt;
}

.shop-search-form button{
    height: 72px;
    margin: 0;
    margin-left: -10px;
    background: #0B7DF0;
    color: #fff;
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.shop-menu-container{
    background: #0B7DF0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    min-height: 82px;
}

.shop-menu-element{
    min-width: 160px;
}

.shop-link{
    padding: 15px;
    min-height: 82px;
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.2s linear;
    justify-content: center;
}

.shop-link:hover{
    background: #fff;
    color: #0B7DF0;
    transition: 0.2s linear;
}

.shop-header-background{
    height: 520px;
    background: url('/images/Bamboo_header3.png');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-offer-container{
    width: 100%;
    height: 100%;
    padding: 50px 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-product-container{
    opacity: 0;
    width: 0;
    height: 100%;
    transition: 0.2s linear;
}

.latest-product-container p{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.latest-product-container a{
    margin: 0;
    width: 160px;
}

.latest-product-big{
    font-size: 48px !important;
}

.latest-offer-scroller{
    width: 100%;
    height: 100%;
    display: flex;
}

.latest-product-active{
    opacity: 1;
    width: 100%;
    transition: 0.2s linear;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.circles-container{
    display: flex;
    width: 100px;
}

.circle-container{
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    transition: 0.2s linear;
}

.circle-container-active{
    opacity: 1;
    transition: 0.2s linear;
}

.shop-categories-container{
    display: flex;
    padding: 50px 150px;
    justify-content: center;
}

.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    align-items: center;
}

.rounded-background-image{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-background-image img{
    width: 100%;
    //height: 100%;
    height: auto;
}

.category-container:hover .rounded-background-image{
    width: 180px;
    height: 180px;
}

.category-container:hover .shop-title{
    font-size: 26px;
    font-weight: 400;
}

.category-container:hover .category-title{
    font-size: 32px;
    font-weight: 600;
}

.category-container:hover .rounded-background-image>img{
    transform: scale(1.5);
}

#rounded-mobile{
    background: transparent linear-gradient(151deg, #FD7F8E 0%, #569CCE 100%) 0% 0% no-repeat padding-box;
}

#rounded-tablets{
    background: transparent linear-gradient(151deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}

#rounded-watches{
    background: transparent linear-gradient(151deg, #57D591 0%, #A670AF 100%) 0% 0% no-repeat padding-box;
}

#rounded-accesories{
    background: transparent linear-gradient(151deg, #569CCE 0%, #FBC24F 100%) 0% 0% no-repeat padding-box;
}

.shop-spilt{
    background: #59DDC1;
    display: flex;
}

.shop-split-image{
    width: 500px;
}

.shop-split-image img{
    width: 500px;
}

.shop-split-text{
    display: flex;
    align-items: center;
}

.shop-title{
    font-size: 32px;
    font-weight: 600;
}

.category-title{
    font-size: 26px;
}

.shop-popular-brands{
    margin-top: 50px;
}

.brands-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.brand-container{
    flex: 1 0 21%;
    margin: 20px;
    height: 125px;
    max-width: 21%;
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-container img{
    height: 80px;
}

#img-smaller{
    height: 30px;
}

.let-top-container{
    background: url('/images/basket_orange.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.let-top-container p{
    font-size: 4rem !important;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
}

.let-form-container{
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.let-form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 50px 0;
}

.form-question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-icon-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-icon-container img{
    width: 50%;
    height: 50%;
}

#sound-image img{
    margin-left: -5px;
}

.progress-bar{
    height: 6px;
    min-width: 350px;
    width: 350px;
    border-radius: 3px;
    background: #F7F7F7;
    margin-bottom: 30px;
}

.progress-percentege{
    height: 100%;
    background: #23AAF7;
}

.answers-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-label{
    width: 20%;

    display: flex;
    flex-direction: column;
}

.answer-label>img{
    margin-top: 30px;
}

.question-bold{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.answer-content{
    width: 100%;
    height: 82px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
}

.answer-content-active{
    border: 2px solid #23AAF7;
}

.answer-label>input{
    visibility: hidden;
    position: absolute;
}

.answer-label>input+.answer-content{
    cursor: pointer;
}

.let-footer{
    background: #F28E33 0% 0% no-repeat padding-box;
    display: flex;
    padding: 25px 250px;
    align-items: center;
    justify-content: space-between;
}

#q-1{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}
#q-1 img{
    margin-left: -5px;
}
#q-2{
    background: transparent linear-gradient(180deg, #57D591 0%, #A670AF 100%) 0% 0% no-repeat padding-box;
}
#q-3{
    background: transparent linear-gradient(180deg, #569CCE 0%, #A771AE 100%) 0% 0% no-repeat padding-box;
}
#q-4{
    background: transparent linear-gradient(180deg, #F28F33 0%, #F9C150 100%) 0% 0% no-repeat padding-box;
}
#q-5{
    background: transparent linear-gradient(180deg, #57D591 0%, #A3D047 100%) 0% 0% no-repeat padding-box;
}
#q-6{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #29C0B4 100%) 0% 0% no-repeat padding-box;
}
#q-7{
    background: transparent linear-gradient(180deg, #57D591 0%, #A670AF 100%) 0% 0% no-repeat padding-box;
}
#q-8{
    background: transparent linear-gradient(180deg, #569CCE 0%, #A771AE 100%) 0% 0% no-repeat padding-box;
}
#q-9{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #70C482 100%) 0% 0% no-repeat padding-box;
}
#q-10{
    background: transparent linear-gradient(180deg, #FD7F8E 0%, #569CCE 100%) 0% 0% no-repeat padding-box;
}

.shopping-video-container{
    margin-top: 0;
    background-color: #23AAF7;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.shopping-video-container p {
    margin-top: 0;
    color: #fff;
    font-size: 32px;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-blue {
    font-size: 32px !important;
    font-family: Bebas Neue, Helvetica, sans-serif;
    color: #23AAF7 !important;
    margin-bottom: 40px;
}

.shop-devices-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px 150px;
}

.shop-devices-container>.center-title-container{
    margin-bottom: 50px;
}

.devices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.shop-device{
    flex: 1 0 21%;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-device p{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.shop-device img{
    width: 250px;
    height: 400px;
}

.apple-devices-container{
    background: rgba($color: #59DDC1, $alpha: 0.15) 0% 0% no-repeat padding-box;
}


.shop-brands-container>.brand-container{
    flex: 1 0 21%;
    margin: 5px;
    max-width: 21%;
}

.shop-brands-container{
    background: rgba($color: #59DDC1, $alpha: 0.15) 0% 0% no-repeat padding-box;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.brands-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.shop-grade-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 150px;
}

.grades-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.grade-container{
    flex: 1 0 21%;
    margin: 20px;
    height: 125px;
    max-width: 21%;
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grade-container p{
    font-size: 24px;
}

.shop-view-container{
    display: flex;
    padding: 50px;
}

.shop-sidebar{
    width: 25%;
    max-width: 25%;
}

.shop-devices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-container{
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    margin: 20px;
    max-width: 20%;
}

.product-container a{
    margin: 0;
}

.product-name{
    font-size: 20px;
    padding: 10px;
}

.buttons-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.buttons-container a{
    width: 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-data-container img{
    width: 100%;
    height: 70%;
}

.view-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60% !important;
}

.product-description-left{
    width: 50%;
}

.description-text{
    word-wrap: break-word;
}

.product-description-container{
    display: flex;
    padding: 50px 150px;
}

.product-description-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-description-right .assurance-element{
    width: 45%;
    align-items: center;
}

.product-description-right .assurance-element p{
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.product-description-text{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-description-text p{
    margin: 0 !important;
}

.product-description-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-description-data-text{
    flex: 1 0 45%;
    margin-bottom: 15px;
}

.product-description-title{
    font-size: 14px !important;
    font-weight: 600;
}

.warranty-container{
    display: flex;
    padding: 50px 150px;
}

.bl-100{
    width: calc(100vw - 300px);
    margin: 0 auto;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.7);
}

.warranty-container .product-description-right{
    flex-direction: row;
    justify-content: space-between;
}

// .single-product-container{
//     padding: 50px 150px;
//     display: flex;
// }

// .product-image-container{
//     width: 50%;
// }

// .product-image-container img{
//     height: 500px;
// }

// .product-title{
//     font-size: 24px;
//     font-weight: 600;
// }

// .product-selected{
//     padding-top: 20px;
//     padding-bottom: 20px;
// }

.product-color-container{
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

.add-to-container{
    display: flex;
    align-items: center;
}

.add-to-container p{
    color: #57D591;
    font-size: 18px;
}

.add-to-container form{
    display: flex;
}

.add-to-cart-container{
    margin-right: 2em;
}



//Payment
.card {
    position: relative;
    background: white;
    padding: 40px 30px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 3px 3px 60px 0px rgba(0, 0, 0, 0.1);
  }
  .card .checkout .col-2 {
    display: flex;
  }
  .card .checkout .col-2 .col:first-child {
    margin-right: 15px;
  }
  .card .checkout .col-2 .col:last-child {
    margin-left: 15px;
  }
  .card .checkout .label .type {
    color: green;
  }
  .card .checkout.visa .label .type:before {
    content: "(visa)";
  }
  .card .checkout.mastercard .label .type:before {
    content: "(master card)";
  }
  .card .checkout.amex .label .type:before {
    content: "(american express)";
  }
  .card .checkout .field {
    height: 40px;
    border-bottom: 1px solid lightgray;
  }
  .card .checkout .field#card-pan {
    margin-bottom: 30px;
  }
  .card .checkout .field.is-onfocus {
    border-color: black;
  }
  .card .checkout .field.is-empty {
    border-color: orange;
  }
  .card .checkout .field.is-invalid {
    border-color: red;
  }
  .card .checkout .field.is-valid {
    border-color: green;
  }
  .card .checkout .submit {
    background: red;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
    color: white;
    outline: 0;
    font-size: 14px;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    transition: background 0.3s ease;
  }
  .card .checkout.is-valid .submit {
    background: green;
  }
  
  .clear {
    background: grey;
    cursor: pointer;
    left: 50%;
    bottom: -120px;
    width: 200px;
    margin: 0 auto;
    color: white;
    outline: 0;
    font-size: 14px;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    transition: background 0.3s ease;
  }


  #paymentErrors{
      color: red;
  }