.heading-1{
    font-size: 80px !important;
    font-family: Sharp Sans No1 Bold !important;
}

.heading-2{
    font-size: 37px !important;
    font-family: Bebas Neue !important;
}

.heading-3{
    font-size: 50px !important;
    font-family: Sharp Sans No1 Bold !important;
}

.heading-4{
    font-size: 40px !important;
    font-family: Sharp Sans No1 Bold !important;
}

.heading-5{
    font-size: 30px !important;
    font-family: Sharp Sans No1 Bold !important;
}

.body-large{
    font-size: 25px !important;
    font-family: Sharp Sans No1 Medium !important;
}

.body-regular{
    font-size: 20px !important;
    font-family: Sharp Sans No1 Book !important;
}