@font-face{
    font-family: Bebas Neue, Helvetica, sans-serif;
    src: url('/fonts/BebasNeue-Regular.ttf');
}

@font-face {font-family: "Sharp Sans No1 Book"; src: url("/fonts/6a1891db0152c7835cc61d5e95578b29.eot"); src: url("/fonts/6a1891db0152c7835cc61d5e95578b29.eot?#iefix") format("embedded-opentype"), url("/fonts/6a1891db0152c7835cc61d5e95578b29.woff2") format("woff2"), url("/fonts/6a1891db0152c7835cc61d5e95578b29.woff") format("woff"), url("/fonts/6a1891db0152c7835cc61d5e95578b29.ttf") format("truetype"), url("/fonts/6a1891db0152c7835cc61d5e95578b29.svg#Sharp Sans No1 Book") format("svg"); } 

@font-face {font-family: "Sharp Sans No1 Semibold"; src: url("/fonts/d746f11d11dd01067a58e13b965e23c7.eot"); src: url("/fonts/d746f11d11dd01067a58e13b965e23c7.eot?#iefix") format("embedded-opentype"), url("/fonts/d746f11d11dd01067a58e13b965e23c7.woff2") format("woff2"), url("/fonts/d746f11d11dd01067a58e13b965e23c7.woff") format("woff"), url("/fonts/d746f11d11dd01067a58e13b965e23c7.ttf") format("truetype"), url("/fonts/d746f11d11dd01067a58e13b965e23c7.svg#Sharp Sans No1 Semibold") format("svg"); } 

@font-face {font-family: "Sharp Sans No1 Bold"; src: url("/fonts/154ebfcef3ca74b92a56a5826ee85d74.eot"); src: url("/fonts/154ebfcef3ca74b92a56a5826ee85d74.eot?#iefix") format("embedded-opentype"), url("/fonts/154ebfcef3ca74b92a56a5826ee85d74.woff2") format("woff2"), url("/fonts/154ebfcef3ca74b92a56a5826ee85d74.woff") format("woff"), url("/fonts/154ebfcef3ca74b92a56a5826ee85d74.ttf") format("truetype"), url("/fonts/154ebfcef3ca74b92a56a5826ee85d74.svg#Sharp Sans No1 Bold") format("svg"); } 

.medium-text{
    font-size: 18px;
    font-family: Sharp Sans No1 Semibold;
}

a:hover{
    text-decoration: none;
}

body{
    padding-right: 0 !important;
    font-family: Sharp Sans No1 Book;
}

a, p, label, ul, li{
    margin: 0 auto;
    font-size: 9pt;
    font-family: Sharp Sans No1 Book;
}

h3, h4, h5{
    font-weight: 600;
    font-family: Sharp Sans No1 Bold;
}

.btn{
    font-family: Sharp Sans No1 Semibold;
}

.custombtn{

    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.custombtn:disabled, .custombtn.disabled{
    opacity: 0.65;
}

.btn-font-white{
    color: #fff !important;
}

.btn-font-white p{
    color: #fff !important;
}

.btn-green{
    background: #A3D147 !important;
    border: 1px solid #A3D147 !important;
    transition: 0.2s linear;
}

.btn-green:hover:not([disabled]){
    color: #A3D147 !important;
    background: transparent !important;
    transition: 0.2s linear;
}

.btn-purple{
    background: #A375BC !important;
    border: 1px solid #A375BC !important;
    transition: 0.2s linear;
}

.btn-purple:hover{
    color: #A375BC !important;
    background: transparent !important;
    transition: 0.2s linear;
}

.btn-orange{
    background: #F28E33 !important;
    border: 1px solid #F28E33 !important;
    transition: 0.2s linear;
}

.btn-orange:hover{
    color: #F28E33 !important;
    background: transparent !important;
    transition: 0.2s linear;
}

.btn-blue{
    background: #23AAF7 !important;
    border: 1px solid #23AAF7 !important;
    transition: 0.2s linear;
}

.btn-blue:hover{
    color: #23AAF7 !important;
    background: transparent !important;
    transition: 0.2s linear;
}

.btn-jade{
    background: #59DDC1 !important;
    border: 1px solid #59DDC1 !important;
    transition: 0.2s linear;
}

.btn-jade:hover{
    color: #59DDC1 !important;
    background: transparent !important;
    transition: 0.2s linear;
}

.btn-white{
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #000;
}

.btn-red{
    background: red !important;
    border: 1px solid red !important;
    color: #fff;
}

.row-height-140{
    height: 140px;
    min-height: 140px;
    
}

.pc-15-50{
    padding: 15px 50px 15px 50px !important;
}

.w70{
    width: 70%;
    margin-top: 50px;
}

.w50{
    width: 50%;
}

.center-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-title-container{
    display: flex;
    align-items: center;
}

.left-title-container p{
    font-size: 40px !important;
    font-weight: 600;
    text-align: left;
}

.support-title{
    display: flex;
    align-items: baseline;
}

.support-title p{
    font-size: 28px !important;
    text-align: left;
    margin: 0 !important;
    margin-bottom: 2rem;
}

.mb-50{
    margin-bottom: 50px;
}

.black{
    color: #000;
}

.modal-footer{
    justify-content: center !important;
}

.text-center{
    align-items: center;
}

.bold{
    font-family: Sharp Sans No1 Bold;
}

.bold p{
    font-family: Sharp Sans No1 Bold;
}

.font-orange p{
    color: #F28E33  !important;
}





// cookie consent styles

#cookie-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 100000;
    height: 50px;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    background: #A3D147;
}

#cookie-container > span{
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    margin-left: 15px;
}

.cookie-consent__message > a{
    font-size: 14px;
    color: white;
    text-decoration: underline;
    transition: color 0.5s ease-in-out;
}

.cookie-consent__message > a:hover{
    color:black;
}

#accept-cookies {
    width: 130px;
    height: 35px;
    background: white;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 8px;
    margin-left: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    color: black;
    font-size: 14px;
    padding: 5px;
    transition: color 0.5s ease-in-out;
}

#accept-cookies:hover{
    color: #A3D147;
}



// offer styles
// .offer-texts-container{
//     margin-top: auto;
//     margin-bottom: auto;
// }

// .offer-device-bold{
//     font-size: 4rem;
//     font-weight: 600;
//     color: #fff;
//     font-family: Sharp Sans No1 Semibold;
//     text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
// }

// .offer-top-bold{
//     font-size: 2rem;
//     font-weight: 600;
//     color: #fff;
//     font-family: Sharp Sans No1 Bold;
//     text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
// }

// .offer-title-bold, .offer-description-bold{
//     font-weight: 600;
//     color: #fff;
//     font-family: Sharp Sans No1 Semibold;
//     text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
// }

// .offer-title-bold{
//     font-size: 2rem;
// }

// .offer-description-bold{
//     font-size: 2.5rem;
// }

// .offer-misc-small{
//     color: #fff;
//     font-size: 17px;
// }


.how-text-element.last-element{
    margin-bottom: 110px;
}

.how-first-text-container{
    width: 30%;
    //height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.how-second-text-container{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.how-images-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}

.how-image-container img{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-line-container{
    position: absolute;
    width: 7px;
    background: black;
    height: 600px;
    z-index: -50;
}

.how-title-text{
    font-size: 28px;
}

.large-bold-text{
    font-size: 3rem;
    font-family: Sharp Sans No1 Bold;
    //text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
}

.semilarge-bold-text{
    font-size: 2.5rem !important;
    font-family: Sharp Sans No1 Bold;
}

.regular-bold-text{
    font-size: 1.5em !important;
    font-family: Sharp Sans No1 Bold;
}

.regular-text{
    font-size: 1em !important;
}

.bebas-neue{
    font-family: Bebas Neue, Helvetica, sans-serif;
}


.popular-devices-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.popular-product{
    display: flex;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    transition: transform 0.2s;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 400px;
    position: relative;
    cursor: pointer;
}

.popular-product-wrapper{
    position: relative;
    transition: all 0.3s ease;
}

.popular-product-wrapper.faded{
    opacity: 0.5;
}

.popular-product-image-container{
    width: 100%;
    height: auto;
}

.popular-product-image-container > img{
    width: 100%;
    max-width: 250px;
    height: 100%;
}

.popular-product-name-model{
    max-width: 225px;
}

.popular-product-brand{
    font-size: 18px;
    font-family: Sharp Sans No1 Bold;
}

.popular-product-name{
    font-size: 16px;
    font-weight: 500;
}

.product-buttons{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.semibold-text{
    font-family: Sharp Sans No1 Bold;
}


















// general
@media (max-width: 1130px){
    #cookie-container{
        height: 60px;
    }
}

// tablets - large
@media (max-width: 990px){
    #cookie-container{
        position: fixed;
        bottom: 0;
        top: unset;
    }
}


// tablets - large
@media (max-width: 890px){
    main.selling-margin{
        margin-top: 150px;
    }
}

// global breakpoint 
@media screen and (max-width: 740px) and (min-width: 325px){

    main{
        margin-top: 100px !important;
    }

    main.selling-margin{
        //margin-top: 170px !important;
        margin-top: 130px !important;
    }

    // .home-element{
    //     padding: 1rem;
    //     padding-bottom: 0;
    //     margin-top: 1rem;
    // }
    
    // .home-title-container .left-container{
    //     width: 100%;
    //     padding: 20px 0;
    // }

    // .start-buttons-container{
    //     top: 400px;
    //     position: absolute;
    // }

    .start-buttons-container #start-shopping, #start-selling, a{
        //color: #fff !important;
    }

    .how-buttons-container{
        width: 100%;
    }

    .grading-video-container{
        width: 100%;
        height: 100%;
    }

    .grading-video-container a{
        padding: 30px;
    }

    .assurance-container{
        display: none;
    }

    div.trustpilot-element:nth-child(2){
        display: none;
    }

    // .about-image-container{
    //     display: none;
    // }

    // .about-images-container{
    //     display: none;
    // }

    .about-element-container{
        width: 100% !important;
    }

    .sustainability-element-container{
        width: 100% !important;
    }

    .about-container{
        height: auto;
    }

    .home-links-container{
        flex-wrap: wrap;
    }

    .home-link-container p{
        font-size: 24px;
    }

    .home-link-container img{
        width: 100%;
        height: 100px;
    }
    
    .home-links-element{
        width: 50%;
        max-height: 250px;
    }

    div.home-links-element:nth-child(3){
        width: 100%;
        max-height: 200px;
    }

    #contact > img:nth-child(2){
        width: 50%;
    }

    .sign-up form{
        flex-direction: column;
        padding: 20px;
    }

    .sign-up form>input{
        width: 100%;
    }

    .text-center-container p{
        text-align: center;
    }

    .trustpilot-container{
        padding: 1rem;
    }

    .trustpilot-element{
        width: 100%;
    }

    div.trustpilot-element:nth-child(1) > img:nth-child(1) {
        width: 100%;
    }

    .devices-container{
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .how-first-element .grading-video-container{
        width: auto;
        height: auto;
        padding: 1rem 2rem !important;
    }

    .selling-content-container {
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .selling-content-container-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .how-images-container, .back-line-container{
        height: 900px;
    }

    .how-first-text-container{
        width: 50%;
        height: auto;
        padding-bottom: 60px;
    }

    .play-container {
        width: 50px;
        height: 50px;
    }

    .play-container .fa {
        font-size: 20px !important;
    }

    .news-label-selected-container p{
        margin-left: 5px;
    }
    .terms-container{
        width: auto !important;
    }

    .modal-second-element-active{
        padding: 25px !important;
    }

    .ways-container{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .ways-element{
        width: 100%;
    }

    .contact-footer{
        padding: 30px !important;
        flex-direction: column;
        // margin-top: 20px;
        height: auto;
    }

    .service-header-1, .service-header-2{
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .contact-footer-image{
        //margin-bottom: 20px;
        margin: auto;
    }

    .contact-footer-text{
        width: 100%;
        margin-right: 0;
    }

    .contact-footer-arrow{
        margin-top: 20px;
    }

    .contact-form-container-active{
        padding: 15px !important;
    }

    .contact-form-container-active .row{
        margin: 0 auto;
    }

    .support-search-form{
        width: 100% !important;
    }

    .support-bottom-row{
        flex-direction: column;
    }

    .support-bottom-row a{
        width: 100% !important;
        margin: 0 !important;
        margin-top: 15px !important;
    }

    .row-height-140{
        min-height: auto !important;
        height: auto !important;
    }

    .support-faq {
        flex-direction: column;
    }
    
    .faq-left {
        width: 100% !important;
    }

    .faq-right {
        width: 100% !important;
    }

    .about-first-element{
        padding: 0 !important;
        width: 100%;
    }

    .about-elements{
        padding: 0 !important;
    }

    .about-first-element p{
        padding: 20px !important;
    }

    .about-element-text{
        padding: 30px !important;
        width: 100% !important;
    }

    .shop-categories-container{
        padding: 30px !important;
        flex-direction: column;
    }

    .how-first-element{
        padding: 0 !important;
    }

    .how-first-element .flex-row{
        flex-direction: column !important;
    }

    .how-sustainability{
        padding: 30px !important;
        height: auto !important;
    }

}



// tablets - regular
@media (max-width: 625px){
    #cookie-container{
        height: 100px;
    }
}

// mobile
@media (max-width: 460px){
    
}

// mobile - small
@media (max-width: 380px){
    #cookie-container {
        height: 120px;
    }

}