a, p, label{
    margin: 0 auto;
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-size: 9pt;
}
a:hover{
    text-decoration: none;
}

body{
    padding-right: 0 !important 
}

h3, h4, h5{
    font-family: "Sharp Sans No1 Book", Helvetica, sans-serif;
    font-weight: 600;
}