
footer{
    position: absolute;
    width: 100%;
    height: 2.5rem;
}

.footer{
    background: #000;
    width: 100vw;
    padding: 100px 60px 0px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a, p, span, i{
    color: #fff;
}

.footer-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.footer-line{
    display: flex;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    width: 90%;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-row-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-row-2 span{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.footer-button-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.url-footer-container{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}

.url-footer-container a{
    font-size: 16px;
}


.footer-row-6{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150px;
}

.footer-row-6 a{
    margin: 0;
    opacity: 0.5;
    transition: 0.2s linear;
}

.footer-row-6 a:hover{
    opacity: 1;
    transition: 0.2s linear;
}

.footer-row-6 span{
    margin-bottom: 20px;
}

.footer-social-icons-container{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.fa{
    height: 40px;
    width: 40px;
    font-size: 28px !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.2s linear;
}

.fa:hover{
    opacity: 1;
    transition: 0.2s linear;
    cursor: pointer;
}

.footer-social-icons-container .fa-facebook{

    color: #000;
    background: #fff;
    border-radius: 50%;

}

#footer-row-3{
    justify-content: space-between;
    position: relative;
    bottom: 15px;
    margin-top: 50px;
}

#footer-row-3 .footer-row-2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.copyright-container{
    justify-content: start;
}

.return-top-container{
    justify-content: end;
}

.copyright-container p{
    margin: 0;
    opacity: 0.5;
}

.return-top-container a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0.5;
    transition: 0.2s linear;
}

.return-top-container a:hover{
    opacity: 1;
    transition: 0.2s linear;
}

.return-top-container i{
    color: #000;
    background: #fff;
    border-radius: 50%;
    font-size: 36px !important;
    margin-left: 30px;
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 600px) and (min-width: 325px){

    .footer{
        padding: 1rem;
    }

    .footer-row{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-row-2{
        width: 100%;
    }

    .footer-row-2 span{
        font-size: 40px;
    }

    .footer-button-container{
        width: auto;
    }

    .footer-social-icons-container{
        width: 100%;
    }

    .footer-row-6{
        width: 40%;
    }

    .copyright-container{
        width: 40%;
    }

    .return-top-container{
        width: 40%;
    }

    .return-top-container p{
        display: none;
    }

    #footer-row-3{
        align-items: center;
    }

}