
footer{
    position: absolute;
    width: 100%;
    height: 2.5rem;
}

.footer{
    background: #000;
    //width: 100vw;
    width: 100%;
    // padding: 100px 60px 0px 60px;
    padding: 140px 120px 0px 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a, p, span, i{
    color: #fff;
}

.footer-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.footer-line{
    display: flex;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    // width: 90%;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-row-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-row-2 span{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 55px;
}

.footer-button-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.url-footer-container{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}

.url-footer-container a{
    font-size: 16px;
}


.footer-row-6{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // width: 160px;
    width: 200px;
}

.footer-row-6 > span{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 30px/33px Bebas Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 20px;
}

.footer-row-6 a{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 18px/24px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    margin-bottom: 5px;
}

.footer-row-6 a:hover{
    opacity: 0.5;
    transition: 0.2s linear;
}

.footer-row-6 span{
    font-family: Bebas Neue, Helvetica, sans-serif;
}

.footer-social-icons-container{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.fa{
    height: 40px;
    width: 40px;
    font-size: 28px !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.2s linear;
}

.footer-social-icons-container > a > img{
    transition: 0.3s linear;
    opacity: 0.5;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-social-icons-container > a:hover > img{
    opacity: 1;
    transition: 0.2s linear;
    cursor: pointer;
}

.fa:hover{
    opacity: 1;
    transition: 0.2s linear;
    cursor: pointer;
}

.footer-social-icons-container .fa-facebook{

    color: #000;
    background: #fff;
    border-radius: 50%;

}

#footer-row-3{
    justify-content: space-between;
    position: relative;
    bottom: 15px;
    margin-top: 140px;
}

#footer-row-3 .footer-row-2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#footer-row-2{
    justify-content: space-between;
}

.copyright-container{
    justify-content: start;
}

.return-top-container{
    justify-content: end;
}

.copyright-container p{
    margin: 0;
    opacity: 1;
    color: #fff;
}

.return-top-container a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 1;
    transition: 0.2s linear;
}

.return-top-container a:hover{
    opacity: 0.5;
    transition: 0.2s linear;
}

.return-top-container i{
    color: #000;
    background: #fff;
    border-radius: 50%;
    font-size: 36px !important;
    margin-left: 30px;
    width: 60px;
    height: 60px;
}

.return-top-button{
    font-size: 24px;
}

.footer-row-6 > a{
    color: white;
}

@media screen and (max-width: 600px) and (min-width: 325px){

    .footer{
        padding: 1rem;
    }

    .footer-row{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-row-2{
        width: 100%;
        margin-top: 25px;
    }

    .footer-row-2 span{
        font-size: 40px;
    }

    .footer-button-container{
        width: auto;
    }

    .footer-social-icons-container{
        width: 100%;
        justify-content: center;
    }

    .footer-social-icons-container > a{
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .footer-row-6{
        width: 40%;
        margin-bottom: 20px;
    }

    .copyright-container{
        width: 40%;
    }

    .return-top-container{
        width: 40%;
    }

    .return-top-container p{
        display: none;
    }

    #footer-row-3{
        align-items: center;
    }

    .footer-line{
        margin-top: 50px;
    }

}