header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
    padding: 0 120px 0 120px;
    justify-content: space-between;
    background: #fff;
    transition: height 0.5s ease;
}

#header.resized{
    height: 100px;
    padding: 0 30px 60px;
}
#full-bamboo-logo.resized{
    height: 50px;
    width: auto;
}

#header-urls.resized{
    padding: 0 60px 0;
    justify-content: center;
}

#full-logo-container.resized{
    margin-top: 65px;
    margin-left: 85px;
}

#full-bamboo-logo{
    transition: all 0.5s ease;
}

.mobile-logo{
    display: block;
}

.mobile-logo.invisible{
    display: none;
}

.mobile-logo > img{
    width: 80px;
    height: 80px;
}

.left-header {
    display: flex;
}

.logo-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin-top: -15px;
    //margin-top: 50px;
}

.right-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hovers-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // width: 300px;
    width: auto;
}

.urls-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0 5px 6px rgba(0,0,0, 0.16);
    background: white;
    padding: 0 120px 0 120px;
}

.hover-link{
    width: 80px;
    height: 80px;

    border: 2px solid;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 5px;
    margin-right: 5px;

    position: relative;
}

.hover-link a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.basket-items-count{
    position: absolute;
    bottom: -15px;
}

.basket-items-count > p{
    color: white;
    margin: 0;
    position: absolute;
    top: 4px;
    left: 10px;
}

.notifications-count{
    position: absolute;
    bottom: -15px;
}

.notifications-count.menu{
    position: relative;
    bottom: unset;
    margin-top: auto;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: 1rem;
}

.notifications-count.menu-mobile{
    position: relative;
    bottom: unset;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 0;
}

.notifications-count.collapse-header{
    position: relative;
    bottom: unset;
    margin-top: 5px;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 1rem;
}

.notifications-count > p{
    color: white;
    margin: 0;
    position: absolute;
    top: 4px;
    left: 10px;
}

.notifications-count.menu > p {
    color: white;
    margin: 0;
    position: absolute;
    top: 8px;
    left: 10px;
}

.new-order-info-row{
    display: flex;
    flex-direction: row;
}

.close-neworder-modal{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

@media (max-width: 1010px) {
    .new-order-info-row{
        flex-direction: column;
    }
}

.newOrderText{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    font-family: Sharp Sans No1 Bold;
    width: auto;
    max-width: 470px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.newOrderPopupImg{
    width: auto;
    max-width: 150px;
    display: block;
    margin: auto;
}

.uhoh-info-neworder{
    font-size: 40px;
    font-family: Sharp Sans No1 Bold;
    text-align: center;
}


#user-hover-link,  #user-hover-link a, #user-hover-link i{
    color: #A375BC;
    transition: 0.2s linear;
}

#user-hover-link:hover{
    height: 120px;
}

#user-hover-link:hover .showhover{
    opacity: 1;
}

#user-hover-link:hover a{
    background-color: #A375BC;
    color: #fff;
}

#user-hover-link:hover i{
    color: #fff;
}

#user-hover-link .img{
    background-image: url('/images/front-end-icons/Icon-Account.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 76px;
    min-height: 76px;
    background-size: 50px;
}

#user-hover-link:hover .img{
    background-image: url('/images/front-end-icons/Icon-Account-White.svg');
}

#wishlist-hover-link .img{
    background-image: url('/images/front-end-icons/Icon-Love.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 76px;
    min-height: 76px;
    background-size: 50px;
}

#wishlist-hover-link:hover .img{
    background-image: url('/images/front-end-icons/Icon-Love-White.svg');
}

#card-hover-link .img{
    background-image: url('/images/front-end-icons/recycle_basket.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 76px;
    min-height: 76px;
    background-size: 50px;
}

#card-hover-link:hover .img{
    background-image: url('/images/front-end-icons/recycle_basket_white.svg');
}

#wishlist-hover-link, #wishlist-hover-link a, #wishlist-hover-link i{
    color: #FCC44C;
    transition: 0.2s linear;
}

#wishlist-hover-link:hover{
    height: 120px;
}

#wishlist-hover-link:hover .showhover{
    opacity: 1;
}

#wishlist-hover-link:hover a{
    background-color: #FCC44C;
    color: #fff;
}

#wishlist-hover-link:hover i{
    color: #fff;
}

#card-hover-link, #card-hover-link a, #card-hover-link i{
    color: #F28E33;
    transition: 0.2s linear;
}

#card-hover-link:hover{
    height: 120px;
}

#card-hover-link:hover .showhover{
    opacity: 1;
}

#card-hover-link:hover a{
    background-color: #F28E33;
    color: #fff;
}

#card-hover-link:hover i{
    color: #fff;
}

.showhover{
    opacity: 0;
}

.hover-link i{
    font-size: 32px;
}

.url-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.url-header-container.mobile{
    background: white;
    padding-left: 15px;
    margin-left: 0;
}

.url-header-container a{
    font-size: 14px;
    text-align: center;
    color: #000;
    transition: 0.1s linear;
}

.url-header-container a:hover{
    color: #A3D147;
    transition: 0.1s linear;
}

.mobilemenu-bold{
    font-family: Sharp Sans No1 Bold !important;
}

.mobilemenu-medium{
    font-family: Sharp Sans No1 Medium !important;
}

.mobilemenu-bold.white{
    color: white;
}

#start-shopping{
    font-weight: 600;
    width: 160px;
    max-width: 160px;

    background-color: #23AAF7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    max-height: 50px;

    transition: 0.2s linear;

}

#start-selling{
    font-weight: 600;
    width: 160px;
    max-width: 160px;

    background-color: #F28E33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    max-height: 50px;
    
    transition: 0.2s linear;
}

#start-shopping a{
    color: #fff;
    transition: 0.2s linear;
}

#start-selling a{
    color: #fff;
    transition: 0.2s linear;
    font-family: Sharp Sans No1 Semibold;

}

.url-header-container > a{
    font-size: 16px;
}

#start-shopping a:hover{
    font-size: 18px !important;
}

#start- ing a:hover{
    font-size: 18px !important;
}

.navbar-light .navbar-toggler{
    color: #000;
    border-color: transparent;
}

.navbar-collapse{
    align-items: unset;
    flex-grow: unset;
}

.navbar-toggler:focus{
    outline: none;
}

.header-selling-links{
    background: #F28E33;
}

@media screen and (max-width: 740px) and (min-width: 325px){

    .header-container{
        padding: 0.375rem;
        padding-top: 0;
        height: auto;
    }

    .right-header{
        align-items: center;
        width: 30%;
    }

    // .logo-header-container img{
    //     width: 100%;
    //     padding: 10px;
    // }

    .left-header{
        width: 70%;
    }

    header{
        width: 100vw;
        max-width: 100vw;
    }

    #user-hover-link .img, #card-hover-link .img{
        height: 40px;
        min-height: 40px;
        background-size: 30px;
    }

    .hover-link:hover{
        height: 70px !important;
    }

    .hovers-header{
        width: auto;
        height: 55px;
    }

    .hover-link{
        width: 60px;
        height: 50px;
    }

    //.urls-header{
        // flex-direction: column;
        // padding: 1rem;
        // width: 100%;
        // align-items: first baseline;
        // background-color: #FAFAFA;
    //}

    .urls-header-mobile{
        flex-wrap: wrap;
    }

    .url-header-container{
        //background: none !important;
        width: 100% !important;
        border-radius: 0 !important;
        border-bottom: 1px solid #AAAAAA !important;
        justify-content: left;
        height: 50px !important;
    }

    #start-shopping{
        max-width: none;
    }

    #navbarSupportedContent>#start-shopping a{
        color: #23AAF7 !important;
    }

    #start-selling{
        max-width: none;
    }

    #navbarSupportedContent>#start-selling a{
        color: #F28E33 !important;
    }

    .url-header-container a{
        margin: 0 !important;
        // color: #000 !important;
    }



}


.navbar-toggler{
    display: none;
}

.urls-header-mobile{
    display: flex;
    justify-content: center;
    //background: white;
}

.mobile-menu-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(#000000, 0.6);
}

.url-header-container.mobile{
    background: white;
}


.tablet-mobile-menu-wrapper{
    display: flex;
    flex-direction: row;
}

// large breakpoint
@media (max-width: 1400px){
    .logo-header-container{
        // margin-top: 35px;
        margin-top: -15px;
        margin-left: 35px;
    }
    .header-container{
        padding: 0 60px;
    }
}

// general
@media (max-width: 1130px){
    .header-container{
        padding: 0 60px 60px;
    }
    #full-logo-container.resized{
        margin-left: 40px;
        margin-top: 45px;
    }
}

// tablets - large
@media (max-width: 990px){
    
}

// tablets - breakpoint
@media (max-width: 890px){
    .urls-header{
        display: none;
    }
    .logo-header-container{
        margin-top: 25px;
    }
    .full-logo > img{
        width: 400px;
        padding: 10px;
    }
    main{
        margin-top: 100px;
    }
    .navbar-toggler{
        display: block;
    }
    .header-container{
        height: 100px;
        padding: 0 25px 25px;
    }
    .hover-link{
        width: 60px;
        height: 60px;
    }
    .hover-link > a > .img{
        height: 60px !important;
        min-height: 50px !important;
        background-size: auto !important;
    }
    .hovers-header{
        height: 60px;
    }
    .hover-link:hover{
        height: 85px !important;
    }
}

// logo breakpoint
@media (max-width: 650px){

}

// tablets - regular
@media (max-width: 625px){
    .full-logo{
        display: none;
    }
    .mobile-logo{
        display: block !important;
    }
    .logo-header-container{
        margin-top: 20px;
    }
    .logo-header-container{
        margin-left: 0;
    }
    #full-logo-container.resized{
        margin-left: 0;
        margin-top: 20px;
    }
    #header.resized{
        padding: 0 25px 25px;
    }
}


// mobile
@media (max-width: 460px){

}

// mobile - small
@media (max-width: 380px){
    
}