header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;
    padding: 0 120px 0 120px;
    justify-content: space-between;
    background: #fff;
}

.left-header {
    display: flex;
}

.logo-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hovers-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.urls-header{
    display: flex;
    flex-direction: row;
}

.hover-link{
    width: 80px;
    height: 80px;

    border: 2px solid;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-link a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


#user-hover-link,  #user-hover-link a, #user-hover-link i{
    color: #A375BC;
    transition: 0.2s linear;
}

#user-hover-link:hover{
    height: 120px;
}

#user-hover-link:hover .showhover{
    opacity: 1;
}

#user-hover-link:hover a{
    background-color: #A375BC;
    color: #fff;
}

#user-hover-link:hover i{
    color: #fff;
}

#wishlist-hover-link, #wishlist-hover-link a, #wishlist-hover-link i{
    color: #FCC44C;
    transition: 0.2s linear;
}

#wishlist-hover-link:hover{
    height: 120px;
}

#wishlist-hover-link:hover .showhover{
    opacity: 1;
}

#wishlist-hover-link:hover a{
    background-color: #FCC44C;
    color: #fff;
}

#wishlist-hover-link:hover i{
    color: #fff;
}

#card-hover-link, #card-hover-link a, #card-hover-link i{
    color: #23AAF7;
    transition: 0.2s linear;
}

#card-hover-link:hover{
    height: 120px;
}

#card-hover-link:hover .showhover{
    opacity: 1;
}

#card-hover-link:hover a{
    background-color: #23AAF7;
    color: #fff;
}

#card-hover-link:hover i{
    color: #fff;
}

.showhover{
    opacity: 0;
}

.hover-link i{
    font-size: 32px;
}

.url-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 5px;
    margin-right: 5px;

    
}

.url-header-container a{
    font-size: 14px;
    text-align: center;
    color: #000;
    transition: 0.1s linear;
}

.url-header-container a:hover{
    color: #A3D147;
    transition: 0.1s linear;
}

#start-shopping{
    font-weight: 600;
    width: 160px;
    max-width: 160px;

    background-color: #23AAF7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    max-height: 50px;

    transition: 0.2s linear;

}

#start-selling{
    font-weight: 600;
    width: 160px;
    max-width: 160px;

    background-color: #F28E33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    max-height: 50px;
    
    transition: 0.2s linear;
}

#start-shopping a{
    color: #fff;
    transition: 0.2s linear;
}

#start-selling a{
    color: #fff;
    transition: 0.2s linear;
}

#start-shopping a:hover{
    font-size: 15px !important;
}

#start-selling a:hover{
    font-size: 15px !important;
}

