.news-title-container{
    background: url('/customer_page_images/body/Jade-Salmon.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-title-container p{
    color: #fff !important;
}

.news-1-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}

.news-1-container:hover{
    background-position: center;
}

.news-1-container p{
    color:#fff;
    font-family: Sharp Sans No1 Book;
}

.news-tag{
    background-color: #A3D147;
    color: #000 !important;
    padding: 0.375rem;
    border-radius: 0.5rem;
    font-size: 14pt;
    font-family: Sharp Sans No1 Semibold;
    max-width: 150px;
}

.blog-tag{
    background-color: #FCC44C;
    color: #000 !important;
    padding: 0.375rem;
    border-radius: 0.5rem;
    font-size: 14pt;
    font-family: Sharp Sans No1 Semibold;
    max-width: 150px;
}

.how-to-tag{
    background-color: #59DDC1;
    color: #000 !important;
    padding: 0.375rem;
    border-radius: 0.5rem;
    font-size: 14pt;
    font-family: Sharp Sans No1 Semibold;
    max-width: 150px;
}

.tag-content{
    font-size: 14pt;
    font-family: Sharp Sans No1 Semibold !important;
    color:#000;
    text-align: center;
}

.main-news-title p{
    font-family: Sharp Sans No1 Semibold;
    font-size: 20pt;
}

.author-p{
    font-size: 12pt;
}

.created-at-p{
    font-size: 12pt;
}
