.news-title-container{
    background: url('/customer_page_images/body/Jade-Salmon.png');
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-title-container > .center-title-container > p{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    font-family: Sharp Sans No1 Semibold;
    text-shadow: 0px 3px 20px rgb(0 0 0 / 20%);
}

.news-main-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.news-main-item{
    display: block;
    position: relative;
    height: 100%;
}

.news-primary{
    width: 66%;
}

.news-secondary{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-secondary-item{
    display: block;
    position: relative;
    height: 48%;
}

.news-image, .news-image .main{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}

.news-image.zoomed{
    transform: scale(1.05);

}

.news-content-container{
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
}

.news-content-container.bottom-centered{
    bottom: -0.9rem;
}

.news-tag, .blog-tag, .how-to-tag{
    width: fit-content;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.news-tag{
    background: #A3D147;
}
.blog-tag{
    background: #FCC44C;
}
.how-to-tag{
    background: #59DDC1;
}

.news-tag > p, .blog-tag > p, .how-to-tag > p{
    font-family: Sharp Sans No1 Bold;
}

.news-title{
    
}

.news-title > p{
    font-family: Sharp Sans No1 Bold;
    font-size: 20pt;
    color: white;
    max-height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.news-author-row, .news-created-at-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.author-p, .created-at-p{
    font-family: Sharp Sans No1 Semibold;
    color: white;
}

.news-user-icon, .news-created-icon{
    width: 20px;
    height: 20px;
}


.latest-news{
    display: flex;
    flex-direction: row;
}


.latest-news > div.title{
    font-family: Sharp Sans No1 Bold;
    font-size: 14pt;
    max-height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.latest-news > div.news-row{
    display: flex;
    flex-direction: row;
}

.all-news-item{
    position: relative;
    display: block;
    width: 23%;
}





// image breakpoint
@media (max-width: 1420px){

}

// image breakpoint 2
@media (max-width: 1300px){

}

// general
@media (max-width: 1130px){

}

// tablets - large
@media (max-width: 990px){

}

// text breakpoint
@media (max-width: 770px){

}

// tablets - breakpoint
@media (max-width: 890px){
}


// tablets - regular
@media (max-width: 625px){

}

// mobile
@media (max-width: 560px){

}

// mobile - small
@media (max-width: 380px){

    
}