// what happens next styles
.whathappensnext-container{
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.what-title{
    font-size: 3em;
    font-family: Sharp Sans No1 Bold;
    text-align: center;
}

.what-subtitle{
    font-size: 1em;
    font-family: Sharp Sans No1 Semibold;
    text-align: center;
}

// .whathappens-wrapper{
//     position: relative;
//     width: auto;
//     max-width: 900px;
//     margin-top: 35px;
//     margin-left: auto;
//     margin-right: auto;
//     cursor: pointer;
// }

// .whathappens-video{
//     position: relative;
//     width: 100% !important;
//     border-radius: 5px;
//     box-shadow: 0 5px 6px rgb(0 0 0 / 16%);
// }

// .whathappens-video:focus{
//     outline: none;
//     border: none;
// }

// .playvideo-whathappens{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(1);
//     transition: all 0.2s ease;
// }

// .playvideo-whathappens.invisible{
//     opacity: 0;
// }

// .playvideo-whathappens:hover{
//     transform: translate(-50%, -50%) scale(1.2);
// }

.whathappensvideocontainer{
    width: 815px;
    max-width: 600px;
    height: 400px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    user-select: none;
}

.whathappensvideocontainer > div.video-container{
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 5px 6px rgb(0 0 0 / 16%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.whathappensvideocontainer:hover > div.video-container > img{
    transform: scale(1.2);
}

.play-whathappensvideo{
    display: block;
    margin: auto;
    transition: all 0.3s linear;
}

.image-whathappens-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.image-whathappens-col{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 450px;
    margin-left: 50px;
    margin-right: 50px;
}

.whathappens-img{
    width: 250px;
    // height: auto;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.hr-whathappens{
    height: 1px;
    background-color: #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 120px;
}

.whathappens-large{
    font-size: 2rem;
    margin-top: 50px;
}

.whathappens-small{
    font-size: 1rem;
    margin-top: 15px;
}



// sustainability styles

.sustainability-container{
    background: #59DDC1;
    // padding: 200px 140px 100px 100px;
    // padding: 200px 140px 100px 140px;
    padding: 300px 140px 200px 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.whysell-video-container{
    max-width: 680px;
    min-height: 382px;
    margin: 20px;
    cursor: pointer;
}

.whySellVideoToggle{
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #cccccc;
    padding: 35px;
}

.whySellVideoToggle > p {
    font-family: Sharp Sans No1 Bold;
    font-size: 45px !important;
    color: #bcbcbc;
}

.whySellVideoToggle > img {
    transition: all 0.3s linear;
}

.whysell-video-container:hover > div.whySellVideoToggle > img{
    transform: scale(1.2);
}

#whySellVideoModal.noscroll{
    overflow-y: hidden;
}

.sustainability-row{
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
}

.sustainability-container.gradient{
    background: linear-gradient(#A3D147, #59DDC1);
}

.text-buttons-sustainability{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 450px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.sustainability-large, .whathappensnext-large{
    // font-size: 3rem;
    // font-family: Sharp Sans No1 Bold;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    //width: 555px;
}

.sustainability-small, .whathappensnext-small{
    // font-size: 1rem;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/34px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 555px;
}

.whathappensnext-small{
    width: initial;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sustainability-images-overlay{
    position: relative;
    // width: 500px;
    width: 700px;
    height: auto;
    margin-top: 120px;
}

.sustainability-img{
    // width: 400px;
    // height: 400px;
    width: 534px;
    height: 537px;
}

.sustainability-img.one{
    position: relative;
}

.sustainability-img.two{
    // right: -25px;
    // top: -250px;
    position: absolute;
    right: 15px;
    top: -280px;
}

.sustainability-whysell{
    display: flex;
    flex-direction: row;
    //margin-bottom: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.start-selling-whysell{
    display: flex;
    flex-direction: row;
    margin-bottom: 300px;
}

.sustainability-whysell-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sustainability-whysell-col.whysellwithus{
    width: 100%;
    max-width: 680px;
}

.sustainability-whysell-col.text{
    max-width: 600px;
}

.sustainability-whysell-videowrapper{
    position: relative;
    width: auto;
    max-width: 600px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.sustainability-whysell-video{
    position: relative;
    width: 100% !important;
    border-radius: 5px;
    box-shadow: 0 5px 6px rgb(0 0 0 / 16%);
}

.sustainability-whysell-video:focus{
    outline: none;
    border: none;
}



.sustainability-about-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    justify-content: center;
    margin-bottom: 350px;
}

.sustainability-about-col{
    display: flex;
    flex-direction: column;
}

.sustainability-about-col.text{
    // max-width: 500px;
    max-width: 700px;
    margin-left: 100px;
    margin-right: 250px;
}

.start-selling.howitworks.margin-left{
    margin-top: auto;
    margin-left: 1rem;
}

@media (max-width: 1306px){
    .sustainability-about-col.text, .text-buttons-sustainability{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 496px){
    .sustainability-large, .whathappensnext-large{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-60)/var(--unnamed-line-spacing-65) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 60px/65px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .sustainability-small{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-medium);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 25px/34px Sharp Sans No1 Medium;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        width: 100%;
        max-width: 402px;
    }

    .sustainability-container{
        padding: 20px;
    }

    .sustainability-about-row{
        margin-top: 132px;
        margin-bottom: 0;
    }

    .sustainability-row{
        margin-top: 158px;
        margin-bottom: 112px;
    }
    
    .start-selling-whysell{
        flex-direction: column;
    }

    .start-selling.howitworks.margin-left{
        margin-left: 0;
        margin-top: 7px;
    }
}

.laughing-gif{
    width: 350px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}





// label delivery notes popup styles
.modal-title.bold-uppercase{
    text-transform: uppercase;
}

.cursor-pointer{
    cursor: pointer;
}

.steps-container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.steps-container-column{
    display: flex;
    flex-direction: column;
}

.single-step-row{
    display: flex;
    flex-direction: row;
    border: 4px solid #DDDDDD;
    border-radius: 5px;
    padding: 25px;
}

.single-step-row.link{
    cursor: pointer;
    transition: all 1s;
}

.single-step-row.link:hover{
    border-color: #A375BC;
}

.column-link{
    cursor: pointer;
    transition: all 1s;
}

.column-link:hover{
    border-color: #A375BC;

}

.single-step-column{
    display: flex;
    flex-direction: column;
}

.column-item{
    width: auto;
    height: 100%;
    width: 290px;
    border: 4px solid #DDDDDD;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.step-image{
    width: 90px;
    height: 90px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 25px;
}

.step-image.row{
    margin-left: 50px;
    margin-right: 0;
    margin-top: 0;
}

.step-title-info{
    margin-left: 4px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Sharp Sans No1 Bold;
}

.step-info-bold{
    font-size: 24px;
    font-family: Sharp Sans No1 Bold;
    margin-top: 15px;
}

.step-info-bold.row{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 80px;
    max-width: 300px;
}

.close-modal-labeldelivery{
    position: absolute;
    right: 13px;
    top: 13px;
    width: 40px;
    height: 40px;
}

.step-or{
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
}

.step-or > p{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
}

.grey-step-line{
    background-color: #DDDDDD;
    height: 2px;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}


.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #F28E33;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}







// delivery quality banner styles
.deliveryqualitybanner-container{
    background: #EFEFEF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0;
    // justify-content: space-evenly;
    justify-content: center;
}

.deliveryqualitybanner-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    margin-bottom: 25px;
}

.deliveryqualitybanner-img{
    display: block;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.deliveryqualitybanner-img.larger{
    width: 145px;
    margin-left: 65px;
}

.deliveryqualitybanner-text{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Bebas Neue, Helvetica, sans-serif;
    line-height: 1;
}




// newsletter styles
.newsletter-container{
    //width: 100vw;
    width: 100%;
    background: #FCC44C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    padding-bottom: 10px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    width: 80%;
}

.sign-up .terms-container{
    width: auto;
}

.email-input{
    border: 2px solid #000;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    font-family: Sharp Sans No1 Book;
    padding-left: 35px;
}

.email-input::placeholder{
    color: #000;
    opacity: 0.3;
}

#age_range {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url('/images/svg.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
    cursor: pointer;
}

.newsletter-terms-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/20px var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 15px/20px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    max-width: 965px;
}

#newsletter-terms-toggle{
    cursor: pointer;
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.newsletter-terms-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.newsletter-terms-container input[type="checkbox"] {
	display:none;
}

.newsletter-terms-container input + label {
	display: inline-block;	
	cursor: pointer;	
	background-image: url('/images/front-end-icons/black_circle.svg');
    background-repeat: no-repeat;
    background-position-y: center;
}

.newsletter-terms-container input[type="checkbox"]:checked + label {
	background-image: url('/images/front-end-icons/black_tick_selected.svg')
}

.newsletter-large-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.newsletter-small-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.newsletter_checkbox > p{
    color: black;
}

#newsletter-signup-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    transition: all 0.3s ease;
    overflow-y: hidden;
    margin-top: 30px;
    margin-bottom: 80px;
}

#newsletter-signup-success.invisible{
    height: 0;
}

#newsletter-signup-success > img{
    display: block;
    width: 150px;
    height: auto;
    margin: auto;
    margin-top: auto;
    margin-bottom: 20px;
}

#newsletter-signup-success > p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: center;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    height: 64px;
}

.newsletter-name-input{
    width: 100%;
    // max-width: 500px;
    max-width: 500px;
    min-width: 250px;
}

.full-width-newsletter{
    width: 100%;
}

.age-range-newsletter{
    width: 215px;
    min-width: 215px;
}

.newsletter-column{
    display: flex;
    flex-direction: column;
}

.newsletter-row{
    display: flex;
    flex-direction: row;
}

.email-newsletter{
    width: 100%;
    max-width: 785px;
    min-width: 285px;
}

.terms-container{
    width: 100%;
    max-width: 1010px;
    text-align: center;
}

.newsletter-mr{
    margin-right: 1.5rem;
}

.newsletter-signupbtn{
    width: 260px;
    height: 72px;
    background: var(--technical-–-violet) 0% 0% no-repeat padding-box;
    background: #A375BC 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    transition: all 0.3s linear;
    border: 3px solid var(--technical-–-violet);
}

.newsletter-signupbtn > p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 24px/32px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 24px/32px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 10px;
    transition: all 0.3s linear;
}

.newsletter-signupbtn:hover{
    background: var(--technical-–-violet) 0% 0% no-repeat padding-box;
    border: 3px solid var(--black);
    background: #A375BC 0% 0% no-repeat padding-box;
    border: 3px solid #000000;
    border-radius: 8px;
    opacity: 1;
}

.newsletter-signupbtn:hover > p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/35px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 25px/35px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 8px;
}

#newsletter-description{
    margin-top: 20px;
}


@media (max-width: 496px){
    .newsletter-container{
        padding: 77px 22px;
    }

    .newsletter-large-text{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-60)/var(--unnamed-line-spacing-65) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 60px/65px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .newsletter-small-text{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 37px/40px Bebas Neue;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        max-width: 406px;
    }

    #newsletter-description{
        margin-top: 37px;
        margin-bottom: 14px;
    }

    .email-input{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 20px/28px Sharp Sans No1 Book;
        letter-spacing: 0px;
        color: #000000;
    }

    .newsletter-terms-text{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/20px var(--unnamed-font-family-sharp-sans-no1-book);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: left;
        font: normal normal normal 15px/20px Sharp Sans No1 Book;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .newsletter-signupbtn{
        width: 100%;
        max-width: 406px;
        height: 72px;
    }
}


@media screen and (max-width: 890px){
    .newsletter-row{
        flex-direction: column;
    }

    .age-range-newsletter, .newsletter-name-input, .email-newsletter{
        width: 100%;
        min-width: initial !important;
        max-width: initial !important;
    }

    #newsletter-signup-form{
        padding: 0;
        margin-top: 25px;
    }

    .sign-up-form{
        padding: 20px;
    }
}

// #newsletter-description{
//     transition: all 0.3s ease;
//     height: 36px;
// }

// #newsletter-description.invisible{
//     height: 0;
// }

// #newsletter-signup-form{
//     transition: all 0.3s ease;
//     height: 400px;
// }

// #newsletter-signup-form.invisible{
//     height: 0;
// }


// newsletter contact support styles
.newscontactsupport-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0 100px 0;
}

.newscontactsupport-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // width: auto;
    // max-width: 400px;
    // height: auto;
    width: 536px;
    height: 357px;
    padding: 40px;
    padding-right: 30px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 3px solid #fff;
    transition: 0.2s linear;
}

.newscontactsupport-item:hover{
    border: 3px solid black;
}

.newscontactsupport-item > p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-50)/var(--unnamed-line-spacing-58) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 50px/58px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.newscontactsupport-item > img {
    // max-width: 170px;
    margin-left: auto;
    margin-top: auto;
    padding-top: 15px;
    width: 287px;
    height: 106px;
}

.newscontactsupport-item > img.news {
    width: 287px;
    height: 106px;
    margin-left: auto;
}

.newscontactsupport-item > img.servicesupport{
    width: 210px;
    height: 176px;
}

.newscontactsupport-item > img.contactus{
    width: 196px;
    height: 148px;
}

.newscontactsupport-item.news{
    background: #59DDC1;
}

.newscontactsupport-item.service{
    background: #A375BC;
}

.newscontactsupport-item.support{
    background: #A3D147;
}

@media (max-width: 496px){
    .newscontactsupport-container{
        padding: 45px 0 45px 0;
    }
    .newscontactsupport-item.news, .newscontactsupport-item.service{
        width: 100%;
        max-width: 222px;
        height: 220px;
    }

    .newscontactsupport-item.support{
        width: 100%;
        max-width: 452px;
        height: 139px;
    }

    .newscontactsupport-item > p {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-34) var(--unnamed-font-family-sharp-sans-no1-bold);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--black);
        text-align: center;
        font: normal normal normal 25px/34px Sharp Sans No1 Bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .newscontactsupport-item {
        padding: 25px;
    }

    .newscontactsupport-item > img{
        padding-top: 0;
        margin: auto;
    }

    .newscontactsupport-item > img.news, .newscontactsupport-item > img.servicesupport{
        margin-top: auto;
        margin-bottom: 0;
    }

    .newscontactsupport-item > img.news{
        margin-bottom: 12px;
    }

    .newscontactsupport-item > img.news {
        width: 100%;
        max-width: 177px;
        height: 65px;
        margin-left: auto;
    }
    
    .newscontactsupport-item > img.servicesupport{
        width: 100%;
        max-width: 105px;
        height: 176px;
    }

    .newscontactsupport-item.support{
        flex-direction: row;
        margin-top: 12px;
    }
    
    .newscontactsupport-item > img.contactus{
        width: 100%;
        max-width: 110px;
        height: 83px;
        margin-left: auto;
        margin-right: 0;
    }
}





// promocode partial
.cart-promotional-code{

}

.apply-promo-code{
    width: 125px;
    margin-left: 11px;
    padding-top: 12px;
}

.form-input.promotional-code{
    margin: 0;
    height: 50px;
    max-width: 330px;
}

.promotional-code-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.summary-cart.promotional{
    height: 39px;
    transition: all 0.3s ease;
    overflow-y: hidden;
}

.summary-cart.promotional.invisible{
    height: 0;
}









@media screen and (max-width: 740px) and (min-width: 325px){
    .whathappensvideocontainer {
        width: 100%;
        padding: 1rem 2rem !important;
    }
}


// mobile - xl 
@media (max-width: 625px){
    .image-whathappens-col{
        margin-bottom: 40px;
    }

    .whathappens-img{
        width: 150px;
    }

    .whathappens-large{
        font-size: 1.5em;
    }
    
    // .newscontactsupport-item{
    //     padding: 20px;
    // }
}

// mobile
@media (max-width: 500px){
    .sustainability-about-col > img, .sustainability-img{
        display: none;
    }
    .sustainability-images-overlay{
        margin-top: 0;
    }
    // .sustainability-about-row{
    //     margin-bottom: 50px;
    // }

    // .sustainability-about-col > a, .text-buttons-sustainability > a{
    //     min-width: 150px;
    // }

    // .sustainability-container{
    //     padding: 40px;
    // }
}
