.sales-item{
    background: white;
    height: 60px;
    line-height: 3.6;
    padding-left: 20px;
    min-width: 220px;
    font-family:Sharp Sans No1 Bold;
    margin-bottom: 2px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sales-item.link-active{
    background: #ebebeb;
}

.item-sales-col{
    display: flex;
    flex-direction: column;
}

.sale-item{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.sale-item > .mobile-col{
    display: flex;
    flex-direction: row;
}

.sale-item-label{
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.sale-item-bold{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}

.sale-item-link-img{
    display: block;
    width: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.notbtn{
    background: transparent;
    border: none !important;
    outline: none !important;
    display: flex;
    padding-top: 8px;
}
.notbtn:focus{
    border: none !important;
    outline: none !important;
}

.collapse-up-img{
    width: 25px;
    margin-left: 10px;
    margin-top: 1px;
    height: 25px;
}

.go-left-img{
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.collapse-title{
    margin: 0;
    font-size: 18px;
}


.sale-detail-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sale-status-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 70px;
}

.sale-status-row{
    display: flex;
    flex-direction: row;
}

.sale-status-text{
    font-size: 12px;
}

.sale-status-text.bold{
    font-family: Sharp Sans No1 Bold;
}

.sale-status-img{
    display: block;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.sale-status-img-mobile{
    display: none;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.sale-status-purple-line{
    height: 2px;
    width: 200px;
    background: #a375bc;
    margin-top: 20px;
    margin-left: -40px;
    margin-right: -40px;
}

.sale-status-grey-line{
    height: 2px;
    width: 200px;
    background: #cccccc;
    margin-top: 20px;
    margin-left: -40px;
    margin-right: -40px;
}


.sale-status-information{
    font-size: 16px;
}


.sale-row-1, .sale-row-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.sale-detail-infobox{
    width: 190px;
}

.sale-item-label{
    font-size: 14px;
}

.sale-item-val{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}

.btn-purple.sale-detail-btn{
    width: 100%;
    max-width: 380px;
    margin-top: 40px;
}

.btn-purple.sale-detail-btn > p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/23px Sharp Sans No1 Semibold;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 17px/23px Sharp Sans No1 Semibold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.btn-purple.sale-detail-btn > img {
    margin-right: 20px;
    margin-left: 20px;
}

.sale-detail-btn{
    width: 230px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sale-detail-btn.auto-width{
    width: auto;
}

// .sale-detail-btn.large{
//     width: 230px;
// }

.sale-detail-btn > p{
    padding: 3px;
    color: white;
}

.sale-detail-btn-img{
    margin-left: 10px;
}




.emoji-info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.emoji-col{
    display: flex;
    flex-direction: column;
    width: 160px;
}

.emoji-img{
    display: block;
    width: 154px;
    margin-left: auto;
    margin-right: auto;
}

.emoji-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 32px;
    text-align: center;
    margin-top: 16px;
}

.emoji-info-text{
    font-size: 20px;
    padding-top: 25px;
    text-align: left;
    font-family: Sharp Sans No1 Bold;
    margin: 0;
    margin-left: 5%;
}

.process-error-item{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.process-error-item-label{
    font-size: 14px;
}

.process-error-item-bold{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}

.processing-missing-image{
    display: block;
    width: auto;
    max-width: 220px;
}

.process-new-offer-price{
    color: #f28e33;
    font-family: Sharp Sans No1 Bold;
    font-size: 30px;
}

.process-action-img{
    margin-left: 10px;
}

.process-action-btn{
    width: 160px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.process-action-btn > p{
    padding: 3px;
    color: white;
}




.testing-error-item{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testing-error-item-label{
    font-size: 14px;
}

.testing-error-item-bold{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}

.testing-new-offer-price{
    color: #f28e33;
    font-family: Sharp Sans No1 Bold;
    font-size: 30px;
}

.testing-action-img{
    margin-left: 10px;
}

.testing-action-btn{
    width: 160px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.testing-action-btn > p{
    padding: 3px;
    color: white;
}


.label-print-type{
    width: 200px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    filter: opacity(0.3);
}

.label-print-type.selected{
    border: 3px solid #f28e33;
    border-radius: 4px;
    filter: opacity(1);
}

.label-print-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label-select-svg{
    width: 25px;
    margin-top: 10px;
}

.label-print-text{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
    margin-top: 12px;
}

.delivery-info-dates-label{
    font-size: 14px;
}

.delivery-info-dates-bold{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}

.delivery-detail-btn{
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.delivery-detail-btn > p{
    padding: 3px;
    color: white;
}



.payment-price-label{
    font-size: 14px;
}

.payment-agreed-price{
    color: #f28e33;
    font-family: Sharp Sans No1 Bold;
    font-size: 30px;
}

.payment-details-btn{
    display: flex;
    flex-direction: row;
    max-height: 40px;
    width: auto;
    max-width: 180px;
}

.payment-pen-icon{
    width: 21px;
    height: 20px;
    margin-left: 10px;
}


#select-lock-option{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.or-center{
    margin: 0;
    font-size: 26px;
    margin-top: auto;
    margin-bottom: auto;
}

#select-pattern-lock, #select-pin-lock{
    text-align: center;
    margin: 15px;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

#select-pattern-lock:hover, #select-pin-lock:hover{
    border: 3px solid #f28e33;
    border-radius: 3px;
}

#select-pattern-lock > p, #select-pin-lock > p {
    font-size: 26px;
    margin-top: 5px;
}

#pattern-lock, #pin-lock{
    padding: 25px;
}

.pattern-lock-img, .pin-lock-img{
    width: 100px;
    height: 100px;
    margin: 20px;
}

#select-lock-back{
    cursor: pointer;
    display: flex;
    width: 85px;
}

#select-lock-back > p{
    margin: 0;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 3px;
}

.back-locks-img{
    width: 30px;
    height: 30px;
}

.patern-sequence-info{
    text-align: center;
}

.pattern-text-description{
    font-size: 16px;
    max-width: 227px;
    margin-top: 15px;
}

.back-to-sales-mobile{
    display: none;
    padding: 20px 35px;
}

.payment-item-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.view-sale-item{
    margin-top: auto;
}

.view-sale-item > a > img{
    margin-left: auto;
    margin-right: 0;
}

.view-sale-item > p {
    text-align: right;
}

.sale-item > .mobile-col{
    width: 90%;
}

// general
@media (max-width: 992px){
    .sections-row{
        width: 100%;
        padding: 15px;
    }
    .sale-status-purple-line{
        width: 100px;
    }
    .sale-status-grey-line{
        width: 100px;
    }
    .sale-row-1, .sale-row-2{
        flex-wrap: wrap;
    }

    .payment-item-info{
        flex-direction: column;
    }
}

// mobile
@media (max-width: 890px){
    .sell-item-back{
        top: 40px !important;
    }
}

// tablets
@media (max-width: 992px) and (min-width:740px){
    
}

// mobile xl
@media only screen and (max-width: 740px){
    .back-to-sales-mobile{
        display: block;
    }

    .results-back.selling{
        min-width: 130px;
    }

    .sale-item > .mobile-col {
        flex-direction: column;
    }

    .view-sale-item{
        margin-top: auto;
    }

    .view-sale-item > a > img{
        margin-left: auto;
        margin-right: 0;
    }

    .view-sale-item > p {
        text-align: right;
    }

    .sale-item-label{
        margin-bottom: 0;
    }

    .sale-row-1, .sale-row-2{
        flex-direction: column;
    }

    .delivery-details-row{
        flex-direction: column;
    }

    .label-print-type{
        margin: auto !important;
        margin-bottom: 40px !important;
    }

    .emoji-info-row{
        flex-direction: column;
        padding-left: 0 !important;
    }

    .emoji-col{
        margin: auto;
    }

    .emoji-info-text{
        text-align: center;
    }

    .sale-status-col.first, .sale-status-col.third{
        display: none;
    }

    .sale-status-img{
        display: none;
    }

    .sale-status-img-mobile{
        display: block;
    }

    .sale-status-purple-line, .sale-status-grey-line{
        display: none;
    }

}


// mobile
@media (max-width: 625px){
    .single-product-container{
        padding: 20px !important;
    }
    .product-image-container{
        margin-top: 25px !important;
    }

    .product-data{
        width: 100%;
    }
}