.birth-date-row-register{
    display: flex;
    flex-direction: row;
}

.top-text-shadow{
    text-shadow: 0px 1px #798080;
    font-size: 64px;
    color: white;
    font-family:Sharp Sans No1 Bold;
}

.user-sections-container{
    background: #f6f6f6;
}

.sections-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.menu-item{
    background: white;
    height: 60px;
    line-height: 3.6;
    padding-left: 20px;
    min-width: 220px;
    font-family:Sharp Sans No1 Bold;
    margin-bottom: 2px;
    cursor: pointer;
    user-select: none;
}

.menu-item.link-active{
    background: #ebebeb;
    border-left: 4px solid #bfa4ce;
}

.section-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.page-sections{
    // background: white;
}

.section-item-preview{
    background: white;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.section-item-title{
    font-size: 28px;
    font-family: Bebas Neue;
    text-transform: uppercase;
    margin: 0;
}

.section-item-title-regular{
    font-size: 24px;
    font-family:Sharp Sans No1 Bold;
    margin: 0;
    text-align: center;
    padding: 30px;
}

.right-link-text{
    padding-top: 10px;
    font-size: 14px;
}

.right-link-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.right-link{
    padding-top: 10px;

}

.right-link-img{
    display: block;
    width: 25px;
    margin-left: 10px;
}

.action-button-right{
    display: flex;
    flex-direction: row;
    width: 140px;
    justify-content: space-around;
    margin-right: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.action-button-right-text{
    color: white !important;
    line-height: 2.5;
}

.action-button-right.purple{
    background: #a375bc;
}

.action-button-right.orange{
    background: #f28e33;
}

.action-button-right.green{
    background: #a3d147;
}


.pen-icon{
    display: block;
    width: 25px;
    height: 25px;
    margin: 3px;
}



.section-item-content{
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    background: white;
}

.section-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.line-bottom{
    background: black;
    height: 1px;
}

.notifications-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.notification-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notification-card.red-border{
    border: 5px solid #ff0000;
    font-family:Sharp Sans No1 Bold;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.notification-card-border{
    height: 2px;
    background: #a9a9a9;
}

.notification-error-img, .notification-green-img{
    width: 24px;
}


.personal-info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personal-info-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-item-label{
    font-size: 14px;
    margin: 0;
}

.info-item-val{
    font-family:Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}




.modal-content.padded{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.validation-modal-header{
    display: flex;
    flex-direction: column;
}


.validationModal-title{
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.close-modal-img{
    cursor: pointer;
    width: 40px;
}

.verification-row{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.verify-label{
    font-size: 14px;
}

.verification-input{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family:Sharp Sans No1 Bold;
}

.profile-pass-visibility{
    position: absolute;
    right: 5px;
    bottom: 31px;
    cursor: pointer;
}

.profile-pass-visibility.old{
    bottom: 7px;
}

.profile-pass-visibility.new{
    top: 37px;
}

.forgotpass-link{
    margin: 0;
    margin-left: auto;
    font-family:Sharp Sans No1 Bold;
}

.personal-info-label{
    font-size: 14px;
}

.personal-info-address{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family:Sharp Sans No1 Bold;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.enter-manually > p{
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.personal-info-dropdown{
    margin-top: 6px;
}

.address-lookup-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lookup-address-btn{
    max-height: 38px;
    margin-top: 6px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 4px;
}

.lookup-search-icon{
    width: 20px;
    height: 20px;
}

.personal-info-text-input{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: Sharp Sans No1 Bold;
}

.personal-info-text-input.date{
    width: 180px;
}



.account-info-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.account-item-label{
    font-size: 14px;
    margin: 0;
}

.account-item-val{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}


.account-info-row{
    display: flex;
    flex-direction: row;
}

.account-info-row.padded{
    padding-top: 20px;
    padding-bottom: 20px;
}


.pass-strength{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15px;
}

#progress {
    width: 150px;
    background-color: #ebebeb;
    border-radius: 25px;
    height: 10px;
    margin-top: 7px;
}
  
#bar {
    width: 10%;
    height: 10px;
    background-color: #23aaf7;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    transition: 0.25s ease-in-out;
}


.blue-dot{
    background: #23aaf7;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 7px;
    margin-left: 0;
}

.pass-info-text{
    font-size: 12px;
}

.communications-title{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}



.newsletter-box{
    display: flex;
    flex-direction: row;
    border: 2px solid #a375bc;
    border-radius: 5px;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.newsletter-box.inactive{
    border: 2px solid #dac7e4;
}

.tick-img{
    width: 25px;
    display: block;
    cursor: pointer;
}

.newsletter-text{
    font-size: 17px;
    width: 340px;
}

.newsletter-text.row{
    display: flex;
    flex-direction: row;
}
// #23aaf7