.birth-date-row-register{
    display: flex;
    flex-direction: row;
}

#birth-date-alert{
    margin: 5px;
    height: 30px;
    transition: all 0.3s linear;
    overflow-y: hidden;
    padding: 0;
}

#birth-date-alert > p {
    text-align: center;
    font-size: 12px;
    margin: 0;
    color: black;
    margin-top: 4px;
}

#birth-date-alert.invisible{
    height: 0;
}

.btn-orange.logout{
    background: var(--celebrate-–-mustard) 0% 0% no-repeat padding-box !important;
    background: #FCC44C 0% 0% no-repeat padding-box !important;
}

.btn-orange.logout:hover{
    border-color: var(--celebrate-–-mustard) !important;
    color: var(--celebrate-–-mustard) !important;
}

.top-text-shadow{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-90) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 80px/90px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000066;
    opacity: 1;
    margin: 0;
}

.user-sections-container{
    background: #f6f6f6;
}

.sections-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.menu-item{
    background: white;
    height: 60px;
    padding-left: 20px;
    min-width: 220px;
    margin-bottom: 2px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 17px/23px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 3.5;
}

.menu-item.link-active{
    background: #ebebeb;
    border-left: 4px solid #bfa4ce;
}

.logout-icon-menu{
    display: block;
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.section-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.page-sections{
    // background: white;
}

.section-item-preview{
    background: white;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.section-item-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.section-item-title-regular{
    font-size: 24px;
    font-family:Sharp Sans No1 Bold;
    margin: 0;
    text-align: center;
    padding: 30px;
}

.right-link-text{
    padding-top: 10px;
    //font-size: 14px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: right;
    font: normal normal normal 18px/24px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.right-link-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.right-link{
    padding-top: 10px;

}

.right-link-img{
    display: block;
    width: 25px;
    margin: 17px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.notification-action{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

.notification-action:hover{
    text-decoration: underline;
}

.notification-action > p{
    font-size: 18px;
}

.action-button-right{
    display: flex;
    flex-direction: row;
    // width: 140px;
    width: 200px;
    justify-content: space-around;
    margin-right: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    transition: all .3s linear;
}

.action-button-right-text{
    color: white !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-23) Sharp Sans No1 Semibold;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 17px/23px Sharp Sans No1 Semibold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 2.4;
    transition: all .3s linear;
}

.action-button-right > img {
    transition: all .3s ease;
    filter: contrast(1);
}

.action-button-right:hover > img {
    filter: contrast(0);
    transform: scale(1.2);
}

.action-button-right.purple{
    background: #a375bc;
    border: 3px solid transparent;
}
.action-button-right.purple:hover{
    background: white;
    border: 3px solid #a375bc;
}
.action-button-right.purple:hover > p {
    color: #a375bc !important;
}

.action-button-right.orange{
    background: #f28e33;
    border: 3px solid transparent;
}
.action-button-right.orange:hover{
    background: white;
    border: 3px solid #f28e33;
}
.action-button-right.orange:hover > p {
    color: #f28e33 !important;
}

.action-button-right.green{
    background: #a3d147;
    border: 3px solid transparent;
}
.action-button-right.green:hover{
    background: white;
    border: 3px solid #a3d147;
}
.action-button-right.green:hover > p {
    color: #a3d147 !important;
}


.pen-icon{
    display: block;
    width: 25px;
    height: 25px;
    margin: 17px;
    margin-top: auto;
    margin-bottom: auto;
}



.section-item-content{
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    background: white;
    width: 100%;
}

.section-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.line-bottom{
    background: black;
    height: 1px;
}

.notifications-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.notification-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notification-card.red-border{
    border: 5px solid #ff0000;
    font-family:Sharp Sans No1 Bold;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.notification-card-border{
    height: 2px;
    background: #a9a9a9;
}

.notification-content{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/24px var(--unnamed-font-family-sharp-sans-no1-medium);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 18px/24px Sharp Sans No1 Medium;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.notification-content.bold{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/25px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 18px/25px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.notification-error-img, .notification-green-img{
    width: 24px;
}


.personal-info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personal-info-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-item-label{
    font-size: 14px;
    margin: 0;
}

.info-item-val{
    font-family:Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}




.modal-content.padded{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.validation-modal-header{
    display: flex;
    flex-direction: column;
}


.validationModal-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-37)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-bebas-neue);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 37px/40px Bebas Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.close-modal-img{
    cursor: pointer;
    width: 40px;
}

.verification-row{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.verify-label{
    font-size: 14px;
}

.verification-input{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family:Sharp Sans No1 Bold;
}

.profile-pass-visibility{
    position: absolute;
    right: 5px;
    bottom: 31px;
    cursor: pointer;
}

.profile-pass-visibility.old{
    bottom: 7px;
}

.profile-pass-visibility.new{
    top: 37px;
}

.forgotpass-link{
    margin: 0;
    margin-left: auto;
    font-family:Sharp Sans No1 Bold;
}

.personal-info-label{
    font-size: 14px;
}

.personal-info-address{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family:Sharp Sans No1 Bold;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.enter-manually > p{
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.personal-info-dropdown{
    margin-top: 6px;
}

.address-lookup-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lookup-address-btn{
    max-height: 38px;
    margin-top: 6px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 4px;
}

.lookup-search-icon{
    width: 20px;
    height: 20px;
}

.personal-info-text-input{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: Sharp Sans No1 Bold;
}

.personal-info-text-input.date{
    width: 180px;
}



.account-info-item{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.account-item-label{
    font-size: 14px;
    margin: 0;
}

.account-item-val{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin: 0;
}


.account-info-row{
    display: flex;
    flex-direction: row;
}

.account-info-row.padded{
    padding-top: 20px;
    padding-bottom: 20px;
}


.pass-strength{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15px;
}

#progress {
    width: 150px;
    background-color: #ebebeb;
    border-radius: 25px;
    height: 10px;
    margin-top: 7px;
}
  
#bar {
    width: 10%;
    height: 10px;
    background-color: #23aaf7;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    transition: 0.25s ease-in-out;
}

#bar-card {
    width: 10%;
    height: 10px;
    background-color: #23aaf7;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    transition: 0.25s ease-in-out;
}


.blue-dot{
    background: #23aaf7;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 7px;
    margin-left: 0;
}

.pass-info-text{
    font-size: 12px;
}

.communications-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-25)/35px var(--unnamed-font-family-sharp-sans-no1-bold);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 25px/35px Sharp Sans No1 Bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}



.newsletter-box{
    display: flex;
    flex-direction: row;
    border: 2px solid #a375bc;
    border-radius: 5px;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.newsletter-box.inactive{
    border: 2px solid #dac7e4;
}

.tick-img{
    width: 25px;
    display: block;
    cursor: pointer;
}

.newsletter-text{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sharp-sans-no1-book);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/28px Sharp Sans No1 Book;
    letter-spacing: 0px;
    color: #000000;
}

.newsletter-text-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin-right: 45px;
}


.sections-menu-mobile{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 22px;
}

.mobile-menu-item{
    height: 60px;
    // line-height: 3.4;
    padding-left: 20px;
    min-width: 220px;
    margin-bottom: 5px;
    cursor: pointer;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mobile-menu-item > p{
    font-family: Sharp Sans No1 Bold;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.mobile-menu-item > p.left{
    margin-left: 10px;
}

.mobile-menu-item > p.left.norightmargin {
    margin-left: 10px;
    margin-right: 0;
}

.mobile-menu-item > p.center{
    margin-left: auto;
    margin-right: auto;
}

.mobile-img-logout{
    display: block;
    width: 18px;
    height: auto;
    margin-left: 0;
    margin-right: 10px;    
    margin-top: auto;
    margin-bottom: auto;
}


.mobile-img-arrow-next{
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

.mobile-img-arrow-back{
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.modal {
    overflow-y:auto;
}

.sale-details-alert{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

// image breakpoint
@media (max-width: 1420px){

}

// image breakpoint 2
@media (max-width: 1300px){
   
}

// general
@media (max-width: 1130px){

}

// tablets - large
@media (max-width: 990px){

}

// text breakpoint
@media (max-width: 770px){

}

// tablets - regular
@media (max-width: 768px) {
    .sections-menu, .page-sections{
        display: none;
    }

    .section-items{
        margin-left: 0;
    }

    .section-item-content{
        width: 100%;
    }

    .verification-row, .personal-info-row, .account-info-row{
        flex-direction: column;
    }

    .newsletter-box{
        margin-bottom: 10px;
    }

    .page-sections{
        padding: 22px;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
    }

    .sections-row{
        flex-direction: column;
        padding: 0 !important;
    }

    .sections-menu-mobile{
        display: flex;
        //margin-left: 20px;
    }

    .section-header{
        flex-wrap: wrap;
    }
}

// // tablets - breakpoint
// @media (max-width: 890px){
// }

// // tablets - regular
// @media (max-width: 625px){

// }


// // mobile
// @media (max-width: 560px){

// }

// // mobile - small
// @media (max-width: 380px){

    
// }