.top-text-shadow{
    text-shadow: 0px 1px #798080;
    font-size: 64px;
    color: white;
    font-family:Sharp Sans No1 Bold;
}

.user-sections-container{
    background: #f6f6f6;
}

.sections-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.menu-item{
    background: white;
    height: 60px;
    line-height: 3.6;
    padding-left: 20px;
    min-width: 220px;
    font-family:Sharp Sans No1 Bold;
    margin-bottom: 2px;
    cursor: pointer;
    user-select: none;
}

.menu-item.link-active{
    background: #ebebeb;
    border-left: 4px solid #bfa4ce;
}

.section-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.page-sections{
    background: white;
}

.section-item-preview{
    background: white;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.section-item-title{
    font-size: 28px;
    font-family:Sharp Sans No1 Bold;
    text-transform: uppercase;
    margin: 0;
}

.right-link-text{
    padding-top: 10px;
    font-size: 14px;
}

.right-link-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.right-link{
    padding-top: 10px;

}

.right-link-img{
    display: block;
    width: 25px;
    margin-left: 10px;
}

.action-button-right{
    display: flex;
    flex-direction: row;
    width: 140px;
    justify-content: space-around;
    margin-right: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.action-button-right-text{
    color: white !important;
    line-height: 2.5;
}

.action-button-right.purple{
    background: #a375bc;
}

.action-button-right.orange{
    background: #f28e33;
}

.action-button-right.green{
    background: #a3d147;
}


.pen-icon{
    display: block;
    width: 25px;
    height: 25px;
    margin: 3px;
}



.section-item-content{
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.section-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.line-bottom{
    background: black;
    height: 1px;
}

.notifications-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.notification-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notification-card.red-border{
    border: 5px solid #ff0000;
    font-family:Sharp Sans No1 Bold;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.notification-card-border{
    height: 2px;
    background: #a9a9a9;
}