.scanning-items-table{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.modal-xl {
    max-width: 100% !important;
}

.modal.small-padding{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
