.portal-dashboard{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.portal-dashboard-elements{
    width: 30%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;

    margin: 15px;
}

.portal-elements-links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portal-elements-links-container a{
    width: 100px;
    height: 100px;

    background-color: #52A10E;
    border-radius: 8px;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5px;
}














// audit trail - customer care - tradein summary
.job-status-container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.job-status{
    margin-bottom: 25px;
}

.lock-status-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lock-status-title{
    width: 200px;
    padding: 4px;
    margin: 0;
}

.radio-lock-status{
    display: flex;
    flex-direction: row;
    width: 120px;
}

.radio-lock-status-label{
    padding: 4px;
    margin: 0;
}

.lock-status-checkbox{
    width: 20px;
}

.add-note-button{
    font-weight: 700;
    cursor: pointer;
}

#audit-note{
    display: flex;
    flex-direction: column;
}

.note-bold-title{
    font-family: Sharp Sans No1 Bold;
}

#note_text{
    min-height: 200px;
    padding: 8px;
}

.note_item{
    padding: 4px;
    border-bottom: 1px solid black;
    text-align: left;
    display: flex;
    margin-bottom: 4px;
}

.note_item_text{
    color: black;
    margin-left: 0;
    font-size: 1em;
    padding: 7px;
    height: 28px;
    overflow: hidden;
}


.logs-container{
    width: 100%;
    height: 100%;
    min-height: 400px;
}

















// recycle offers
.add-recycle-offer-btn{
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
}

.pound-sign-newoffer{
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Sharp Sans No1 Bold !important;
    font-size: 22px;
    margin-right: 4px;
}

.edit-offer{
    color: black;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.offer-banner-preview{
    max-width: 800px;
    height: auto;
    margin: 20px auto;
}

.no-border-lr{
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}